@model UI.Models.Record.o40Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Poštovní účet");
}
@addTagHelper *, UI




<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Využití poštovního účtu"):</label>
        <div class="col-sm-11 col-md-10">
            <select asp-for="@Model.UsageFlag" class="form-select">
                <option value="1">@_f.tra("Privátní SMTP účet")</option>
                <option value="2">@_f.tra("Globální SMTP účet")</option>
            </select>
        </div>
    </div>
    <div id="divOwner" class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vlastník účtu"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="@Model.ComboPerson" filter-flag="1" myqueryinline="j02isintraperson|bool|1"></mycombo>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Smtp server"):</label>
        <div class="col-sm-8 col-md-7">
            <input class="form-control" asp-for="Rec.o40Server" />

        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Port"):</label>
        <div class="col-sm-2 col-md-2">
            <mynumber asp-for="@Model.Rec.o40Port" decimal-digits="0"></mynumber>
        </div>
    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Jméno odesílatele"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.o40Name" />

        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("E-mail odesílatele"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.o40EmailAddress" />

        </div>
    </div>



    <div class="my-2">
        <input asp-for="Rec.o40IsVerify" />
        <label for="Rec_o40IsVerify">@_f.tra("Smtp účet vyžaduje autentifikaci")</label>
    </div>
    <div id="credentials">
        <div class="row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Smtp login"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.o40Login" autocomplete="off" />

            </div>
        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Smtp heslo"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" type="text" asp-for="Rec.o40Password" autocomplete="off" placeholder="@_f.tra("Heslo zadávejte pouze pokud ho měníte nebo pro nový účet.")" />

            </div>
        </div>
    </div>
    <div class="my-2">
        <input asp-for="@Model.IsUseSSL" />
        <label for="IsUseSSL">@_f.tra("Podpora SSL")</label>
    </div>










</div>




<script type="text/javascript">
    $(document).ready(function () {
        handle_ucet_state();


        $("#Rec_o40IsVerify").on("click", function () {
            handle_ucet_state();
        });
        $("#UsageFlag").on("change", function () {
            handle_ucet_state();
        });
    });

    


    function handle_ucet_state() {

        if ($("#Rec_o40IsVerify").prop("checked") == true) {
            $("#credentials").css("display", "block");

        } else {
            $("#credentials").css("display", "none");
        }

        if ($("#UsageFlag").val() == "1") {
            $("#divOwner").css("visibility", "visible");
        } else {
            $("#divOwner").css("visibility", "hidden");
        }
    }

</script>



