@model UI.Models.Record.j03Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Uživatelský účet");
}
@addTagHelper *, UI



<input type="hidden" asp-for="@Model.IsDefinePassword" value="@Model.IsDefinePassword" />
<input type="hidden" asp-for="@Model.IsChangeLogin" value="@Model.IsChangeLogin" />

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Uživatelské jméno (Login)"):</label>
        <div class="col-sm-5 col-md-4">
            @if (Model.rec_pid > 0 && Model.IsChangeLogin == false)
            {
                <input class="form-control" readonly="readonly" asp-for="Rec.j03Login" />

            }
            else
            {
                <input class="form-control" asp-for="Rec.j03Login" />
                <span asp-validation-for="Rec.j03Login" class="text-danger"></span>
            }


        </div>
       
        <div class="col-sm-3 col-md-3">
            @if (Model.rec_pid > 0 && Model.IsChangeLogin == false)
            {
                <button id="cmdChangeLogin" type="button" class="btn btn-secondary btn-sm">@_f.tra("Změnit uživatelské jméno")</button>
            }
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Aplikační role"):</label>
        <div class="col-sm-5 col-md-4">
            <mycombo entity="j04UserRole" asp-for="Rec.j04ID" selectedtext="@Model.ComboJ04Name" view-flag="2"></mycombo>
        </div>
        <div class="col-sm-3 col-md-3">
            <input type="checkbox" asp-for="Rec.j03IsSystemAccount" />
            <label class="col-form-label" for="Rec_j03IsSystemAccount">@_f.tra("Jedná se o systémový účet")</label>

        </div>
        
        <div class="col-sm-3 col-md-3">
            @if (Model.IsDefinePassword == false)
            {
                <button id="cmdNewPassword" type="button" class="btn btn-secondary btn-sm">@_f.tra("Vygenerovat nové přístupové heslo")</button>
            }
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Jazyk"):</label>
        <div class="col-sm-5 col-md-4">
            <select asp-for="Rec.j03LangIndex" class="form-select">
                <option value="0">Česky</option>
                <option value="2">English</option>
                <option value="4">Slovenčina</option>
            </select>
        </div>
    </div>


    @if (Model.IsDefinePassword)
    {
        <div id="divNewPwd" style="margin-top:10px;">
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přístupové heslo"):</label>
                <div class="col-sm-6 col-md-5">
                    <input class="form-control" style="background-color:lightgoldenrodyellow;" autocomplete="off" asp-for="@Model.NewPassword" />
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Ověření hesla"):</label>
                <div class="col-sm-6 col-md-5">
                    <input class="form-control" style="background-color:lightgoldenrodyellow;" autocomplete="off" asp-for="@Model.VerifyPassword" />
                    <span asp-validation-for="@Model.VerifyPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    }




    <div class="card">
        <div class="card-header">
            <input type="radio" id="user_profile_create" asp-for="@Model.user_profile_oper" value="create">
            <label for="user_profile_create">@_f.tra("Založit nový osobní profil uživatele")</label>
            <input type="radio" id="user_profile_bind" asp-for="@Model.user_profile_oper" value="bind">
            <label for="user_profile_bind">@_f.tra("Svázat uživatele s již existujícím osobním profilem")</label>
            <input type="radio" id="user_profile_nobind" asp-for="@Model.user_profile_oper" value="nobind">
            <label for="user_profile_nobind">@_f.tra("Technologický účet bez vazby na osobní profil")</label>
        </div>
        @if (Model.user_profile_oper == "bind")
        {
            <div id="divPersonalProfileBind" class="card-body">

                <mycombo entity="j02Person" asp-for="Rec.j02ID" selectedtext="@Model.ComboPerson" filter-flag="1" myqueryinline="j02isintraperson|bool|1" placeholder="@_f.tra("Vybrat osobní profil")..."></mycombo>

            </div>
        }

        @if (Model.user_profile_oper == "create")
        {
            <div id="divPersonalProfileCreate" class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <myautocomplete asp-for="RecJ02.j02TitleBeforeName" o15flag="1" placeholder="@_f.tra("Titul")"></myautocomplete>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        <input class="form-control" asp-for="RecJ02.j02FirstName" placeholder="@_f.tra("Jméno")" />


                    </div>
                    <div class="col-sm-5 col-md-5">
                        <input class="form-control" asp-for="RecJ02.j02LastName" placeholder="@_f.tra("Příjmení")" />

                    </div>
                    <div class="col-sm-2 col-md-2">
                        <myautocomplete asp-for="RecJ02.j02TitleAfterName" o15flag="2"></myautocomplete>
                    </div>

                </div>
                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Osobní kód"):</label>
                    <div class="col-sm-4 col-md-3">
                        <input class="form-control" asp-for="RecJ02.j02Code" />

                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("E-mail"):</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" type="email" asp-for="RecJ02.j02Email" />

                    </div>
                </div>

                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Mobilní telefon"):</label>
                    <div class="col-sm-4 col-md-3">
                        <input class="form-control" type="tel" asp-for="RecJ02.j02Mobile" />

                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Pevný tel"):</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" type="tel" asp-for="RecJ02.j02Phone" />

                    </div>
                </div>
            </div>
        }

    </div>
    <div>
        
        <a id="cmdOther" class="btn btn-light dropdown-toggle" data-bs-toggle="collapse" href="#divOther" role="button" aria-expanded="false" aria-controls="divOther">@_f.tra("Ostatní")</a>

       

        
    </div>

    <div id="divOther" style="display:none;padding:20px;">
       
        <div class="row">
            <div class="col">
                <input type="checkbox" asp-for="Rec.j03IsDebugLog" />
                <label class="col-form-label" for="Rec_j03IsDebugLog">@_f.tra("DEBUG loggging (for IT)")</label>
            </div>
        </div>
    </div>

    

</div>


<script type="text/javascript">
    $(document).ready(function () {
       
        $("#cmdOther").click(function () {
            $("#divOther").toggle();
        });

        $("#user_profile_create").on("change", function () {
            form1.action = "/j03/Record?oper=postback";
            form1.submit();
        });
        $("#user_profile_bind").on("change", function () {

            form1.action = "/j03/Record?oper=postback";
            form1.submit();
        });
        $("#user_profile_nobind").on("change", function () {

            form1.action = "/j03/Record?oper=postback";
            form1.submit();
        });
        $("#cmdNewPassword").on("click", function () {
            form1.action = "/j03/Record?oper=newpwd";
            form1.submit();
        });
        $("#cmdChangeLogin").on("click", function () {
            form1.action = "/j03/Record?oper=changelogin";
            form1.submit();
        });

        

        @if (Model.rec_pid == 0)
        {
        <text>

        $("#divNewPwd").css("display", "block");
        </text>
        }



    });

    

</script>