@model UI.Models.b07list
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";

}

@addTagHelper *, UI

<div>
    <a class="btn btn-sm btn-outline-success" href="javascript:_window_open('/b07/Record?pid=0&prefix=@(Model.master_entity.Substring(0,3))&recpid=@(Model.master_pid)')"><span class="material-icons-outlined-btn">add</span> @_f.tra("Nový")</a>
</div>


@foreach (var c in Model.lisB07)
{
    <div class="card recpageboxauto">
        <div class="card-title recpagetitle">
            @if (c.j02ID_Owner == _f.CurrentUser.j02ID || _f.CurrentUser.IsAdmin)
            {
                <myval value="@(c.UserInsert+"/"+BO.BAS.ObjectDateTime2String(c.DateInsert))" hoversymol="Upravit" hoverurl="javascript:_edit('b07',@(c.pid))"></myval>
            }
            else
            {
                <myval value="@(c.UserInsert+"/"+BO.BAS.ObjectDateTime2String(c.DateInsert))"></myval>
            }
        </div>
        <div class="card-body">
            @if (Model.master_pid !=c.b07RecordPID && Model.master_entity.Substring(0,2) == "le")
            {
                <div class="bgp41">
                    @(_f.CBL.GetObjectAlias("p41",c.b07RecordPID))
                </div>
            }
            @if (c.b07Date != null)
            {
                <div style="color:royalblue;">
                    <span class="material-icons-outlined">event</span>
                    <strong>
                        @if (Convert.ToDateTime(c.b07Date).Hour > 0)
                        {
                            @(BO.BAS.ObjectDateTime2String(c.b07Date))
                        }
                        else
                        {
                            @(BO.BAS.ObjectDate2String(c.b07Date))
                        }
                    </strong>
                </div>
            }
            @if (c.b07ReminderDate != null && Convert.ToDateTime(c.b07ReminderDate) > DateTime.Now.AddMinutes(60))
            {
                <div style="color:red;">
                    <span class="material-icons-outlined">notifications</span>
                    <strong>
                        @(BO.BAS.ObjectDateTime2String(c.b07Date))
                    </strong>
                </div>
            }
            @if (c.b07LinkUrl != null)
            {
                <div>
                    
                    <a href="@c.b07LinkUrl" target="_blank">
                        <span class="material-icons-outlined">language</span>
                        @c.b07LinkName
                    </a>
                </div>
            }

            @if (c.b07Value != null)
            {
                @Html.Raw(BO.BAS.Text2Html(c.b07Value))
            }

            @if (Model.lisO27.Any(p => p.b07ID == c.pid))
            {
                foreach (var cc in Model.lisO27.Where(p => p.b07ID == c.pid))
                {
                    <div>
                        
                        <a target="_blank" href="/FileUpload/FileDownloadInline?downloadguid=@cc.o27GUID">
                            <span class="material-icons-outlined">file_download</span>
                            @cc.o27OriginalFileName
                        </a>
                        <span>@(BO.BAS.FormatFileSize(cc.o27FileSize))</span>
                    </div>
                }
            }
        </div>
    </div>
}