@model UI.Models.Record.x51Record
@inject BL.Factory _f

@{   
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Nápověda");
}
@addTagHelper *, UI

@section header_content{

    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet">
}



<script src="~/lib/summernote/summernote-lite.min.js"></script>
@switch (_f.CurrentUser.j03LangIndex)
{
    case 0:
        <script src="~/lib/summernote/lang/summernote-cs-CZ.js"></script>
        Model.EditorLanguageKey = "cs-CZ";
        break;
    case 1:
        Model.EditorLanguageKey = "en-US";
        break;
    case 2:
        Model.EditorLanguageKey = "de-DE";
        break;
    case 4:
        Model.EditorLanguageKey = "sk-SK";
        break;

}


<input type="hidden" asp-for="@Model.Source" />

<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-10 col-md-9">
            <input class="form-control" asp-for="Rec.x51Name" />
            <span asp-validation-for="Rec.x51Name" class="text-danger"></span>
        </div>



    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">View Url:</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.x51ViewUrl" />
            <span asp-validation-for="Rec.x51ViewUrl" class="text-danger"></span>
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Externí Url"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.x51ExternalUrl" />
            <span asp-validation-for="Rec.x51ExternalUrl" class="text-danger"></span>
        </div>

    </div>
    <div class="my-2">
        <textarea asp-for="Rec.x51NearUrls" class="form-control" placeholder="@_f.tra("Související Urls")"></textarea>

    </div>

</div>
<input type="hidden" id="hidContent" asp-for="@Model.HtmlContent" />
<div id="editor1"></div>





<script type="text/javascript">
    $(document).ready(function () {
        var ofs = $("#editor1").offset();
        var hh = _device.innerHeight - ofs.top - 120;

        $("#editor1").summernote({
            lang: "@Model.EditorLanguageKey", // default: 'en-US', česky: cs-CZ, ukrajinsky: uk-UA
            placeholder: "@_f.tra("Text nápovědy")",
            tabsize: 2,
            height: hh
        });


        var firstdata = $("#hidContent").val();
        $("#editor1").summernote("code", firstdata);

        $("#editor1").on("summernote.change", function (e) {   // callback as jquery custom event
            var s = $("#editor1").summernote("code");
            $("#hidContent").val(s);
        });

    });






</script>



