@model UI.Models.Record.x67Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Role");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control" asp-for="Rec.x67Name" />
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.x67Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Entita"):</label>
        <div class="col-sm-7 col-md-6">
            <select asp-for="@Model.Rec.x29ID" class="form-select" disabled>
                <option value="p91Invoice">@_f.tra("Vyúčtování")</option>
                <option value="p90Proforma">@_f.tra("Záloha")</option>
                <option value="p41Project">@_f.tra("Projekt")</option>
                <option value="p28Contact">@_f.tra("Klient")</option>
                <option value="o23Doc">@_f.tra("Dokument")</option>
                <option value="x31Report">@_f.tra("Tisková sestava")</option>
            </select>
            <input type="hidden" asp-for="@Model.x29ID" />
        </div>

    </div>

    @if (Model.x29ID == 141)
    {
        <div class="card">
            <div class="card-header">@_f.tra("Oprávnění k úkonům v projektu")</div>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>@_f.tra("Sešit")</th>
                        <th>@_f.tra("Vykazování úkonů v projektu")</th>
                        <th>@_f.tra("Dohled na úkony ostatních lidí v projektu")</th>
                    </tr>
                    @for (int i = 0; i < Model.lisO28.Count(); i++)
                    {
                        <tr>
                            <td>
                                <span>@(Model.lisO28[i].p34Name+":")</span>
                                <input type="hidden" asp-for="@Model.lisO28[i].p34ID" />
                                <input type="hidden" asp-for="@Model.lisO28[i].p34Name" />
                            </td>
                            <td>
                                <select class="form-select" asp-for="@Model.lisO28[i].o28EntryFlag">
                                    <option value="NemaPravoZapisovatWorksheet">@_f.tra("Nemá oprávnění vykazovat úkony do projektu")</option>
                                    <option value="ZapisovatDoProjektuIDoUloh">@_f.tra("Má oprávnění vykazovat úkony do projektu")</option>
                                    <option value="ZapisovatDoProjektuNadrizenym">@_f.tra("Za osobu vykazuje úkony jeho nadřízený")</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" asp-for="@Model.lisO28[i].o28PermFlag">
                                    <option value="PouzeVlastniWorksheet">@_f.tra("Pouze vlastní úkony")</option>
                                    <option value="CistVseVProjektu">@_f.tra("Číst vše v rámci projektu")</option>
                                    <option value="CistAEditVProjektu">@_f.tra("Číst a upravovat vše v rámci projektu")</option>
                                    <option value="CistASchvalovatVProjektu">@_f.tra("Číst a schvalovat vše v rámci projektu")</option>
                                    <option value="CistAEditASchvalovatVProjektu">@_f.tra("Číst, upravovat a schvalovat vše v rámci projektu")</option>
                                </select>
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    }


    <div class="card">
        <div class="card-header">
            @_f.tra("Výčet možných oprávnění role")
        </div>
        <div class="card-body">
            <mycheckboxlist asp-for="@Model.SelectedX53IDs" datasource="@Model.lisAllX53" valuefield="x53ID" textfield="x53Name"></mycheckboxlist>
        </div>
    </div>

</div>
