@model BaseViewModel
@inject BL.RunningApp _app
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.PageTitle = _f.tra("O aplikaci");
}
@addTagHelper *, UI




<div class="modal_record_container">
    <h4>@Model.PageTitle</h4>


    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Verze"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@_app.AppVersion"></myval>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Build:</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@_app.AppBuild"></myval>

        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("E-mail podpora"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@("info@marktime.cz")" datatype="link" linkurl="mailto:info@marktime.cz"></myval>


        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Telefon"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@("+420 605 047 298")"></myval>

        </div>

    </div>


    <div class="row my-2 my-4">
        <i>
            Za vývoj jádra systému odpovídá Jiří Theimer (CleverApp s.r.o.)
        </i>
    </div>

    <img src="/images/logo_login.jpg" />


</div>

<div style="width:400px;margin-left:400px;">


    <div class="dropdown" id="divCBX">
        <button class="btn btn-light dropdown-toggle form-control" type="button" id="cbx1" data-bs-toggle="dropdown" aria-expanded="false" style="border: solid 1px #C8C8C8; border-radius: 3px;width:100%;text-align:left;">
            Vybraná combo hodnota
        </button>
        <button type="button" class="btn btn-secondary" onclick="alert('del')" style="position:absolute;top:0;right:0;border: solid 1px #C8C8C8; border-radius: 3px;">
            <span aria-hidden='true'>&times;</span>
        </button>


        <div class="dropdown-menu" aria-labelledby="cbx1" style="width:100%;">
            <input type="text" id="find1" class="form-control" placeholder="Hledej" />
            <div style="overflow:auto;height:200px;">
                <table>
                    @for (int i = 1; i <= 200; i++)
                    {
                        <tr>
                            <td>
                                položka@(i)
                            </td>
                        </tr>
                    }


                </table>
            </div>

        </div>


    </div>

    
</div>


<a asp-area="mobile" asp-controller="Home" asp-action="about">Go to Mobile Area</a>

<div>
    <div class="accordion" id="accordionExample" style="width:400px;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button id="cmdOne" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body p-0">
                    <ul style='list-style:none;padding:0px;'>
                        <li>
                            <a class="nav-link" href="#">Report Alfa</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Podrobný výpis vykázaných hodin podle klient->projekt</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Rozpracovanost klienta do 2 tabulek (na výšku)</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Simulace efektivních sazeb v paušálních odměnách, pouze status [Zahrnout do paušálu]</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Simulace efektivních sazeb v paušálních odměnách projektu</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button id="cmdTwo" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    
    
    $("#cmdTwo").removeClass("collapsed");
    $("#collapseTwo").addClass("show");

    var myDropdown = document.getElementById('divCBX')
    myDropdown.addEventListener("show.bs.dropdown", function () {
        // do something...

        setTimeout(function () {
            //focus až po 300ms
            $("#find1").focus();
            $("#find1").select();

        }, 200);

        _notify_message("EE");
    })

</script>