@model BaseViewModel
@inject BL.RunningApp _app
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.PageTitle = _f.tra("O aplikaci");
}
@addTagHelper *, UI




<div class="modal_record_container">
    <h4>@Model.PageTitle</h4>


    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Verze"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@_app.AppVersion"></myval>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Build:</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@_app.AppBuild"></myval>

        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("E-mail podpora"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@("info@marktime.cz")" datatype="link" linkurl="mailto:info@marktime.cz"></myval>


        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Telefon"):</label>
        <div class="col-sm-7 col-md-6">
            <myval value="@("+420 605 047 298")"></myval>

        </div>

    </div>


    <div class="row my-2 my-4">
        <i>
            Za vývoj jádra systému odpovídá Jiří Theimer (CleverApp s.r.o.)
        </i>
    </div>

    <img src="/images/logo_login.jpg" />


</div>




<a asp-area="mobile" asp-controller="Home" asp-action="about">Go to Mobile Area</a>




<script type="text/javascript">
    $(document).ready(function () {
        _mainmenu_highlight_current("cmdMyProfile");


    });
    
    
  
</script>