@model ChangePasswordViewModel
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Změna přihlašovacího hesla");
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="modal_record_container">
    <h4>@Model.PageTitle</h4>


    <form asp-action="ChangePassword">


        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Současné heslo"):</label>

            <div class="col-sm-7 col-md-6">
                <input asp-for="@Model.CurrentPassword" class="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nové heslo"):</label>
            <div class="col-sm-7 col-md-6">
                <input type="text" asp-for="@Model.NewPassword" class="form-control" autocomplete="off" />
            </div>


        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Ověření nového hesla"):</label>
            <div class="col-sm-7 col-md-6">
                <input type="text" asp-for="@Model.VerifyPassword" class="form-control" autocomplete="off" />
            </div>
        </div>

        <p></p>
        <input type="submit" value="@_f.tra("Potvrdit")" class="btn btn-default btn-primary" />
    </form>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        _mainmenu_highlight_current("cmdMyProfile");


    });
</script>


