@model MyMainMenuLinks
@inject BL.Factory _f


@{
    Model.PageTitle = _f.tra("Nastavit odkazy pro mé hlavní menu");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageSymbol = "<span class='k-icon k-i-menu' style='font-size:170%;'></span>";
}

@addTagHelper *, UI

@section header_content{
    <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
}


<script src="/kendo/js/kendo.core.min.js"></script>
<script src="/kendo/js/kendo.userevents.min.js"></script>
<script src="/kendo/js/kendo.data.min.js"></script>

<script src="/kendo/js/kendo.selectable.min.js"></script>
<script src="/kendo/js/kendo.listbox.min.js"></script>



<div class="bg-light" style="padding:10px;">
    <button type="button" id="cmdSave" class="btn btn-success">@_f.tra("Uložit změny")</button>

    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>



</div>

<form id="form1" asp-controller="Home" asp-action="MyMainMenuLinks" method="POST">

    

    <div class="row" style="width:100%;min-height:300px;">
        <div class="col-auto">
            <label for="zdroj">@_f.tra("Nabídka odkazů")</label>
            <br />
            <select id="zdroj" style="height:100%;width:200px;">
            </select>
        </div>
        <div class="col-auto">
            <label for="zdroj">@_f.tra("Vybrané odkazy")</label>
            <br />
            <select id="cil" style="height:100%;width:200px;">
            </select>
        </div>
    </div>
    
    <input type="hidden" asp-for="@Model.SelectedItems" />
</form>


<script type="text/javascript">

    $(document).ready(function () {
        var jsonZdroj = @Json.Serialize(Model.lisZdroj);
        var jsonCil=@Json.Serialize(Model.lisCil);

        $("#zdroj").kendoListBox({
            dataSource: jsonZdroj,
            dataTextField: "name",
            dataValueField: "id",
            connectWith: "cil",
            toolbar: {
                tools: ["transferTo", "transferFrom"]
            }
        });

        $("#cil").kendoListBox({
            dataSource: jsonCil,
            dataTextField: "name",
            dataValueField: "id",
            connectWith: "cil",
            toolbar: {
                tools: ["moveUp", "moveDown"]
            }
        });


        

        $("#cmdSave").click(function () {
            var listBox = $("#cil").data("kendoListBox");
            var selectedHtmlItems = listBox.wrapper.find(".k-item");
            var ids = [];
            $.each(selectedHtmlItems, function (idx, item) {
                ids.push(listBox.dataItem(item).id);
            });

            $("#SelectedItems").val(ids.join(","));

            
            form1.submit();
        });

    });

</script>