@model AdminHome
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Administrace");
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@addTagHelper *, UI

<style type="text/css">
    a.topmenulink_active {
        padding: 0px;
        background-color: #ffa500;
    }

        a.topmenulink_active:hover {
            background-color: #ffa500 !important;
        }

    a.topmenulink {
        padding: 0px;
        background-color: #2D89EF;
        color: white !important;
    }

        a.topmenulink:hover {
            color: white !important;
            background-color: royalblue !important;
        }
</style>

<div class="row pt-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'AdminMenu',0,'');">☰@Model.PageTitle</a>
        <h4 id="layout_sidebar_contextmenu_onlytext">@Model.PageTitle</h4>
    </div>

    <div class="col-auto nonmobile tabovergrid">
        @_f.tra("ÚVOD")
        <span id="TheGridRows" class="badge bg-primary"></span>
    </div>
  
    <div class="nonmobile ml-2 col-auto">
        <a class="btn btn-light" href="/Admin/Index" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
    </div>
   
</div>

<div id="layout_sidebar" class="cm_recpage"></div>



<div id="layout_main">

    <div class="row p-4 m-0">
        <div class="col-auto">
            <button id="cmdGlobalParams" type="button" class="btn btn-primary"><span class="k-icon k-i-gear"></span> @_f.tra("Globální parametry")</button>
        </div>
        <div class="col-auto">
            <button id="cmdLogo" type="button" class="btn btn-primary"><span class="k-icon k-i-image"></span> @_f.tra("Nahrát grafické logo")</button>
            
        </div>
        <div class="col-auto">
            <iframe frameborder="1" src="/FileUpload/LogoFile?logofilename=@(_f.x35GlobalParamBL.CompanyLogoFile())"></iframe>
            
        </div>
    </div>

    <div class="card" >
        <div class="card-header">
            @_f.tra("Globální parametry")
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th style="width:200px;"></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Verze aplikace"):
                    </td>
                    <td>
                        @(_f.App.AppVersion)
                        <br />
                        @_f.App.AppBuild
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Veřejná URL adresa"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("AppHost")
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Název databáze"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("AppName")
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Zaokrouhlovat vykázané hodiny"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("Round2Minutes")
                    </td>
                    <td>
                        @_f.tra("Minuty nahoru")
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Povolit uživatelům obnovu zapomenutého hesla"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("IsAllowPasswordRecovery")
                    </td>
                    <td>
                        @_f.tra("Tlačítko [Obnovit zapomenuté heslo] na přihlašovací stránce")
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Domácí měna"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("j27ID_Domestic")
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Domácí stát"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("COUNTRY_CODE")
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @_f.tra("Čas posledního spuštění robota"):
                    </td>
                    <td>
                        @_f.x35GlobalParamBL.LoadParam("robot_cache_lastrequest")
                    </td>
                    <td>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <p></p>
    <div class="card" style="max-width:500px;">
        <div class="card-header">
            @_f.tra("Nastavení fakturačních jazyků")
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <td>
                        @(_f.tra("Fakturační jazyk")+" #0:")
                    </td>
                    <td>
                        @_f.tra("Domácí jazyk")
                    </td>
                    <td>
                        <i>Čeština/Slovenčina</i>
                    </td>
                </tr>
                @for (int i = 0; i < Model.lisP87.Count(); i++)
                {
                    <tr>
                        <td>
                            @(_f.tra("Fakturační jazyk")+" #"+Model.lisP87[i].p87LangIndex.ToString()+":")
                        </td>
                        <td>
                            @(Model.lisP87[i].p87Name)
                        </td>
                        <td>
                            <img src="/images/flags/@(Model.lisP87[i].p87Icon)" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
</div>


<script type="text/javascript">
    
    $(document).ready(function () {

        $.post("/Menu/AdminMenu", function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });


        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");

        $("#cmdGlobalParams").on("click", function () {
            _window_open("/x35/x35Params",1);
        });
        $("#cmdLogo").on("click", function () {
            _window_open("/Admin/CompanyLogo", 1);
        });
    });


   

</script>





