@model AdminPage
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Administrace");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI


<div class="row pt-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" onclick="_cm(event, 'AdminMisc',0,'@Model.prefix');">☰@Model.PageTitle</a>
        <h4 id="layout_sidebar_contextmenu_onlytext">@Model.PageTitle</h4>
    </div>

    <div class="col-auto nonmobile tabovergrid">
        @Model.entityTitle
        <span id="TheGridRows" class="badge bg-primary"></span>
    </div>
    <div class="dropdown col-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="TheGridIcon" class="k-icon k-i-table"></span>
            <span id="TheGridName">@_f.tra("Sloupce")</span>
        </button>
        <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
            Loading...
        </div>
    </div>
    <div class="dropdown col-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridSelMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="k-icon k-i-checkbox-checked"></span>
            @_f.tra("Zaškrtlé záznamy")
        </button>
        <ul id="ulGridSelMenu" class="dropdown-menu dynamicmenu_container" aria-labelledby="cmdGridSelMenu"></ul>
    </div>
    <div class="nonmobile ml-2 col-auto">
        <a class="btn btn-light" href="/Admin/Misc?prefix=@Model.prefix" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
    </div>
    <div class="ml-2 col-auto">
        <button id="cmdCreate" type="button" class="btn btn-primary">@_f.tra("Nový záznam")</button>
    </div>

</div>

<div id="layout_sidebar" class="cm_recpage"></div>



<div id="layout_main">

    @if (Model.entity != null)
    {
        <vc:the-grid input="@Model.gridinput"></vc:the-grid>
    }
    else
    {
        <h4 style="margin:20px;">@Model.PageTitle</h4>
    }




</div>


<script type="text/javascript">
    var _prefix = "@(Model.prefix)";
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {



        $.post("/Menu/AdminMisc", { prefix: "@Model.prefix" }, function (data) {

            $("#layout_sidebar").html(data);

            if (document.getElementById("menu_active_item")) {
                document.getElementById("menu_active_item").scrollIntoView(true);
            }



        });

        $("#cmdCreate").click(function () {
            var url = "/" + _prefix + "/Record?pid=0";
            if (_prefix == "x67") {
                url = url + "&prefix=p41";
            }

            _window_open(url,1,"@Model.entityTitle");
        });


        _mainmenu_highlight_current("cmdAdmin");


        var offset = $("#layout_sidebar").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical) + 10;
        $("#layout_sidebar").css("height", h_vertical + "px");


    });


    function change_grid(j72id) {
            $.post("/Common/SetUserParam", { key: "Admin/@(Model.prefix)-j72id",value:j72id  }, function (data) {
                location.replace("/Admin/Misc?prefix=@Model.prefix");

            });
        }

</script>





