@model UI.Models.p31view.calendarViewModel
@inject BL.Factory _f

@{
    var qryP31 = Model.lisP31;
    if (Model.CurrentView == UI.Models.p31view.CalendarViewEnum.Month)
    {
        qryP31 = Model.lisP31.Where(p => p.p31Date.Year == Model.y0 && p.p31Date.Month == Model.m0);
    }
    string _strMesic = Model.d1.Month.ToString() + "/" + Model.d1.Year.ToString();
    double _dblHodiny = qryP31.Sum(p => p.p31Hours_Orig);
    double _dblHodinyFa = qryP31.Where(p => p.p32IsBillable).Sum(p => p.p31Hours_Orig);
    double _dblHodinyWip = qryP31.Where(p => p.p71ID == BO.p71IdENUM.Nic && p.p91ID == 0).Sum(p => p.p31Hours_Orig);
    double _dblHodinyFaWip = qryP31.Where(p => p.p32IsBillable && p.p71ID == BO.p71IdENUM.Nic && p.p91ID == 0).Sum(p => p.p31Hours_Orig);
    double _dblHodinyNeFaWip = qryP31.Where(p => !p.p32IsBillable && p.p71ID == BO.p71IdENUM.Nic && p.p91ID == 0).Sum(p => p.p31Hours_Orig);
    double _dblFond = 0.00;
    if (Model.j02ID > 0)
    {
        if (Model.CurrentView == UI.Models.p31view.CalendarViewEnum.Month)
        {
            _dblFond = _f.c21FondCalendarBL.GetSumHours(Model.RecJ02.c21ID, Model.RecJ02.j17ID, new DateTime(Model.d0.Year, Model.d0.Month, 1), new DateTime(Model.d0.Year, Model.d0.Month, 1).AddMonths(1).AddDays(-1));
        }
        else
        {
            _dblFond = _f.c21FondCalendarBL.GetSumHours(Model.RecJ02.c21ID, Model.RecJ02.j17ID, Model.d1, Model.d2);
        }

    }
    double _dblUtilTotal = 0.00;
    double _dblUtilFa = 0.00;
    if (_dblFond > 0)
    {
        _dblUtilTotal = 100.00 * _dblHodiny / _dblFond;
        _dblUtilFa = 100.00 * _dblHodinyFa / _dblFond;
    }

    double _dblHodiny4Approve = qryP31.Where(p => p.p71ID == BO.p71IdENUM.Schvaleno && p.p91ID == 0).Sum(p => p.p31Hours_Orig);

    double _dblHodinyVyfa4 = 0.00;
    double _dblHodinyVyfa6 = 0.00;
    double _dblHodinyVyfa23 = 0.00;

    if (_f.CurrentUser.IsRatesAccess)
    {
        _dblHodinyVyfa4 = qryP31.Where(p => p.p91ID > 0 && p.p70ID == BO.p70IdENUM.Vyfakturovano).Sum(p => p.p31Hours_Invoiced);
        _dblHodinyVyfa6 = qryP31.Where(p => p.p91ID > 0 && p.p70ID == BO.p70IdENUM.ZahrnutoDoPausalu).Sum(p => p.p31Hours_Orig);
        _dblHodinyVyfa23 = qryP31.Where(p => p.p91ID > 0 && (p.p70ID == BO.p70IdENUM.SkrytyOdpis || p.p70ID == BO.p70IdENUM.ViditelnyOdpis)).Sum(p => p.p31Hours_Orig);
    }




}

<table class="table table-sm table-hover" style="margin-right:50px;">
    <tr>
        <td>
            @_f.tra("Vykázané hodiny")

            <button type="button" id="cmdSummaryZoom" class="btn btn-sm btn-primary" onclick="zoom_allmonth(this)">
                @(_strMesic)
            </button>
            

        </td>
        <td class="tdnum bg-info">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodiny.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodiny))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    <tr>
        <td style="padding-left:20px;">
            @_f.tra("Z toho fakturovatelné aktivity"):
        </td>
        <td class="tdnum fa">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodinyFa.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodinyFa))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    <tr style="border-top:solid 2px gray;">
        <td style="padding-left:20px;">
            @_f.tra("Z toho rozpracované (čeká na schválení)"):
        </td>
        <td class="tdnum">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodinyWip.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodinyWip))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    <tr>
        <td style="padding-left:40px;">
            @_f.tra("Z toho fakturovatelné aktivity"):
        </td>
        <td class="tdnum fa">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodinyFaWip.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodinyFaWip))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    <tr>
        <td style="padding-left:40px;">
            @_f.tra("Z toho nefakturovatelné aktivity"):
        </td>
        <td class="tdnum nefa">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodinyNeFaWip.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodinyNeFaWip))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    <tr style="border-top:solid 2px gray;">
        <td style="padding-left:20px;">
            @_f.tra("Z toho schváleno a čeká na vyúčtování"):
        </td>
        <td class="tdnum">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblHodiny4Approve.ToString()))
            }
            else
            {
                @(BO.BAS.Num2StringNull(_dblHodiny4Approve))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    @if (_f.CurrentUser.IsRatesAccess)
    {
        <tr>
            <td style="padding-left:20px;">
                @_f.tra("Z toho vyúčtováno"):
            </td>
            <td>
            </td>
            <td style="width:20px;"></td>
        </tr>
        <tr>
            <td style="padding-left:40px;">
                @_f.tra("Sazbou"):
            </td>
            <td class="tdnum fa">
                @if (Model.ShowHHMM)
                {
                    @(BO.basTime.ShowAsHHMM(_dblHodinyVyfa4.ToString()))
                }
                else
                {
                    @(BO.BAS.Num2StringNull(_dblHodinyVyfa4))
                }
            </td>
            <td style="width:20px;">h.</td>
        </tr>
        <tr>
            <td style="padding-left:40px;">
                @_f.tra("Zahrnuto do paušulu "):
            </td>
            <td class="tdnum" style="color:hotpink;">
                @if (Model.ShowHHMM)
                {
                    @(BO.basTime.ShowAsHHMM(_dblHodinyVyfa6.ToString()))
                }
                else
                {
                    @(BO.BAS.Num2StringNull(_dblHodinyVyfa6))
                }
            </td>
            <td style="width:20px;">h.</td>
        </tr>
        <tr>
            <td style="padding-left:40px;">
                @_f.tra("Odepsáno"):
            </td>
            <td class="tdnum" style="color:brown;">
                @if (Model.ShowHHMM)
                {
                    @(BO.basTime.ShowAsHHMM(_dblHodinyVyfa23.ToString()))
                }
                else
                {
                    @(BO.BAS.Num2StringNull(_dblHodinyVyfa23))
                }
            </td>
            <td style="width:20px;">h.</td>
        </tr>

    }
    <tr style="border-top:solid 2px gray;">
        <td>
            @_f.tra("Fond pracovní doby"):
        </td>
        <td class="tdnum" style="color: #B8860B;">
            @if (Model.ShowHHMM)
            {
                @(BO.basTime.ShowAsHHMM(_dblFond.ToString()))
            }
            else
            {
                @(BO.BAS.Number2String(_dblFond))
            }
        </td>
        <td style="width:20px;">h.</td>
    </tr>
    @if (_dblFond > 0)
    {
        <tr>
            <td style="padding-left:20px;">
                @_f.tra("Utilizace (všechny hodiny)"):
            </td>
            <td class="tdnum" style="color: blue;">
                @(BO.BAS.Number2String(_dblUtilTotal))
            </td>
            <td style="width:20px;">%</td>
        </tr>
        <tr>
            <td style="padding-left:20px;">
                @_f.tra("Utilizace (fakturovatelné aktivity)"):
            </td>
            <td class="tdnum fa">
                @(BO.BAS.Number2String(_dblUtilFa))
            </td>
            <td style="width:20px;">%</td>
        </tr>
    }

</table>


<div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="cmdSouctyPodle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="k-icon k-i-sum"></span>
        @_f.tra("Součty podle")
    </button>
    <ul class="dropdown-menu" aria-labelledby="cmdSouctyPodle">
        <li>
            <input type="radio" asp-for="@Model.StatTotalsByPrefix" id="opg1" value="none" onchange="reload_totalsby(this)" />
            <label for="opg1">@_f.tra("Nezobrazovat tabulku součtů")</label>
        </li>
        <li>
            <input type="radio" asp-for="@Model.StatTotalsByPrefix" id="opgP28" value="p28" onchange="reload_totalsby(this)" />
            <label for="opgP28">@_f.tra("Klient projektu")</label>
        </li>
        <li>
            <input type="radio" asp-for="@Model.StatTotalsByPrefix" id="opgP41" value="p41" onchange="reload_totalsby(this)" />
            <label for="opgP41">@_f.tra("Projekt")</label>
        </li>
        <li>
            <input type="radio" asp-for="@Model.StatTotalsByPrefix" id="opgP32" value="p32" onchange="reload_totalsby(this)" />
            <label for="opgP32">@_f.tra("Aktivita")</label>
        </li>
    </ul>
</div>

@if (Model.StatTotalsByPrefix == "p28")
{
    var qry = Model.lisP31.OrderBy(p=>p.ClientName).GroupBy(p => p.p28ID_Client);
    <table class="table table-sm table-hover">
        <tr>
            <th>@_f.tra("Klient")</th>
            <th class="numcell"><span class="k-icon k-i-sum"></span></th>
            <th class="numcell fa">Fa</th>
            <th class="numcell nefa">NeFa</th>
        </tr>
        @foreach (var c in qry)
        {
            <tr>
                <td>
                    <a style="text-decoration:none;" href="javascript:p31bystat('p28',@(c.First().p28ID_Client))">@(c.First().ClientName)</a>
                </td>
                <td class="numcell">
                    @(BO.basTime.FormatNumeric(c.Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
                </td>
                <td class="numcell fa">
                    @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==true).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
                </td>
                <td class="numcell nefa">
                    @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==false).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
                </td>
            </tr>
        }
    </table>
}

@if (Model.StatTotalsByPrefix == "p41")
{
    var qry = Model.lisP31.OrderBy(p=>p.Project).GroupBy(p => p.p41ID);
    <table class="table table-sm table-hover">
        <tr>
            <th>@_f.tra("Projekt")</th>
            <th class="numcell"><span class="k-icon k-i-sum"></span></th>
            <th class="numcell fa">Fa</th>
            <th class="numcell nefa">NeFa</th>
        </tr>
        @foreach (var c in qry)
        {
    <tr>
        <td>
            <a style="text-decoration:none;" href="javascript:p31bystat('p41',@(c.First().p41ID))">@(c.First().Project)</a>
        </td>
        <td class="numcell">
            @(BO.basTime.FormatNumeric(c.Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
        </td>
        <td class="numcell fa">
            @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==true).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))

        </td>
        <td class="numcell nefa">
            @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==false).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
        </td>
    </tr>
        }
    </table>
}

@if (Model.StatTotalsByPrefix == "p32")
{
    var qry = Model.lisP31.OrderBy(p=>p.p32Name).GroupBy(p => p.p32ID);
    <table class="table table-sm table-hover">
        <tr>
            <th>@_f.tra("Aktivita")</th>
            <th class="numcell"><span class="k-icon k-i-sum"></span></th>
            <th class="numcell fa">Fa</th>
            <th class="numcell nefa">NeFa</th>
        </tr>
        @foreach (var c in qry)
        {
            <tr>
                <td>
                    <a style="text-decoration:none;" href="javascript:p31bystat('p32',@(c.First().p32ID))">@(c.First().p32Name)</a>
                </td>
                <td class="numcell">
                    @(BO.basTime.FormatNumeric(c.Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))                   
                </td>
                <td class="numcell fa">
                    @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==true).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
                </td>
                <td class="numcell nefa">
                    @(BO.basTime.FormatNumeric(c.Where(p=>p.p32IsBillable==false).Sum(p=>p.p31Hours_Orig),Model.ShowHHMM))
                </td>
            </tr>
        }
    </table>
}

<script type="text/javascript">
    function reload_totalsby(opg) {

        $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-totalsby", value: opg.value }, function (data) {
            reload();

        });


    }
</script>