@model FreeFieldsViewModel

@{
    if (Model == null)
    {
        return;
    }

}

@addTagHelper *, UI

@for (int i = 0; i <= Model.inputs.Count() - 1; i++)
{
    <div class="row my-2" style="@Model.inputs[i].CssDisplay">

        <label class="col-sm-2 col-md-3 col-form-label">

            @if (Model.inputs[i].TypeName != "boolean")
            {
                @Model.inputs[i].x28Name
            }
        </label>

        <div class="col-sm-10 col-md-9">

            @switch (Model.inputs[i].TypeName)
            {
                @case "integer":
                <mynumber decimal-digits="0" asp-for="@Model.inputs[i].NumInput" elementid-prefix="@Model.elementidprefix"></mynumber>
                break;

            @case "decimal":
            <mynumber decimal-digits="2" asp-for="@Model.inputs[i].NumInput" elementid-prefix="@Model.elementidprefix"></mynumber>
            break;

        @case "date":
        <mydate asp-for="@Model.inputs[i].DateInput" elementid-prefix="@Model.elementidprefix"></mydate>
        break;

    @case "datetime":
    <mydate asp-for="@Model.inputs[i].DateInput" include-time="true" elementid-prefix="@Model.elementidprefix"></mydate>
    break;

@case "boolean":
<input type="checkbox" asp-for="@Model.inputs[i].CheckInput" />
<label for="ff1_inputs_@(i)__CheckInput">@Model.inputs[i].x28Name</label>
break;

@default:
<input type="text" class="form-control" asp-for="@Model.inputs[i].StringInput" />
break;
}

        </div>

    </div>
    <input type="hidden" asp-for="@Model.inputs[i].IsVisible" value="@Model.inputs[i].IsVisible" />
    <input type="hidden" asp-for="@Model.inputs[i].x28DataSource" />
    <input type="hidden" asp-for="@Model.inputs[i].x28IsFixedDataSource" />
    <input type="hidden" asp-for="@Model.inputs[i].x28IsRequired" />
    <input type="hidden" asp-for="@Model.inputs[i].x28Field" />
    <input type="hidden" asp-for="@Model.inputs[i].x28Name" />
    <input type="hidden" asp-for="@Model.inputs[i].TypeName" />
    <input type="hidden" asp-for="@Model.inputs[i].x29ID" />
    <input type="hidden" asp-for="@Model.inputs[i].x24ID" />
}
