@model FreeFieldsViewModel

@{
    if (Model == null)
    {
        return;
    }

}

@addTagHelper *, UI

@foreach (BO.FreeFieldInput c in Model.inputs.Where(p=>p.StringInput !=null || p.NumInput !=0 || p.DateInput !=null))
{

<div class="row my-2">
        <label class="col-sm-2 col-md-3 col-form-label recpagelabel">
            @if (c.TypeName != "boolean")
            {
                @(c.x28Name+":")
            }
        </label>
        <div class="col-sm-10 col-md-9">

            @switch (c.TypeName)
            {
                @case "integer":
                <myval datatype="num" value="@c.NumInput"></myval>
                break;

            @case "decimal":
            <myval datatype="num" value="@c.NumInput"></myval>
            break;

        @case "date":
        <myval datatype="date" value="@c.DateInput"></myval>
        break;

    @case "datetime":
    <myval datatype="datetime" value="@c.DateInput"></myval>
    break;

@case "boolean":
<input type="checkbox" value="@c.CheckInput" readonly="readonly" />

break;

@default:
<myval value="@c.StringInput"></myval>
break;
}

</div>
</div>

}



