@model UI.Models.InfoButtonsViewModel
@inject BL.Factory _f

@{
    if (Model.disp == null)
    {
        Model.disp = new BO.j02RecDisposition() { OwnerAccess = _f.CurrentUser.IsAdmin,ReadAccess=false };
    }
    bool _bolGridAccess = false;
    bool _bolPageAccess = Model.disp.ReadAccess;
    switch (Model.prefix)
    {
        case "j02":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_People; break;
        case "p28":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Contact; break;
        case "p41":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Project; break;
        case "p91":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Invoice; break;
        case "p90":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Proforma; break;
        case "o23":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Notepad; break;
        case "p56":
            _bolGridAccess = _f.CurrentUser.j04IsMenu_Task; break;
        default:
            _bolGridAccess = _f.CurrentUser.IsAdmin; break;
    }

    string _GridUrl = null;
    if (_bolGridAccess)
    {
        _GridUrl = basUI.GetGridUrl(_f, Model.prefix, Model.pid);
    }

}


<a class="cm" onclick="_cm(event,'@(BO.BASX29.GetEntity(Model.prefix))','@(Model.pid)','info')">&#9776;</a>
@if (Model.disp.OwnerAccess)
{
    <a class="btn btn-sm btn-outline-secondary" href="javascript:_edit('@(Model.prefix)',@Model.pid)" title="@_f.tra("Upravit kartu záznamu")"><span class="material-icons-outlined-btn" style="font-size:16px;">edit_note</span></a>
}

@if (_bolPageAccess)
{
    <a class="btn btn-sm btn-outline-secondary" href="/Record/RecPage?prefix=@(Model.prefix)&pid=@Model.pid" title="@_f.tra("Stránka záznamu")" target="_top"><span class="material-icons-outlined-btn" style="font-size:16px;">maps_home_work</span></a>

}
@if (_bolGridAccess)
{
    <a class="btn btn-sm btn-outline-secondary" href="@(_GridUrl)" target="_top" title="GRID"><span class="material-icons-outlined-btn" style="font-size:16px;">grid_on</span></a>
}