@inject BL.RunningApp _app

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | MARKTIME</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@_app.CssCustomSkin" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <header>
    </header>
    <script type="text/javascript">
        var _relpath = "@(Url.Content("~/favicon.ico").Replace("favicon.ico",""))";   //relativní cesta: detekce kvůli případnému IIS virtuálnímu adresáři
    </script>
    <div class="container-fluid px-0">
        <div id="divLoginHeader">
            <img id="imgLoginHeader" src="/images/logo_login.jpg" />
        </div>
        <main role="main">
            @RenderBody()
        </main>

    </div>

    <footer style="border-top:1px solid lightgray;position:relative;margin-top:100px;width:100%;">
        <div style="margin:auto;max-width:500px;">
            👌@_app.AppName <small>@_app.AppVersion</small><small style="margin-left:10px;color:silver;">@_app.AppBuild</small>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>