@model UI.Models.MyToolbarViewModel
@inject BL.Factory _f
@{
    if (Model == null)
    {
        return;
    }
    Model.RefreshState();
}


<nav class="navbar navbar-expand-lg navbar-light @Model.BG" id="nav1">
    <div class="container-fluid p-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="border-bottom:solid 1px silver;border-top:solid 1px silver;">
            <ul class="navbar-nav m-0">
                <li class="nav-item m-2">
                    <button type="button" id="cmdSaveMyToolbar" action="@Model.ControllorName" class="btn btn-success"><span class="k-icon k-i-save" style="margin-right:6px;"></span>@_f.tra("Uložit změny")</button>

                </li>
                @if (Model.IsApply)
                {
                    <li class="nav-item m-2">
                        <button type="button" id="cmdApply" action="@Model.ControllorName" asp-route-applyonly="true" class="btn btn-success">@_f.tra("Uložit a zůstat")</button>

                    </li>
                }
                @if (Model.IsDelete)
                {
                    <li class="nav-item m-2">
                        <button type="button" class="btn btn-danger ml-2" onclick="toolbar_try_delete()"><span class="k-icon k-i-cancel-outline" style="margin-right:6px;"></span>@_f.tra("Odstranit")</button>

                    </li>
                }
                @if (Model.IsRefresh)
                {
                    <li class="nav-item my-2">
                        <a asp-action="@Model.ControllorName" onclick="before_clicked(event)" class="btn btn-light" title="@_f.tra("Občerstvit")" asp-route-pid="@Model.RecordPID"><span class="k-icon k-i-reload"></span></a>

                    </li>
                }
                @if (Model.IsClone)
                {
                    <li class="nav-item my-2 mx-1">
                        <a asp-action="@Model.ControllorName" onclick="before_clicked(event)" class="btn btn-light" asp-route-pid="@Model.RecordPID" asp-route-isclone="true"><span class="k-icon k-i-copy" style="margin-right:6px;"></span>@_f.tra("Kopírovat")</a>
                    </li>
                }
                @if (Model.IsToArchive)
                {
                    <li class="nav-item my-2">
                        <button type="button" onclick="toolbar_handle_archive(1)" class="btn btn-light"><span class="k-icon k-i-delete" style="margin-right:6px;"></span>@_f.tra("Přesunout do archivu")</button>
                    </li>
                }
                @if (Model.IsFromArchive)
                {
                    <li class="nav-item my-2">
                        <button type="button" onclick="toolbar_handle_archive(2)" class="btn btn-warning">@_f.tra("Obnovit z archivu")</button>
                    </li>
                }

                @if (Model.IsClose)
                {
                    <li class="nav-item my-2 mx-1">
                        <button type="button" onclick="_window_close()" class="btn btn-light"><span class="k-icon k-i-close" style="margin-right:6px;"></span>@_f.tra("Zavřít")</button>
                    </li>
                }
                <li class="nav-item my-2">
                    <button type="button" onclick="_helppage()" class="btn btn-light"><b>? </b>@_f.tra("Nápověda")</button>
                </li>
                <li class="nav-item">
                    <div>
                        <span id="toolbar_message" class="text-info" style="float:right;">
                            @if (Model.Message != null)
                            {
                                @_f.tra(Model.Message)
                            }
                        </span>
                    </div>
                    
                    <span id="toolbar_changeinfo" class="text-danger" style="float:right;"></span>
                </li>
            </ul>
        </div>
    </div>
    

    
    
</nav>


<input type="hidden" id="hidRecordPID" asp-for="@Model.RecordPID" />
<input type="hidden" id="hidRecordIsClosed" asp-for="@Model.RecordIsClosed" />
<input type="hidden" id="hidRecordEntity" asp-for="@Model.RecordEntity" />
<input type="hidden" id="hidAllowArchive" asp-for="@Model.AllowArchive" />
<input type="hidden" id="hidAllowClone" asp-for="@Model.AllowClone" />
<input type="hidden" id="hidExplicitD1" asp-for="@Model.ExplicitValidFrom" />
<input type="hidden" id="hidExplicitD2" asp-for="@Model.ExplicitValidUntil" />



<script type="text/javascript">
    $(document).ready(function () {
        $("input, textarea").change(function () {
            _toolbar_warn2save_changes("@_f.tra("Změny potvrďte tlačítkem [Uložit změny].")");

        });


        $("#cmdSaveMyToolbar").click(function () {
            document.dispatchEvent(event_form1_beforesave);

            if (event_form1_beforesave.detail.cancel == true) {
                _notify_message("@_f.tra("Uložení formuláře zrušeno.")","info");
                return;
            }

            $(this).text("Processing...");
            $(this).attr("disabled", true);
            if (document.getElementById("form1")) {
                form1.submit();
            } else {
                document.forms[0].submit();
            }


        });

    })


    function toolbar_try_delete() {
        var strEntity = "@(Model.RecordEntity)";
        var intPID = @(Model.RecordPID);
        if (strEntity == "p91") {
            _redirect("/p91oper/p91delete?p91id=" + intPID);
            return;
        }
        if (confirm("@_f.tra("Opravdu chcete nenávratně odstranit tento záznam?")")) {

            var url = '@Url.Action("DeleteRecord", "Common")';

                    $.post(url, { entity:strEntity, pid: intPID }, function (data) {

                        if (data == "1") {
                            _reload_layout_and_close();

                        } else {
                            alert(data);
                        }

                    });
        }

    }

    function toolbar_handle_archive(flag) {
        //$("#hidArchiveFlag").val(flag);
        var d = new Date();
        if (flag == 1) {
            $("#hidExplicitD2").val(_format_date(d, true)); //přesunout záznam do archivu
            $("#toolbar_message").text("@_f.tra("Po uložení dojde k přesunutí záznamu do archivu.")");
        }
        if (flag == 2) {
            $("#hidExplicitD2").val("01.01.3000 00:00"); //obnovit záznam z archivu
            $("#toolbar_message").text("@_f.tra("Po uložení dojde k obnovení záznamu z archivu.")");
        }

    }
    function before_clicked(e) {
        if ($("#toolbar_changeinfo").text() != "") {
            if (!confirm("@_f.tra("Chcete pokračovat bez uložení změn?")"))
            {
                e.preventDefault();
            }
        }
    }
    function toolbar_handle_validity(e) {
        var url = "/Record/RecordValidity?strD1=" + $("#hidExplicitD1").val() + "&strD2=" + $("#hidExplicitD2").val();
        _zoom(e, "", "", "250", "@_f.tra("Časová platnost záznamu")", url);
    }


</script>
