@model UI.Models.Recpage.o23RecPage
@inject BL.Factory _f

@{
    if (Model == null)
    {
        return;
    }



}

@addTagHelper *, UI



<div class="card recpagebox400">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgo23">
            @_f.tra("Profil dokumentu")
        </h6>
        <div class="row">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Název")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.o23Name"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Typ")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.x18Name"></myval>

            </div>
        </div>
        @if (Model.Rec.o23Code != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Kód")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@Model.Rec.o23Code"></myval>

                </div>
            </div>
        }





        <div>
            <small class="text-secondary" title="@_f.tra("Založení záznamu")">
                @(Model.Rec.UserInsert+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateInsert,"dd.MM.yyyy HH:mm ddd"))
            </small>
            @if (Model.Rec.DateUpdate > Model.Rec.DateInsert)
            {
                <small class="text-success float-end" title="@_f.tra("Poslední aktualizace záznamu")">
                    @(Model.Rec.UserUpdate+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateUpdate,"dd.MM.yyyy HH:mm ddd"))

                </small>

            }
        </div>
    </div>


</div>




@if (Model.TagHtml != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgo23">
                @_f.tra("Štítky")
            </div>
            @Html.Raw(Model.TagHtml)

        </div>
    </div>
}



<div style="clear:both;"></div>