@model UI.Models.Recpage.p28RecPage
@inject BL.Factory _f

@{
    if (Model == null)
    {
        return;
    }

    string _j61Name = null;
    if (Model.Rec.j61ID_Invoice > 0)
    {
        _j61Name = _f.j61TextTemplateBL.Load(Model.Rec.j61ID_Invoice).j61Name;
    }

}

@addTagHelper *, UI


<div class="card recpagebox400">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp28">
            @_f.tra("Profil klienta")
        </h6>
        <div class="row">
            <label class="col-sm-2 col-md-3 col-form-label">@(_f.tra("Název")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p28name"></myval>

            </div>
        </div>

        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label">@(_f.tra("Kód")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p28Code"></myval>

            </div>
        </div>

        @if (Model.Rec.p28RegID != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label">@(_f.tra("IČ")):</label>
                <div class="col-sm-10 col-md-9">
                    <div class="val-readonly rowvalhover my-1">
                        <span>@Model.Rec.p28RegID</span>
                        @if (Model.Rec.p28ICDPH_SK != null)
                        {
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.ObchodnyRegister(Model.Rec.p28RegID)">obchodný register</a>
                        }
                        else
                        {
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Justice(Model.Rec.p28RegID)">justice</a>
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Ares(Model.Rec.p28RegID)">ares</a>
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Insolvence(Model.Rec.p28RegID)">insolvence</a>
                        }

                    </div>
                </div>

            </div>
        }
        @if (Model.Rec.p28VatID != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label">@(_f.tra("DIČ")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@Model.Rec.p28VatID"></myval>

                </div>
            </div>
        }
        @if (Model.Rec.p28ICDPH_SK != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label">@(_f.tra("IČ DPH")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@Model.Rec.p28ICDPH_SK"></myval>

                </div>
            </div>
        }

        @Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFieldsRO.cshtml")

        <div>
            <small class="text-secondary" title="@_f.tra("Založení záznamu")">
                @(Model.Rec.UserInsert+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateInsert,"dd.MM.yyyy HH:mm ddd"))
            </small>
            @if (Model.Rec.DateUpdate > Model.Rec.DateInsert)
            {
                <small class="text-success float-end" title="@_f.tra("Poslední aktualizace záznamu")">
                    @(Model.Rec.UserUpdate+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateUpdate,"dd.MM.yyyy HH:mm ddd"))

                </small>

            }
        </div>
    </div>


</div>

@if (Model.Rec.p51ID_Billing > 0 || Model.Rec.p92ID > 0 || Model.Rec.p87ID > 0)
{
    <div class="card recpagebox400">
        <div class="card-body">
            <div class="card-title recpagetitle bgp28">
                @_f.tra("Fakturační nastavení")
            </div>
            @if (Model.Rec.p51ID_Billing > 0)
            {
                <div class="row my-1">
                    <label class="col-sm-3 col-md-4 col-form-label">@_f.tra("Hodinové sazby"):</label>
                    <div class="col-sm-9 col-md-8">
                        <myval value="@Model.Rec.p51Name_Billing" hoverprefix="p51" hoverpid="@Model.Rec.p51ID_Billing"></myval>

                    </div>
                </div>
            }
            @if (Model.Rec.p92ID > 0)
            {
                <div class="row my-1">
                    <label class="col-sm-3 col-md-4 col-form-label">@_f.tra("Typ faktury"):</label>
                    <div class="col-sm-9 col-md-8">
                        <myval value="@Model.Rec.p92Name" hoverprefix="p92" hoverpid="@Model.Rec.p92ID"></myval>

                    </div>
                </div>
            }
            @if (Model.Rec.p87ID > 0)
            {
                <div class="row my-1">
                    <label class="col-sm-3 col-md-4 col-form-label">@_f.tra("Fakturační jazyk"):</label>
                    <div class="col-sm-9 col-md-8">
                        <myval value="@Model.Rec.p87Name"></myval>
                    </div>
                </div>
            }
            @if (Model.Rec.j61ID_Invoice > 0)
            {
                <div class="row my-1">
                    <label class="col-sm-3 col-md-4 col-form-label">@_f.tra("Mail šablona"):</label>
                    <div class="col-sm-9 col-md-8">
                        <myval value="@_j61Name" hoverprefix="j61" hoverpid="@Model.Rec.j61ID_Invoice"></myval>
                    </div>
                </div>
            }
            @if (Model.Rec.p28InvoiceMaturityDays > 0)
            {
                <div class="row my-1">
                    <label class="col-sm-3 col-md-4 col-form-label">@_f.tra("Splatnost faktury"):</label>
                    <div class="col-sm-9 col-md-8">
                        <myval value="@Model.Rec.p28InvoiceMaturityDays"></myval>
                    </div>
                </div>
            }


        </div>
    </div>
}


@if (Model.Rec.p28BillingMemo != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp28">
                @_f.tra("Fakturační poznámka")
            </div>
            <div style="background-color:#F0FFF0;padding:4px;">
                @Html.Raw(@BO.BAS.Text2Html(Model.Rec.p28BillingMemo))
            </div>


        </div>
    </div>
}

@if (Model.lisO38 != null && Model.lisO38.Count() > 0)
{
    <div class="card recpageboxauto">
        <div class="card-body" style="overflow:auto;max-height:200px;">
            <div class="card-title recpagetitle bgp28">
                @_f.tra("Adresy")
            </div>
            @foreach (var c in Model.lisO38)
            {
                <div class="val-readonly rowvalhover my-1">
                    <span>@Html.Raw(BO.BAS.Text2Html(c.FullAddressWithBreaks))</span>
                    <a class="valhover_tooltip" target='_blank' href="https://mapy.cz/zakladni?q=@(c.o38City+"+"+c.o38Street)">mapy</a>
                    <a class="valhover_tooltip" target='_blank' href="https://www.google.com/maps/place/@(c.o38City+"+"+c.o38Street)">google</a>
                </div>
            }

        </div>
    </div>
}

@if (Model.lisJ02 != null && Model.lisO32 != null && (Model.lisJ02.Count()>0 || Model.lisO32.Count()>0))
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp28">
                @_f.tra("Kontakty")
            </div>
            @foreach (var c in Model.lisJ02)
            {
                <div class="my-1">
                    <myval value="@c.FullNameAsc" hoverpid="@c.pid" hoverprefix="j02"></myval>
                </div>
            }
            @foreach (var c in Model.lisO32)
            {
                <div class="my-1">
                    @switch (c.o33ID)
                    {
                        case BO.o33FlagEnum.URL:
                            <a href="@c.o32Value" target="_blank">@c.o32Value</a>
                            break;
                        case BO.o33FlagEnum.Email:
                        case BO.o33FlagEnum.EmailBCC:
                        case BO.o33FlagEnum.EmailCC:
                            <a href="mailto: @c.o32Value">@c.o32Value</a>
                            break;
                        default:
                            <span>@c.o32Value</span>
                            break;
                    }
                    @if (c.o32IsDefaultInInvoice)
                    {
                        <b>F</b>
                    }
                    @if (c.o32Description != null)
                    {
                        <div><i>@c.o32Description</i></div>
                    }


                </div>
            }

        </div>
    </div>
}

@if (Model.TagHtml != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp28">
                @_f.tra("Štítky")
            </div>
            @Html.Raw(Model.TagHtml)

        </div>
    </div>
}




<div style="clear:both;"></div>
