@model UI.Models.Recpage.p91RecPage
@inject BL.Factory _f

@{
    if (Model == null)
    {
        return;
    }



}

@addTagHelper *, UI


<div class="card recpagebox400">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp91">
            @_f.tra("Vyúčtování")
        </h6>
        <div class="row">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Číslo")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p91Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Typ faktury")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p92Name" hoverprefix="p92" hoverpid="@Model.Rec.p92ID"></myval>

            </div>
        </div>
        @if (Model.Rec.b01ID > 0)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Aktuální stav")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@Model.Rec.b02Name" hoverprefix="b02" hoverpid="@Model.Rec.b02ID"></myval>

                </div>
            </div>
        }
        @if (Model.RecP93 != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Vystavovatel")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@Model.RecP93.p93Name" hoverprefix="p93" hoverpid="@Model.Rec.p93ID"></myval>

                </div>
            </div>
        }
        @if (Model.RecP86 != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Bankovní účet")):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@(Model.RecP86.p86BankAccount+"/"+Model.RecP86.p86BankCode)" hoverprefix="p86" hoverpid="@Model.RecP86.pid"></myval>

                </div>
            </div>
        }

        



        @Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFieldsRO.cshtml")

        <div>
            <small class="text-secondary" title="@_f.tra("Založení záznamu")">
                @(Model.Rec.UserInsert+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateInsert,"dd.MM.yyyy HH:mm ddd"))
            </small>
            @if (Model.Rec.DateUpdate > Model.Rec.DateInsert)
            {
                <small class="text-success float-end" title="@_f.tra("Poslední aktualizace záznamu")">
                    @(Model.Rec.UserUpdate+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateUpdate,"dd.MM.yyyy HH:mm ddd"))

                </small>

            }
        </div>
    </div>


</div>

<div class="card recpageboxauto" style="width:290px;">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp91">
            @_f.tra("Částka")
        </h6>

        <div class="row">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Částka bez DPH")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p91Amount_WithoutVat" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Částka DPH")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p91Amount_Vat" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Částka vč.DPH")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p91Amount_WithVat" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Haléřové zaokrouhlení")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p91RoundFitAmount" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel" style="color:red;">@(_f.tra("Celkový dluh")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p91Amount_Debt" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>

    </div>


</div>

<div class="card recpageboxauto" style="width:290px;">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp91">
            @_f.tra("Datumy")
        </h6>
        <div class="row">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Datum vystavení")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="date" value="@Model.Rec.p91Date"></myval>

            </div>
        </div>

        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Datum plnění")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="date" value="@Model.Rec.p91DateSupply"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Datum splatnosti")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="date" value="@Model.Rec.p91DateMaturity"></myval>

            </div>
        </div>

    </div>


</div>


<div class="card recpagebox400">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp91">
            @_f.tra("Klient")
            |
            @_f.tra("Projekty")
        </h6>
        <div class="row">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Klient")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p91Client" hoverprefix="p28" hoverpid="@Model.Rec.p28ID"></myval>

            </div>
        </div>
        @if (Model.Rec.p91Client_RegID != null)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("IČ")):</label>
                <div class="col-sm-10 col-md-9">
                    <div class="val-readonly rowvalhover">
                        <span>@Model.Rec.p91Client_RegID</span>
                        @if (Model.Rec.p91Client_ICDPH_SK != null)
                        {
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.ObchodnyRegister(Model.Rec.p91Client_RegID)">obchodný register</a>
                        }
                        else
                        {
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Justice(Model.Rec.p91Client_RegID)">justice</a>
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Ares(Model.Rec.p91Client_RegID)">ares</a>
                            <a class="valhover_tooltip" target='_blank' href="@BO.basRejstriky.Insolvence(Model.Rec.p91Client_RegID)">insolvence</a>
                        }

                    </div>
                </div>
            </div>
        }


        <div class="my-1">

            <div class="rowvalhover">
                <span>@(Model.Rec.PrimaryAddress)</span>
                <a class="valhover_tooltip" target='_blank' href="https://mapy.cz/zakladni?q=@(Model.Rec.p91ClientAddress1_City+"+"+Model.Rec.p91ClientAddress1_Street)">mapy</a>
                <a class="valhover_tooltip" target='_blank' href="https://www.google.com/maps/place/@(Model.Rec.p91ClientAddress1_City+"+"+Model.Rec.p91ClientAddress1_Street)">google</a>
            </div>
        </div>

        @foreach (var c in Model.lisP41)
        {
            <div class="row my-1">
                <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(c.p42name):</label>
                <div class="col-sm-10 col-md-9">
                    <myval value="@(c.p41Name)" hoverprefix="p41" hoverpid="@c.pid"></myval>

                </div>
            </div>
        }



    </div>


</div>




@if (Model.Rec.p91Text1 != null || Model.Rec.p91Text2 != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <i>
                @Html.Raw(BO.BAS.Text2Html(Model.Rec.p91Text1))
            </i>

            @if (Model.Rec.p91Text2 != null)
            {
                <hr />
                <i>
                    @Html.Raw(BO.BAS.Text2Html(Model.Rec.p91Text2))
                </i>
            }
        </div>
    </div>
}

@if (Model.TagHtml != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp91">
                @_f.tra("Štítky")
            </div>
            @Html.Raw(Model.TagHtml)

        </div>
    </div>
}


<div style="clear:both;"></div>
<table class="table table-sm table-bordered table-hover" style="max-width:650px;float:left;">
    <thead style="background-color: #F5F5F5;">
        <tr>
            <th>@_f.tra("Položka")</th>
            <th>@_f.tra("Bez DPH")</th>
            <th style="width:50px;">@_f.tra("DPH%")</th>
            <th>@_f.tra("Částka DPH")</th>
            <th>@_f.tra("Včetně DPH")</th>
            <th style="width:40px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.lisCenovyRozpis)
        {
            <tr>
                <td>
                    @c.Oddil
                </td>
                <td style="text-align:right;">
                    @(BO.BAS.Number2String(c.BezDPH))
                </td>
                <td style="text-align:right;">
                    @c.DPHSazba
                    %
                </td>
                <td style="text-align:right;">
                    @(BO.BAS.Number2String(c.DPH))
                </td>
                <td style="text-align:right;">
                    @(BO.BAS.Number2String(c.VcDPH))
                </td>
                <td>
                    @c.j27Code
                </td>
            </tr>
        }
    </tbody>
    <tfoot style="background-color: #E5E5E5;">
        <tr>
            <td></td>
            <td style="text-align:right;">
                @(BO.BAS.Number2String(Model.lisCenovyRozpis.Sum(p=>p.BezDPH)))
            </td>
            <td></td>
            <td style="text-align:right;">
                @(BO.BAS.Number2String(Model.lisCenovyRozpis.Sum(p=>p.DPH)))
            </td>
            <td style="text-align:right;">
                @(BO.BAS.Number2String(Model.lisCenovyRozpis.Sum(p=>p.VcDPH)))
            </td>
            <td>
                @Model.Rec.j27Code
            </td>
        </tr>
    </tfoot>
    
</table>