@model UI.Models.Recpage.p91RecPage
@inject BL.Factory _f

@{
    int _intX31ID_DobropisovanaFaktura = 0;
    int _intX31ID_DobropisovanaPriloha = 0;
    int _intX31ID_OpravnyDoklad = 0;
    int _intP91ID_OpravnyDoklad = 0;

    if (Model.Rec.p92InvoiceType == BO.p92InvoiceTypeENUM.CreditNote)
    {
        if (Model.Rec.p91ID_CreditNoteBind > 0)
        {
            var recOD = _f.p91InvoiceBL.Load(Model.Rec.p91ID_CreditNoteBind);
            var recP92 = _f.p92InvoiceTypeBL.Load(recOD.p92ID);
            _intX31ID_DobropisovanaFaktura = recP92.x31ID_Invoice;
            _intX31ID_DobropisovanaPriloha = recP92.x31ID_Attachment;
        }

    }
    else
    {
        var recOD = _f.p91InvoiceBL.LoadCreditNote(Model.Rec.pid);
        if (recOD != null)
        {
            _intP91ID_OpravnyDoklad = recOD.pid;
            var recP92 = _f.p92InvoiceTypeBL.Load(recOD.p92ID);
            _intX31ID_OpravnyDoklad = recP92.x31ID_Invoice;
        }

    }

}




<button type="button" class="btn btn-sm btn-warning" onclick="p91report(@(Model.RecP92.x31ID_Invoice),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Sestava dokladu")</button>

@if (Model.RecP92.x31ID_Attachment > 0)
{
    <button type="button" class="btn btn-sm btn-info" onclick="p91report(@(Model.RecP92.x31ID_Attachment),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Sestava přílohy")</button>
}
@if (Model.RecP92.x31ID_Letter > 0)
{
    <button type="button" class="btn btn-sm btn-success" onclick="p91report(@(Model.RecP92.x31ID_Letter),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Průvodní dopis")</button>
}


<button type="button" class="btn btn-sm btn-outline-secondary" onclick="p91sendmail(@Model.pid)"><span class="k-icon k-i-email"></span> @_f.tra("Odeslat zprávu")</button>

@if (Model.Rec.p91IsDraft)
{
    <button type="button" class="btn btn-sm btn-outline-primary" onclick="converfromdraft(@Model.pid)">@_f.tra("Převést DRAFT na oficiální doklad")</button>
}

@if (Model.Rec.p92InvoiceType == BO.p92InvoiceTypeENUM.CreditNote && Model.Rec.p91ID_CreditNoteBind > 0)
{
    <button type="button" class="btn btn-sm btn-danger" onclick="_window_open('/x31/ReportContext?x31id=@(_intX31ID_DobropisovanaFaktura)&prefix=p91&pid=@(Model.Rec.p91ID_CreditNoteBind)')"><span class="k-icon k-i-print"></span> @_f.tra("Opravovaný doklad")</button>
    @if (_intX31ID_DobropisovanaPriloha > 0)
    {
        <button type="button" class="btn btn-sm btn-danger" onclick="_window_open('/x31/ReportContext?x31id=@(_intX31ID_DobropisovanaPriloha)&prefix=p91&pid=@(Model.Rec.p91ID_CreditNoteBind)')"><span class="k-icon k-i-print"></span> @_f.tra("Příloha opravovaného dokladu")</button>
    }


}
@if (_intP91ID_OpravnyDoklad > 0)
{
    <button type="button" class="btn btn-sm btn-danger" onclick="_window_open('/x31/ReportContext?x31id=@(_intX31ID_OpravnyDoklad)&prefix=p91&pid=@(_intP91ID_OpravnyDoklad)')"><span class="k-icon k-i-print"></span> @_f.tra("Opravný doklad")</button>
}