@model UI.Models.PeriodViewModel
@inject BL.ThePeriodProvider _pp
@inject BL.Factory _f
@{
    if (Model == null)
    {
        return;
    }
    string _PeriodFieldAlias = null;
    string _PeriodAlias = null;
    switch (Model.PeriodField)
    {
        case "p31Date":
            _PeriodFieldAlias = _f.tra("Datum úkonu");break;
        case "p91Date":
        case "p90Date":
            _PeriodFieldAlias = _f.tra("Datum vystavení vyúčtování"); break;
        case "p91DateSupply":
            _PeriodFieldAlias = _f.tra("DUZP vyúčtování"); break;
        case "p31DateInsert":
        case "p91DateInsert":
        case "p90DateInsert":
        case "p41DateInsert":
        case "p28DateInsert":
            _PeriodFieldAlias = _f.tra("Čas založení záznamu"); break;
        default:
            _PeriodFieldAlias = _f.tra("Časové období");
            break;
    }
    if (Model.PeriodValue > 1)
    {
        BO.ThePeriod per = null;
        if (Model.PeriodValue > 60)
        {
            var rec = _f.FBL.LoadX21(Model.PeriodValue);
            if (rec != null)
            {
                Model.d1 = rec.x21ValidFrom;
                Model.d2 = rec.x21ValidUntil;
                _PeriodAlias = rec.x21Name + " ** " + BO.BAS.ObjectDate2String(rec.x21ValidFrom) + " - " + BO.BAS.ObjectDate2String(rec.x21ValidUntil);
            }
        }
        else
        {
            per = _pp.ByPid(Model.PeriodValue);
            _PeriodAlias = _f.tra(per.PeriodName) + " ** " + BO.BAS.ObjectDate2String(per.d1) + " - " + BO.BAS.ObjectDate2String(per.d2);
        }


    }
    if (Model.PeriodValue == 1)
    {
        _PeriodAlias = BO.BAS.ObjectDate2String(Model.d1) + " - " + BO.BAS.ObjectDate2String(Model.d2);
    }


        }

        @addTagHelper *, UI

        <button type="button" class="btn btn-light dropdown-toggle" id="cmdPeriodMore">
            <span id="span1">@_PeriodFieldAlias</span>
            <span id="span2">@(_PeriodAlias)</span>
        </button>



<div id="divPeriodMore" style="display:none;"></div>

<script type="text/javascript">
    var _reportViewer1_top_uschova = 0;

    @if (Model.PeriodValue > 0) {
        <text>
    $("#cmdPeriodMore").css("background-color", "red");
    $("#span2").css("color", "white");
        </text>
    }

    $("#cmdPeriodMore").click(function () {
        $("#divPeriodMore").toggle();

        if (document.getElementById("reportViewer1")) {
            if (_reportViewer1_top_uschova == 0) {
                _reportViewer1_top_uschova = $("#reportViewer1").css("top");
            }
            if ($("#divPeriodMore").css("display") == "block") {
                $("#reportViewer1").css("top", "280px");
            } else {
                $("#reportViewer1").css("top", _reportViewer1_top_uschova);
            }
        }
        
        
        if ($("#divPeriodMore").css("display") == "block" && $("#divPeriodMore").html().length < 10) {
            var prefix = "@(Model.prefix)";
            var masterentity = "@(Model.masterentity)";
            var userparamkey = "@(Model.UserParamKey)";

            var ifwidth = _device.innerWidth - $("#cmdPeriodMore").offset().left;
            if (ifwidth > 900) {
                ifwidth = 900;
            }
            var ifhtml = "<iframe src='/Period/PeriodIframe?prefix=" + prefix + "&masterentity=" + masterentity + "&userparamkey="+userparamkey+"' width='100%' height='230px'></iframe>";
            $("#divPeriodMore").css("width", ifwidth + "px");
            $("#divPeriodMore").css("height", "240px");
            $("#divPeriodMore").html(ifhtml);
        }
    });




</script>