@model UI.Models.RoleAssignViewModel
@inject BL.Factory _f

@{
    if (Model.RecPrefix == null)
    {
        return;
    }
    int _x29ID = BO.BASX29.GetInt(Model.RecPrefix);
    //string _lang_tymy = _f.tra("Týmy") + "...";
    //string _lang_osoby = _f.tra("Osoby/Jednotlivci") + "...";
    string _lang_vsichni = _f.tra("Všichni");
    string _lang_neobsazeno = _f.tra("Role neobsazena");
    string _lang_header = null;
    switch (Model.RecPrefix)
    {
        case "p41":
            _lang_header =_f.tra("Oprávnění")+": "+ _f.tra("Obsazení rolí v projektu"); break;
        case "p28":
            _lang_header = _f.tra("Obsazení rolí v klientovi"); break;
        case "o23":
            _lang_header = _f.tra("Obsazení rolí v dokumentu"); break;
        case "p91":
            _lang_header = _f.tra("Obsazení rolí ve vyúčtování"); break;
        case "p90":
            _lang_header = _f.tra("Obsazení rolí v zálohové faktuře"); break;
        case "p56":
            _lang_header = _f.tra("Obsazení rolí v úkolu"); break;
        case "j18":
            _lang_header = _f.tra("Obsazení rolí ve středisku"); break;
        case "x18":
            _lang_header = _f.tra("Obsazení rolí v typu dokumentu"); break;
    }

    if (Model.lisRepeator == null)
    {
        IEnumerable<BO.x69EntityRole_Assign> lisX69 = null;
        if (Model.RecPid > 0)
        {
            lisX69 = _f.x67EntityRoleBL.GetList_X69(_x29ID, Model.RecPid);
        }
        Model.lisRepeator = new List<RoleAssignRepeator>();
        var lisX67 = _f.x67EntityRoleBL.GetList(new BO.myQuery("x67") { x29id = _x29ID });
        foreach (var c in lisX67)
        {
            var cc = new RoleAssignRepeator() { x67ID = c.pid, x67Name = c.x67Name,IsNone=true };
            if (lisX69 != null)
            {
                var qry = lisX69.Where(p => p.x67ID == c.pid);
                if (qry.Count() > 0)
                {
                    cc.IsNone = false;
                    if (qry.Any(p => p.IsAllPersons))
                    {
                        cc.IsAllPersons = true;
                    }
                    else
                    {
                        if (qry.Any(p => p.j11ID > 0))
                        {
                            cc.j11IDs = string.Join(",", qry.Where(p => p.j11ID > 0).Select(p => p.j11ID));
                            cc.Teams = string.Join(",", qry.Where(p=>p.j11ID>0).Select(p => p.j11Name));
                        }

                        if (qry.Any(p => p.j02ID > 0))
                        {
                            cc.j02IDs = string.Join(",", qry.Where(p => p.j02ID > 0).Select(p => p.j02ID));
                            cc.Persons = string.Join(",", qry.Where(p => p.j02ID > 0).Select(p => p.Person));
                        }
                    }

                }
            }
            Model.lisRepeator.Add(cc);
        }
    }

    foreach (var c in Model.lisRepeator)
    {
        if (c.IsNone)
        {
            c.CssVisibility_j02 = "hidden";
            c.CssVisibility_j11 = "hidden";
            c.CssVisibility_all = "hidden";
        }
        else
        {
            if (c.IsAllPersons)
            {
                c.CssVisibility_j02 = "hidden";
                c.CssVisibility_j11 = "hidden";
            }
        }

    }


}

@addTagHelper *, UI

<input type="hidden" asp-for="@Model.RecPrefix" />
<input type="hidden" asp-for="@Model.RecPid" />

<div class="card">
    <div class="card-header">
        @(_lang_header)
    </div>
    <div class="card-body">
        @for (int i = 0; i < Model.lisRepeator.Count(); i++)
        {
        <div class="row my-1 divhover" style="border-bottom:solid 1px #F5F5F5;">
            <div class="col-sm-2 col-md-2" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                @(Model.lisRepeator[i].x67Name):
                <input type="hidden" asp-for="@Model.lisRepeator[i].x67ID" />
                <input type="hidden" asp-for="@Model.lisRepeator[i].x67Name" />
            </div>
            <div id="divJ02@(i)" class="col-sm-3 col-md-3" style="visibility:@(Model.lisRepeator[i].CssVisibility_j02);">
                <mycombochecklist asp-for="@Model.lisRepeator[i].j02IDs" elementid-prefix="@(Model.elementidprefix)" entity="j02Person" selectedtext="@Model.lisRepeator[i].Persons" myqueryinline="j02isintraperson|bool|1"></mycombochecklist>

            </div>
            <div id="divJ11@(i)" class="col-sm-3 col-md-3" style="visibility: @(Model.lisRepeator[i].CssVisibility_j11);">
                <mycombochecklist asp-for="@Model.lisRepeator[i].j11IDs" entity="j11Team" elementid-prefix="@(Model.elementidprefix)" selectedtext="@Model.lisRepeator[i].Teams" myqueryinline="notall|bool|1"></mycombochecklist>
            </div>
            <div id="divAll@(i)" class="col-sm-2 col-md-2" style="visibility: @(Model.lisRepeator[i].CssVisibility_all);">
                <input type="checkbox" id="chkAll@(i)" asp-for="@Model.lisRepeator[i].IsAllPersons" onchange="allpersons_change(this,@(i))" />
                <label for="chkAll@(i)">@(_lang_vsichni)</label>
            </div>
            <div class="col-sm-2 col-md-2">
                <input type="checkbox" id="chkNone@(i)" asp-for="@Model.lisRepeator[i].IsNone" onchange="isnone_change(this,@(i))" />
                <label for="chkNone@(i)">@(_lang_neobsazeno)</label>
            </div>
        </div>
        }
    </div>
</div>

<script type="text/javascript">

    function allpersons_change(chk, index) {
        var s = "visible";
        if ($(chk).prop("checked") == true) {
            s = "hidden";
        }
        $("#divJ02" + index).css("visibility", s);
        $("#divJ11" + index).css("visibility", s);
    }

    function isnone_change(chk, index) {
        var s = "visible";
        if ($(chk).prop("checked") == true) {
            $("#divJ02" + index).css("visibility", "hidden");
            $("#divJ11" + index).css("visibility", "hidden");
            $("#divAll" + index).css("visibility", "hidden");
        } else {
            $("#divAll" + index).css("visibility", "visible");
            allpersons_change($("#chkAll" + index), index);            
        }
        
        
    }
</script>