@model StopPageViewModel
@inject BL.Factory _f

@{
    Model.PageTitle = "Stop";
    if (Model.IsModal == true)
    {
        Layout = "~/Views/Shared/_LayoutModal.cshtml";
    }
    else
    {
        if (Model.IsSubform)
        {
            Layout = "~/Views/Shared/_LayoutSubform.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

    }

}

<h1>@_f.tra("Upozornění")!</h1>
<hr />

<h4>@Html.Raw(@Model.Message)</h4>
<hr />

<p>@_f.tra("Osobní profil"): <strong>@_f.CurrentUser.PersonAsc</strong></p>
<p>@_f.tra("Uživatel"): <strong>@_f.CurrentUser.j03Login</strong></p>
<p>@_f.tra("Aplikační role"): <strong>@_f.CurrentUser.j04Name</strong></p>
<p>E-mail: <strong>@_f.CurrentUser.j02Email</strong></p>
<p>@_f.tra("Jazyk"): <strong>@_f.CurrentUser.LangName</strong></p>

<script type="text/javascript">
    $(document).ready(function () {

        @if (Model.IsModal)
        {
            <text>
        if ($(window).width() > 1300) {
            parent.window._window_toggle();
        }
        
            </text>
        }
        

    });
</script>

