@model UI.Models.Record.o53Record
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Kategorie");
}

@addTagHelper *, UI




<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.o53Name" />
            <span asp-validation-for="Rec.o53Name" class="text-danger"></span>
        </div>
    </div>
    <div class="my-2">
        <input asp-for="@Model.Rec.o53IsMultiSelect" />
        <label for="Rec_o53IsMultiSelect">@_f.tra("Při kategorizaci možnost zaškrtnout více položek (checkbox-list)")</label>
    </div>
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-11 col-md-10">
            <mynumber asp-for="Rec.o53Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            @_f.tra("Vazba položek skupiny na entity")
        </div>
        <div class="card-body">
            @if (_f.CurrentUser.j03LangIndex == 2)
            {
                <mycheckboxlist asp-for="@Model.SelectedEntities" textfield="TranslateLang2" valuefield="x29ID" datasource="@Model.ApplicableEntities"></mycheckboxlist>
            }
            else
            {
                <mycheckboxlist asp-for="@Model.SelectedEntities" textfield="AliasPlural" valuefield="x29ID" datasource="@Model.ApplicableEntities"></mycheckboxlist>
            }

        </div>
    </div>





</div>



<script type="text/javascript">

</script>



