@model UI.Models.Record.x18Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Typ dokumentu");

}
@addTagHelper *, UI


<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab1" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab1">@_f.tra("Vlastnosti")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab2" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab2">@_f.tra("Uživatelská pole dokumentu")</a>
        </li>

        <li class="nav-item onetab" role="presentation" data-intra="1">
            <a id="link_tab3" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab3">@_f.tra("Ostatní")</a>
        </li>

        <li class="nav-item onetab" role="presentation" data-intra="1">
            <a id="link_tab4" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab4">@_f.tra("Oprávnění k dokumentům")</a>
        </li>
    </ul>
</div>


<div class="modal_record_container">
    <div class="tab-content">
        <div class="tab-pane" id="tab1" role="tabpanel">
            <!-- Tab1 -->

            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
                <div class="col-sm-6 col-md-5">
                    <input class="form-control" asp-for="Rec.x18Name" />
                </div>
                <label class="col-sm-2 col-md-2 col-form-label">#@_f.tra("Index pořadí"):</label>
                <div class="col-sm-1 col-md-1">
                    <mynumber asp-for="Rec.x18Ordinary" decimal-digits="0"></mynumber>
                </div>
            </div>

            <div class="card">
                <div class="card-header row">
                    <div class="col-10">
                        <select asp-for="@Model.SelectedX29ID" class="form-select">
                            <option value="_NotSpecified">--@_f.tra("Vyberte entitu")--</option>
                            <option value="p41Project">@_f.tra("Projekt")</option>
                            <option value="p28Contact">@_f.tra("Klient")</option>
                            <option value="j02Person">@_f.tra("Osoba")</option>
                            <option value="p56Task">@_f.tra("Úkol")</option>
                            <option value="p91Invoice">@_f.tra("Vyúčtování")</option>
                            <option value="p90Proforma">@_f.tra("Záloha")</option>
                            <option value="p31Worksheet">@_f.tra("Úkon")</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary" onclick="x20_add_row()">@_f.tra("Vložit vybranou entitu")</button>
                    </div>
                    
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        @for (int i = 0; i < Model.lisX20.Count; i++)
                        {
                        <tr style="@(Model.lisX20[i].CssTempDisplay)">
                            <td>
                                <input type="hidden" asp-for="lisX20[i].IsTempDeleted" value="@Model.lisX20[i].IsTempDeleted" />
                                <input type="hidden" asp-for="lisX20[i].TempGuid" value="@Model.lisX20[i].TempGuid" />
                                <input type="hidden" asp-for="lisX20[i].x20ID" value="@Model.lisX20[i].x20ID" />
                                <input type="hidden" asp-for="lisX20[i].ComboEntity" value="@Model.lisX20[i].ComboEntity" />
                                
                                <div>
                                    <select asp-for="lisX20[i].x29ID" disabled="disabled">
                                        <option value="0">??</option>
                                        <option value="141">@_f.tra("Projekt")</option>
                                        <option value="328">@_f.tra("Klient")</option>
                                        <option value="102">@_f.tra("Osoba")</option>
                                        <option value="356">@_f.tra("Úkol")</option>
                                        <option value="391">@_f.tra("Vyúčtování")</option>
                                        <option value="390">@_f.tra("Záloha")</option>
                                        <option value="331">@_f.tra("Úkon")</option>
                                    </select>


                                    <input type="text" asp-for="lisX20[i].x20Name" placeholder="@_f.tra("Název vazby")" />

                                    <input type="checkbox" asp-for="lisX20[i].x20IsEntryRequired" />
                                    <label class="col-form-label" for="lisX20_@(i)__x20IsEntryRequired">@_f.tra("Povinná vazba")</label>

                                    <input type="checkbox" asp-for="lisX20[i].x20IsMultiSelect" />
                                    <label class="col-form-label" for="lisX20_@(i)__x20IsMultiSelect">@_f.tra("Povoleno více-násobné přiřazení")</label>

                                    
                                    <select asp-for="lisX20[i].x20EntryModeFlag">
                                        <option value="Combo">@_f.tra("Ručně uživatelem nebo odkazem")</option>
                                        <option value="InsertUpdateWithoutCombo">@_f.tra("Odkazem")</option>
                                        <option value="ExternalByWorkflow">@_f.tra("Ze strany workflow")</option>
                                    </select>
                                    <div>
                                        <mycombo entity="@Model.lisX20[i].ComboEntity" asp-for="lisX20[i].x20EntityTypePID" selectedtext="@Model.lisX20[i].ComboSelectedText" filter-flag="1" placeholder="@_f.tra("Omezit na typ...")"></mycombo>

                                        <input type="checkbox" asp-for="lisX20[i].x20IsClosed" />
                                        <label class="col-form-label" for="lisX20_@(i)__x20IsClosed">@_f.tra("Vazba uzavřena pro přiřazování")</label>

                                    </div>

                                </div>
                            </td>
                            <td>
                                #<input type="text" asp-for="lisX20[i].x20Ordinary" title="Index pořadí" style="width:30px;" />
                            </td>
                            <td width="60px">
                                <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="x20_delete_row('@(Model.lisX20[i].TempGuid)')">x</button>
                            </td>
                        </tr>
                        }
                    </table>

                </div>
            </div>

        </div>

        <div class="tab-pane" id="tab2" role="tabpanel">
            <!-- Tab2 -->
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="x16_add_row()">@_f.tra("Přidat řádek")</button>
            <div style="overflow:auto;max-height:500px;">
                <table class="table table-hover" style="table-layout: fixed;min-width:800px;">
                    @for (int i = 0; i < Model.lisX16.Count; i++)
                    {
                        <tr style="@(Model.lisX16[i].CssTempDisplay)">
                            <td style="width:200px;">
                                <select asp-for="lisX16[i].x16Field" onchange="postback()">
                                    <option value="">--@_f.tra("Obsazené pole")--</option>
                                    <option value="o23FreeText01">Text 1</option>
                                    <option value="o23FreeText02">Text 2</option>
                                    <option value="o23FreeText03">Text 3</option>
                                    <option value="o23FreeText04">Text 4</option>
                                    <option value="o23FreeText05">Text 5</option>
                                    <option value="o23FreeText06">Text 6</option>
                                    <option value="o23FreeText07">Text 7</option>
                                    <option value="o23FreeText08">Text 8</option>
                                    <option value="o23FreeText09">Text 9</option>
                                    <option value="o23FreeText10">Text 10</option>
                                    <option value="o23FreeText11">Text 11</option>
                                    <option value="o23FreeText12">Text 12</option>
                                    <option value="o23FreeText13">Text 13</option>
                                    <option value="o23FreeText14">Text 14</option>
                                    <option value="o23FreeText15">Text 15</option>
                                    <option value="o23BigText">@_f.tra("Velký text (1000)")</option>
                                    <option value="o23HtmlContent">Html editor</option>
                                    <option value="o23FreeNumber01">Číslo 1</option>
                                    <option value="o23FreeNumber02">Číslo 2</option>
                                    <option value="o23FreeNumber03">Číslo 3</option>
                                    <option value="o23FreeNumber04">Číslo 4</option>
                                    <option value="o23FreeNumber05">Číslo 5</option>
                                    <option value="o23FreeDate01">Datum 1</option>
                                    <option value="o23FreeDate02">Datum 2</option>
                                    <option value="o23FreeDate03">Datum 3</option>
                                    <option value="o23FreeDate04">Datum 4</option>
                                    <option value="o23FreeDate05">Datum 5</option>
                                    <option value="o23FreeBoolean01">ANO/NE 1</option>
                                    <option value="o23FreeBoolean02">ANO/NE 2</option>
                                    <option value="o23FreeBoolean03">ANO/NE 3</option>
                                    <option value="o23FreeBoolean04">ANO/NE 4</option>
                                    <option value="o23FreeBoolean05">ANO/NE 5</option>

                                </select>
                            </td>
                            <td style="width:350px;">
                                <input type="hidden" asp-for="lisX16[i].IsTempDeleted" value="@Model.lisX16[i].IsTempDeleted" />
                                <input type="hidden" asp-for="lisX16[i].TempGuid" value="@Model.lisX16[i].TempGuid" />

                                <label>@_f.tra("Název"):</label>
                                <input type="text" asp-for="lisX16[i].x16Name" />
                                <br />
                                <label>@_f.tra("Název sloupce"):</label>
                                <input type="text" asp-for="lisX16[i].x16NameGrid" />
                                <div>
                                    <input type="checkbox" asp-for="lisX16[i].x16IsEntryRequired" />
                                    <label class="col-form-label" for="lisX16_@(i)__x16IsEntryRequired">@_f.tra("Povinné k vyplnění")</label>
                                </div>
                                <div>
                                    <input type="checkbox" asp-for="lisX16[i].x16IsGridField" />
                                    <label class="col-form-label" for="lisX16_@(i)__x16IsGridField">@_f.tra("GRID sloupec")</label>
                                    #<input type="text" asp-for="lisX16[i].x16Ordinary" title="Index pořadí mezi poli" style="width:30px;" />
                                </div>
                            </td>
                            <td>
                                <textarea asp-for="lisX16[i].x16DataSource" class="form-control" placeholder="@_f.tra("Možné hodnoty pole (oddělovač: středník)")"></textarea>
                                <div>
                                    <input type="checkbox" asp-for="lisX16[i].x16IsFixedDataSource" />
                                    <label class="col-form-label" for="lisX16_@(i)__x16IsFixedDataSource">@_f.tra("Okruh hodnot je zafixován")</label>
                                </div>
                                <div>
                                    <label>@_f.tra("Výška pole"):</label>
                                    <input type="text" asp-for="lisX16[i].x16TextboxHeight" style="width:30px;" />
                                    <label>@_f.tra("Formát"):</label>
                                    <input type="text" asp-for="lisX16[i].x16Format" />
                                </div>
                            </td>
                            <td width="60px">
                                <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="x16_delete_row('@(Model.lisX16[i].TempGuid)')">x</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>

        <div class="tab-pane" id="tab3" role="tabpanel">
            <!-- Tab3 -->
            <div class="card">
                <div class="card-header">
                    @_f.tra("Limity pro nahrávání souborových příloh")
                </div>
                <div class="card-body">
                    <input type="radio" id="x18UploadFlag0" asp-for="@Model.Rec.x18UploadFlag" value="NotUsed" onchange="postback()">
                    <label for="x18UploadFlag0">@_f.tra("Bez omezení")</label>
                    <br />
                    <input type="radio" id="x18UploadFlag1" asp-for="@Model.Rec.x18UploadFlag" value="FileSystemUpload" onchange="postback()">
                    <label for="x18UploadFlag1">@_f.tra("Omezení velikosti a přípony souboru")</label>
                    <br />
                    @if (Model.Rec.x18UploadFlag == BO.x18UploadENUM.FileSystemUpload)
                    {
                        <label>@_f.tra("Maximální velikost jedné souborové přílohy"):</label>
                        <select asp-for="@Model.Rec.x18MaxOneFileSize">
                            <option value="1048576">1MB</option>
                            <option value="2097152">2MB</option>
                            <option value="3145728">3MB</option>
                            <option value="4194304">4MB</option>
                            <option value="5242880">5MB</option>
                            <option value="6291456">6MB</option>
                            <option value="7340032">7MB</option>
                            <option value="10485760">10MB</option>
                        </select>
                        <br />

                        <input type="text" class="form-control" asp-for="@Model.Rec.x18AllowedFileExtensions" placeholder="@_f.tra("Povolené přípony nahrávaných souborů")" />
                    }
                </div>
            </div>
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Zkrácený (preferovaný) název"):</label>
                <div class="col-sm-6 col-md-5">
                    <input class="form-control" asp-for="Rec.x18NameShort" />
                </div>

            </div>

            <div class="my-2">
                <input type="checkbox" asp-for="@Model.Rec.x18IsColors" />
                <label class="col-form-label" for="Rec_x18IsColors">@_f.tra("Možnost rozlišovat dokumenty barvou")</label>
            </div>
            <div class="my-2">
                <input type="checkbox" asp-for="@Model.Rec.x18IsAllowEncryption" />
                <label class="col-form-label" for="Rec_x18IsAllowEncryption">@_f.tra("Nabízet možnost zašifrovat poznámku")</label>
            </div>

            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vyplňování názvu položky"):</label>
                <div class="col-sm-6 col-md-5">
                    <select class="form-select" asp-for="@Model.Rec.x18EntryNameFlag">
                        <option value="Manual">@_f.tra("Ručně")</option>
                        <option value="NotUsed">@_f.tra("Nevyplňovat")</option>
                    </select>
                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vyplňování kódu položky"):</label>
                <div class="col-sm-6 col-md-5">
                    <select class="form-select" asp-for="@Model.Rec.x18EntryNameFlag">
                        <option value="Manual">@_f.tra("Ručně")</option>
                        <option value="NotUsed">@_f.tra("Nevyplňovat")</option>
                        <option value="AutoX18">@_f.tra("Automaticky v rámci dokumentu")</option>
                        <option value="AutoP41">@_f.tra("Automaticky v rámci projektu")</option>
                        <option value="X38ID">@_f.tra("Podle zvolené číselné řady")</option>
                    </select>
                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Okruh šablon tiskových sestav"):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.x18ReportCodes" />
                </div>

            </div>
        </div>

        <div class="tab-pane" id="tab4" role="tabpanel">
            <!-- Tab4 -->

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        document.addEventListener("form1_beforesave", function (e) {    //událost před uložením formuláře
            e.detail.cancel = false;
            
            enablefields();
            
        });


    });

    function postback() {
        enablefields();
        form1.action = _ep("/x18/Record?oper=postback");
        form1.submit();
    }

    function x20_add_row() {
        enablefields();
        form1.action = _ep("/x18/Record?oper=x20_add_row");
        form1.submit();
    }
    function x20_delete_row(guid) {
        enablefields();
        form1.action = _ep("/x18/Record?oper=x20_delete_row&guid=" + guid);
        form1.submit();

    }

    function x16_delete_row(guid) {
        enablefields();
        form1.action = _ep("/x18/Record?oper=x16_delete_row&guid=" + guid);
        form1.submit();

    }
    function x16_add_row() {
        enablefields();
        form1.action = _ep("/x18/Record?oper=x16_add_row");
        form1.submit();
    }

    function enablefields() {
        $("input:disabled, select:disabled").each(function () {
            $(this).prop("disabled", false);
        });
    }
</script>
