@model UI.Models.p91oper.p31editViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Upravit položku vyúčtování") + ": " + Model.RecP91.p92Name + " / " + Model.RecP91.p91Code + " (" + Model.RecP91.p91Client + ")";

}

@addTagHelper *, UI




<div class="tabs_container_record">
    <div style="padding:10px;">
        <table>
            <tr>
                <td>
                    <myval value="@_f.tra("Detail položky vyúčtování (úkonu)")" hoverprefix="p31" hoverheight="600" hoverpid="@Model.p31ID"></myval>
                </td>
                <td>
                    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
                </td>
                
            </tr>
        </table>
    </div>
    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab1" class="nav-link active">@_f.tra("Upravit položku vyúčtování")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab2" class="nav-link" href="/p91oper/p31remove?p31id=@Model.p31ID">@_f.tra("Vyjmout položku z vyúčtování")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab3" class="nav-link" href="/p91oper/p31move2invoice?p31id=@Model.p31ID">@_f.tra("Přesunout do jiného vyúčtování")</a>
        </li>

    </ul>
</div>

<div class="my-4">
    <button type="button" id="cmdOK" class="btn btn-success">@_f.tra("Uložit změny")</button>
</div>

<form id="form1" asp-controller="p91oper" asp-action="p31edit" method="POST">
    <div style="max-width:800px;margin-top:20px;">
        
        <div class="row">
            <div class="col-auto">
                <div class="card">
                    <div class="card-header">
                        @_f.tra("Fakturační stav úkonu")
                    </div>
                    <div class="card-body">
                        <input type="radio" asp-for="@Model.SelectedP70ID" id="opg4" value="Vyfakturovano" onchange="postback()" />
                        <label for="opg4">@_f.tra("Fakturovat")</label>
                        <br />
                        <input type="radio" asp-for="@Model.SelectedP70ID" id="opg6" value="ZahrnutoDoPausalu" onchange="postback()" />
                        <label for="opg6">@_f.tra("Zahrnout do paušálu")</label>
                        <br />
                        <input type="radio" asp-for="@Model.SelectedP70ID" id="opg2" value="ViditelnyOdpis" onchange="postback()" />
                        <label for="opg2">@_f.tra("Viditelný odpis")</label>
                        <br />
                        <input type="radio" asp-for="@Model.SelectedP70ID" id="opg3" value="SkrytyOdpis" onchange="postback()" />
                        <label for="opg3">@_f.tra("Skrytý odpis")</label>
                        <br />
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <table>
                    @if (Model.Rec.p33ID == BO.p33IdENUM.Cas)
                    {
                        <tr style="display:@Model.CssDisplayMoney">
                            <td>
                                @_f.tra("Hodiny k fakturaci"):
                            </td>
                            <td>
                                <myhours asp-for="@Model.Hours" showsettingbutton="true" hoursentryflag="@_f.CurrentUser.j03HoursEntryFlagV7" hoursentryformat="@_f.CurrentUser.j03DefaultHoursFormat"></myhours>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr style="display:@Model.CssDisplayMoney">
                            <td>
                                @_f.tra("Hodinová sazba"):
                            </td>
                            <td>
                                <mynumber asp-for="@Model.p31Rate_Billing_Invoiced"></mynumber>
                            </td>
                            <td>
                                @Model.RecP91.j27Code
                            </td>
                        </tr>
                        @if (Model.SelectedP70ID == BO.p70IdENUM.ZahrnutoDoPausalu)
                        {
                            <tr>
                                <td>
                                    @_f.tra("Hodiny v paušálu"):
                                </td>
                                <td>
                                    <myhours asp-for="@Model.Hours_FixPrice" showsettingbutton="true" hoursentryflag="@_f.CurrentUser.j03HoursEntryFlagV7" hoursentryformat="@_f.CurrentUser.j03DefaultHoursFormat"></myhours>
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.Rec.p33ID == BO.p33IdENUM.Kusovnik)
                    {
                        <tr style="display:@Model.CssDisplayMoney">
                            <td>
                                @_f.tra("Počet k fakturaci"):
                            </td>
                            <td>
                                <mynumber asp-for="@Model.p31Value_Invoiced"></mynumber>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr style="display:@Model.CssDisplayMoney">
                            <td>
                                @_f.tra("Sazba za kus"):
                            </td>
                            <td>
                                <mynumber asp-for="@Model.p31Rate_Billing_Invoiced"></mynumber>
                            </td>
                            <td>
                                @Model.RecP91.j27Code
                            </td>
                        </tr>
                    }
                    @if (Model.Rec.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.Rec.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
                    {
                        <tr style="display:@Model.CssDisplayMoney">
                            <td>
                                @_f.tra("Fakturační cena bez DPH"):
                            </td>
                            <td>
                                <mynumber asp-for="@Model.p31Amount_WithoutVat_Invoiced"></mynumber>
                            </td>
                            <td>
                                @Model.RecP91.j27Code
                            </td>
                        </tr>
                    }

                    <tr style="display:@Model.CssDisplayMoney">
                        <td>
                            @_f.tra("Sazba DPH"):
                        </td>
                        <td>
                            <mynumber asp-for="@Model.p31VatRate_Invoiced"></mynumber>
                        </td>
                        <td>
                            %
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <textarea asp-for="@Model.p31Text" class="form-control" placeholder="@_f.tra("Text úkonu")"></textarea>

        <div>
            @Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFields.cshtml")
        </div>

        <div class="my-2">
            <mystitky entity="p31Worksheet" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml" buttontext="@_f.tra("Oštítkovat")"></mystitky>
        </div>
    </div>


    <input type="hidden" asp-for="@Model.p31ID" />
    
</form>


<script type="text/javascript">
    $(document).ready(function () {

        


        $("#cmdOK").click(function () {

            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();


        });

        _resize_textareas();

    })


    function postback() {
        form1.action = _ep("/p91oper/p31edit?oper=postback");
        form1.submit();
    }

    function hardrefresh(pid, flag) {        
        postback();
    }
</script>

