@model UI.Models.Tab1.p91Tab1
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;

    var _disp = _f.p91InvoiceBL.InhaleRecDisposition(Model.Rec);
}

@addTagHelper *, UI


<div class="info_record_container">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            @if (_disp.OwnerAccess)
            {
                <a class="btn btn-sm btn-outline-secondary" href="javascript:_edit('p91',@Model.pid)">@_f.tra("Karta")</a>
            }

            <a class="btn btn-sm btn-outline-secondary" href="/p91/RecPage?pid=@Model.pid" target="_top">@_f.tra("Stránka")</a>
            @if (_f.CurrentUser.j04IsMenu_Invoice)
            {
                <a class="btn btn-sm btn-outline-secondary" href="@(basUI.GetGridUrl(_f,"p91",Model.pid))" target="_top">Grid</a>
            }

        </div>
        <div class="col-sm-2 col-md-2">
            <myval value="@Model.Rec.p91Code"></myval>

        </div>
        <div class="col-sm-3 col-md-2">
            <myval value="@Model.Rec.p92Name"></myval>

        </div>
        <div class="col-sm-3 col-md-2">
            <myval value="@Model.RecP93.p93Name" tooltip="@_f.tra("Vystavovatel faktury")"></myval>

        </div>
        <div class="col-sm-2 col-md-2">
            <myval value="@(Model.RecP86.p86BankAccount+"/"+Model.RecP86.p86BankCode)"></myval>

        </div>
    </div>

    <div class="row my-2">
        <div class="col-sm-6 col-md-5">
            <myval value="@Model.Rec.p91Client"></myval>

        </div>
        <div class="col-sm-2 col-md-2">
            <myval value="@Model.Rec.p91Client_RegID"></myval>

        </div>
        <div class="col-sm-2 col-md-2">
            <myval value="@Model.Rec.p91Client_VatID"></myval>

        </div>
    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@(_f.tra("Bez DPH")) @(Model.Rec.j27Code):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="num" value="@Model.Rec.p91Amount_WithoutVat"></myval>

        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@(_f.tra("Vystaveno")):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="date" value="@Model.Rec.p91Date"></myval>

        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@(_f.tra("DPH")) @(Model.Rec.j27Code):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="num" value="@Model.Rec.p91Amount_Vat"></myval>

        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@(_f.tra("DUZP")):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="date" value="@Model.Rec.p91DateSupply"></myval>

        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@(_f.tra("Celkem")) @(Model.Rec.j27Code):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="num" value="@Model.Rec.p91Amount_TotalDue"></myval>

        </div>

        <label class="col-sm-1 col-md-1 col-form-label">@(_f.tra("Splatnost")):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="date" value="@Model.Rec.p91DateMaturity"></myval>

        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@(_f.tra("Dluh")) @(Model.Rec.j27Code):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="num" value="@Model.Rec.p91Amount_Debt"></myval>

        </div>

        <label class="col-sm-1 col-md-1 col-form-label">@(_f.tra("Úhrada")):</label>
        <div class="col-sm-3 col-md-2">
            <myval datatype="date" value="@Model.Rec.p91DateBilled"></myval>

        </div>
    </div>

    @if (Model.Rec.p91Text1 != null)
    {
        <div class="my-2">
            <i>
                @Html.Raw(BO.BAS.Text2Html(Model.Rec.p91Text1))
            </i>
        </div>
    }

    @Html.Raw(Model.TagHtml)
</div>