@model UI.Models.Recpage.p91RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;


}

@addTagHelper *, UI

@if (Model.RecP92.x31ID_Invoice > 0)
{
    <button type="button" class="btn btn-sm btn-warning" onclick="p91report(@(Model.RecP92.x31ID_Invoice),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Sestava dokladu")</button>
}
@if (Model.RecP92.x31ID_Attachment > 0)
{
    <button type="button" class="btn btn-sm btn-info" onclick="p91report(@(Model.RecP92.x31ID_Attachment),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Sestava přílohy")</button>
}
@if (Model.RecP92.x31ID_Letter > 0)
{
    <button type="button" class="btn btn-sm btn-success" onclick="p91report(@(Model.RecP92.x31ID_Letter),@Model.pid)"><span class="k-icon k-i-print"></span> @_f.tra("Průvodní dopis")</button>
}

<button type="button" class="btn btn-sm btn-outline-secondary" onclick="p91sendmail(@Model.pid)"><span class="k-icon k-i-email"></span> @_f.tra("Odeslat zprávu")</button>

@if (Model.Rec.p91IsDraft)
{
    <button type="button" class="btn btn-sm btn-outline-primary" onclick="converfromdraft(@Model.pid)">@_f.tra("Převést DRAFT na oficiální doklad")</button>
}

<div class="info_record_container">

    @Html.EditorFor(m => m, "~/Views/Shared/_p91RecPageContent.cshtml")

</div>




