@model UI.Models.p31view.daylineViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.PageTitle = "DAYLINE";

    string strClass = null;
    string strTitle = null;
    double dblHours = 0;
    string strHours = null;
    double dblFond = 0;
}

@addTagHelper *, UI

@section header_content{

    <link rel="stylesheet" href="~/css/dayline.css" />


}

<div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="input-group">
        <div>
            <button class="btn btn-outline-secondary dropdown-toggle" id="cmdMore">@_f.tra("Zobrazení")</button>
        </div>
        <div style="margin-left:1px;">
            <button title="@_f.tra("Předchozí")" type="button" class="btn btn-sm btn-outline-secondary" onclick="month_prev()"><i class="material-icons-outlined-btn">first_page</i></button>
        </div>
        <div style="width:130px;">
            <mydate asp-for="@Model.d0"></mydate>
        </div>
        <div>
            <button title="@_f.tra("Další")" type="button" class="btn btn-outline-secondary" onclick="month_next()"><i class="material-icons-outlined-btn">last_page</i></button>
        </div>
        <div id="divQueryJ02" style="width: 200px;">
            <mycombochecklist asp-for="@Model.j02IDs" entity="j02Person" myqueryinline="j02isintraperson|bool|1" placeholder="@_f.tra("Osoby/jednotlivci")" selectedtext="@Model.SelectedPersons" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div id="divQueryJ07" style="width: 170px;">
            <mycombochecklist asp-for="@Model.j07IDs" entity="j07PersonPosition" placeholder="@_f.tra("Pozice")" selectedtext="@Model.SelectedPositions" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div id="divQueryJ11" style="width: 200px;">
            <mycombochecklist asp-for="@Model.j11IDs" entity="j11Team" placeholder="@_f.tra("Týmy osob")" myqueryinline="notall|bool|1" selectedtext="@Model.SelectedTeams" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div style="width:110px;">
            <button type="button" id="cmdRefresh" class="btn btn-primary" style="display:none;margin-left:10px;" onclick="save_setting_and_reload()">@_f.tra("Obnovit")</button>
        </div>
    </div>

</div>

<div id="divMore" style="background-color:aliceblue;display:none;">
    <div class="card">
        <div class="card-header">
            @_f.tra("Zobrazení")
        </div>
        <div class="card-body">
            <input type="radio" asp-for="@Model.GroupBy" id="opg1" value="None" onchange="reload_setting(this)" />
            <label for="opg1">@_f.tra("Zobrazovat pouze denní součty hodin")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg2" value="NoneRecs" onchange="reload_setting(this)" />
            <label for="opg2">@_f.tra("Zobrazovat odkazy na časové úkony")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg3" value="p41" onchange="reload_setting(this)" />
            <label for="opg3">@_f.tra("Rozepisovat sumy hodin podle projektů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg4" value="p41Recs" onchange="reload_setting(this)" />
            <label for="opg4">@_f.tra("Rozepisovat odkazy na časové úkony podle projektů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg5" value="p28" onchange="reload_setting(this)" />
            <label for="opg5">@_f.tra("Rozepisovat sumy hodin podle klientů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg6" value="p28Recs" onchange="reload_setting(this)" />
            <label for="opg6">@_f.tra("Rozepisovat odkazy na časové úkony podle klientů")</label>
            <br />
        </div>
    </div>
</div>

<table id="timeline_table1" class="timeline_table">
    <thead>
        <tr>
            <th class="th_position"></th>
            <th class="th_person">@(BO.BAS.ObjectDate2String(Model.d1, "MMMM - yyyy"))</th>
            <th class="th_sum"><span class="k-icon k-i-sum"></span></th>
            @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
            {
                strClass = "th_day";
                strTitle = BO.BAS.ObjectDate2String(d, "dd.MM.yyyy ddd");
                if (d == DateTime.Today)
                {
                    strClass += " th_today";
                }
                else
                {
                    if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
                    {
                        strClass += " th_weekend";
                    }
                }

                <th class="@strClass" title="@strTitle">
                    @BO.BAS.ObjectDate2String(d, "dd")
                    <br />
                    @BO.BAS.ObjectDate2String(d, "ddd")

                    @if (Model.lisC26.Any(p => p.c26Date == d))
                    {
                        <span title="@(Model.lisC26.First(p=>p.c26Date==d).c26Name)">🍷</span>
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody id="timeline_tbody1">
        @foreach (BO.j02Person recJ02 in Model.lisJ02)
        {
            dblHours = Model.lisSums.Where(p => p.j02ID == recJ02.pid).Sum(p => p.Hours);
            strClass = "";
            if (dblHours > 0 && Model.GroupBy != UI.Models.p31view.daylineGroupBy.None) strClass = "tr_person_projekty";

            <tr class="@(strClass)">
                <td class="td_position">
                    @(BO.BAS.OM2(recJ02.j07Name,12))
                </td>
                <td class="td_person" title="@(recJ02.FullNameAsc)">
                    @(recJ02.FullNameDesc)
                </td>
                <td class="td_sum">
                    @if (dblHours != 0)
                    {
                        <a class="hz" onclick="zoom_allmonth(this,@(recJ02.pid))" style="color:navy;font-weight:bold;">@(BO.basTime.FormatNumeric(dblHours, Model.ShowHHMM))</a>

                        @if (dblFond > 0)
                        {

                        }
                        else
                        {


                        }
                    }
                </td>
                @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                {
                    var qry = Model.lisSums.Where(p => p.j02ID == recJ02.pid && p.p31Date == d);
                    strClass = "td_day";
                    if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
                    {
                        strClass += " td_weekend";
                    }
                    if (qry.Count() == 0) strClass += " dc";


                    <td class="@strClass" data-j02id="@recJ02.pid" data-d="@(BO.BAS.ObjectDate2String(d,"dd.MM.yyyy"))">
                        @if (qry.Count() > 0)
                        {
                            var rec = qry.First();
                            <a class="hz" onclick="re(this,@(recJ02.pid),'@(rec.p31DateString)')" style="@rec.CssStyle">@(rec.HoursFormatted)</a>
                        }

                        @if (Model.GroupBy == UI.Models.p31view.daylineGroupBy.NoneRecs)
                        {
                            var qryP31 = Model.lisP31.Where(p => p.j02ID == recJ02.pid && p.p31Date == d);

                            foreach (var recP31 in qryP31)
                            {
                                strClass = "afa";
                                if (!recP31.p32IsBillable)
                                {
                                    strClass = "anefa";
                                }
                                if (Model.ShowHHMM)
                                {
                                    strHours = recP31.p31HHMM_Orig;
                                }
                                else
                                {
                                    strHours = BO.BAS.Number2String(recP31.p31Hours_Orig);
                                }
                                strTitle = recP31.p32Name + ": " + recP31.ClientName + " - " + recP31.p41Name;

                                <div class="dd">
                                    <a class="@(strClass)" href="javascript:p31_rec(@(recP31.pid))" title="@(strTitle)">@(strHours)</a>
                                </div>


                            }
                        }
                    </td>
                }
            </tr>

            @if (Model.GroupBy == UI.Models.p31view.daylineGroupBy.p28)
            {
                var grpsp28 = Model.lisP31.Where(p => p.j02ID == recJ02.pid).GroupBy(p => p.p28ID_Client);
                foreach (var grp in grpsp28)
                {
                    double hodiny = grp.Sum(p => p.p31Hours_Orig);

                    <tr>
                        <td class="td_client" colspan="2">@(BO.BAS.OM2(grp.First().ClientName,30))</td>
                        <td class="td_sum">
                            @if (hodiny != 0)
                            {
                                <a class="hz" onclick="zoom_allmonth_p28(this,@(recJ02.pid),@(grp.First().p28ID_Client))">@(BO.basTime.FormatNumeric(hodiny, Model.ShowHHMM))</a>

                            }
                        </td>
                        @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                        {
                            hodiny = grp.Where(p => p.p31Date == d).Sum(p => p.p31Hours_Orig);
                            <td class="td_day">
                                @if (hodiny != 0)
                                {
                                    @(BO.basTime.FormatNumeric(hodiny,Model.ShowHHMM))

                                }
                            </td>
                        }
                    </tr>
                }
            }

            @if (Model.GroupBy == UI.Models.p31view.daylineGroupBy.p41)
            {
                var grpsp41 = Model.lisP31.Where(p => p.j02ID == recJ02.pid).GroupBy(p => p.p41ID);
                foreach (var grp in grpsp41)
                {
                    double hodiny = grp.Sum(p => p.p31Hours_Orig);

                    <tr>
                        <td class="td_project" colspan="2" title="@(grp.First().ClientName+" - "+grp.First().p41Name)">
                            @(BO.BAS.OM2(grp.First().ClientName,25)+" - ")
                            @(BO.BAS.OM2(grp.First().p41Name,15))
                        </td>
                        <td class="td_sum">
                            @if (hodiny != 0)
                            {
                                <a class="hz" onclick="zoom_allmonth_p41(this,@(recJ02.pid),@(grp.First().p41ID))">@(BO.basTime.FormatNumeric(hodiny, Model.ShowHHMM))</a>
                            }
                        </td>
                        @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                        {
                            hodiny = grp.Where(p => p.p31Date == d).Sum(p => p.p31Hours_Orig);
                            <td class="td_day">
                                @if (hodiny != 0)
                                {
                                    @(BO.basTime.FormatNumeric(hodiny,Model.ShowHHMM))

                                }
                            </td>
                        }
                    </tr>
                }
            }

            @if (Model.GroupBy == UI.Models.p31view.daylineGroupBy.p28Recs)
            {
                var grpsp28 = Model.lisP31.Where(p => p.j02ID == recJ02.pid).GroupBy(p => p.p28ID_Client);
                foreach (var grp in grpsp28)
                {
                    double hodiny = grp.Sum(p => p.p31Hours_Orig);

                    <tr>
                        <td class="td_client" colspan="2">@(BO.BAS.OM2(grp.First().ClientName,30))</td>
                        <td class="td_sum">
                            @if (hodiny != 0)
                            {
                                <a class="hz" onclick="zoom_allmonth_p28(this,@(recJ02.pid),@(grp.First().p28ID_Client))">@(BO.basTime.FormatNumeric(hodiny, Model.ShowHHMM))</a>
                            }
                        </td>
                        @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                        {

                            <td class="td_day">
                                @if (1 == 1)
                                {
                                    var qryP31 = Model.lisP31.Where(p => p.j02ID == recJ02.pid && p.p28ID_Client == grp.First().p28ID_Client && p.p31Date == d);

                                    foreach (var recP31 in qryP31)
                                    {
                                        strClass = "afa";
                                        if (!recP31.p32IsBillable)
                                        {
                                            strClass = "anefa";
                                        }
                                        if (Model.ShowHHMM)
                                        {
                                            strHours = recP31.p31HHMM_Orig;
                                        }
                                        else
                                        {
                                            strHours = BO.BAS.Number2String(recP31.p31Hours_Orig);
                                        }
                                        strTitle = recP31.p32Name + ": " + recP31.p41Name;

                                        <div class="dd">
                                            <a class="@(strClass)" href="javascript:p31_rec(@(recP31.pid))" title="@(strTitle)">@(strHours)</a>
                                        </div>


                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            }


            @if (Model.GroupBy == UI.Models.p31view.daylineGroupBy.p41Recs)
            {
                var grpsp41 = Model.lisP31.Where(p => p.j02ID == recJ02.pid).GroupBy(p => p.p41ID);
                foreach (var grp in grpsp41)
                {
                    double hodiny = grp.Sum(p => p.p31Hours_Orig);

                    <tr>
                        <td class="td_project" colspan="2" title="@(grp.First().ClientName+" - "+grp.First().p41Name)">
                            @(BO.BAS.OM2(grp.First().ClientName,25)+" - ")
                            @(BO.BAS.OM2(grp.First().p41Name,15))
                        </td>
                        <td class="td_sum">
                            @if (hodiny != 0)
                            {
                                <a class="hz" onclick="zoom_allmonth_p41(this,@(recJ02.pid),@(grp.First().p41ID))">@(BO.basTime.FormatNumeric(hodiny, Model.ShowHHMM))</a>
                            }
                        </td>
                        @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                        {

                            <td class="td_day">
                                @if (1 == 1)
                                {
                                    var qryP31 = Model.lisP31.Where(p => p.j02ID == recJ02.pid && p.p41ID == grp.First().p41ID && p.p31Date == d);

                                    foreach (var recP31 in qryP31)
                                    {
                                        strClass = "afa";
                                        if (!recP31.p32IsBillable)
                                        {
                                            strClass = "anefa";
                                        }
                                        if (Model.ShowHHMM)
                                        {
                                            strHours = recP31.p31HHMM_Orig;
                                        }
                                        else
                                        {
                                            strHours = BO.BAS.Number2String(recP31.p31Hours_Orig);
                                        }
                                        strTitle = recP31.p32Name + ": " + recP31.p41Name;

                                        <div class="dd">
                                            <a class="@(strClass)" href="javascript:p31_rec(@(recP31.pid))" title="@(strTitle)">@(strHours)</a>
                                        </div>


                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            }

        }
    </tbody>
</table>

<div id="zoomwin" style="position:absolute;top:0px;left:0px;z-index:1000;display:none;"></div>

<script type="text/javascript">
    var _zoomwin = document.getElementById("zoomwin");
    var _lasturl = "";
    var _lastctl = null;

    $(document).ready(function () {


        _mainmenu_highlight_current("cmdDayline");


        $("#d0helper").change(function () {
            reload();
        });

        $(".dc").dblclick(function () {
            var j02id = $(this).attr("data-j02id");
            var d = $(this).attr("data-d");
            _window_open("/p31/Record?j02id="+j02id+"&d="+d);
        });


        $("#cmdMore").click(function () {
            $("#divMore").toggle();
        });

        $(document).on("keydown", function (e) {
            if (e.keyCode == 27 && _zoomwin.style.display == "block") {   //klávese ESCAPE
                zoom_close();
            }

        });

        $(document).on("click", function (e) {
            if ($(e.target).hasClass("hz") == false) {
                zoom_close();
            }


        });


        var h = _device.innerHeight - $("#timeline_tbody1").offset().top;
        //h = h - 50;
        h = h - 20;
        $("#timeline_tbody1").height(h);

        @if (Model.j02IDs != null)
        {
            @:$("#divQueryJ02").css("background-color", "red");
        }
        @if (Model.j07IDs != null)
        {
            @:$("#divQueryJ07").css("background-color", "red");
        }
        @if (Model.j11IDs != null)
        {
            @:$("#divQueryJ11").css("background-color", "red");
        }


        handle_table_width();
    });



    function _save_param_and_reload(url, mykey, myval) {
        if (mykey == undefined || myval == undefined) {
            _redirect(url);
            return;
        }
        $.post("/Common/SetUserParam", { key: mykey, value: myval }, function (data) {
            _redirect(url);
        });

        alert("save_param_and_reload: ERROR");
    }
    function month_prev() {
        var d0 = datepicker_get_value("d0");
        if (d0 == null) {
            d0 = new Date();
        }
        var d1 = new Date(d0.getFullYear(), d0.getMonth() - 1, 1);
        datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change


    }
    function month_next() {
        var d0 = datepicker_get_value("d0");
        if (d0 == null) {
            d0 = new Date();
        }
        var d1 = new Date(d0.getFullYear(), d0.getMonth() + 1, 1);
        datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change



    }

    function reload() {
        var d = $("#d0helper").val();
        _redirect("/p31dayline/Index?d=" + d);
    }

    function reload_setting(opg) {
        $.post(_ep("/Common/SetUserParam"), { key: "dayline-groupby", value: opg.value }, function (data) {
            reload();

        });
    }

    function handle_can_reload(s) {
        $("#cmdRefresh").css("display", "block");
    }

    function save_setting_and_reload() {
        var k = [];
        var v = [];
        k.push("dayline-j02ids");
        v.push($("#j02IDs").val());
        k.push("dayline-j07ids");
        v.push($("#j07IDs").val());
        k.push("dayline-j11ids");
        v.push($("#j11IDs").val());

        $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
            reload();

        });



    }

    function re(ctl, j02id, d) {
        var url = _ep("/p31dayline/Zoom?j02id=" + j02id + "&d=" + d);
        zoom_open(ctl, url);
    }

    function zoom_allmonth(ctl,j02id) {
        var url = _ep("/p31dayline/Zoom?j02id=" + j02id + "&m=@(Model.d0.Month)&y=@(Model.d0.Year)");
        zoom_open(ctl, url);

    }
    function zoom_allmonth_p28(ctl,j02id,p28id) {
        var url = _ep("/p31dayline/Zoom?j02id="+j02id+"&p28id="+p28id+"&m=@(Model.d0.Month)&y=@(Model.d0.Year)");
        zoom_open(ctl, url);
    }
    function zoom_allmonth_p41(ctl,j02id,p41id) {
        var url = _ep("/p31dayline/Zoom?j02id="+j02id+"&p41id="+p41id+"&m=@(Model.d0.Month)&y=@(Model.d0.Year)");
        zoom_open(ctl, url);
    }

    function zoom_open(ctl, url)
    {
        if (_lasturl == url && _lastctl == ctl && $("#zoomwin").css("display") == "block") {
            zoom_close();
            return;
        }
        _lasturl = url;
        _lastctl = ctl;

        $(".zoom_ctl_current").removeClass("zoom_ctl_current");
        $(ctl).addClass("zoom_ctl_current");

        var c = $("#zoomwin");

        var w = _device.innerWidth - 100;
        var h = 450;
        var y = $(ctl).offset().top + 20;
        if (y + h + 20 > _device.innerHeight) {
            y = $(ctl).offset().top - h - 2;
        }

        if (_device.innerWidth < w) w = _device.innerWidth;
        if (_device.innerHeight < h) h = _device.innerHeight;
        x = (_device.innerWidth - w) / 2;

        $(c).css("display", "block");
        $(c).css("width", w + "px");
        $(c).css("height", h + "px");
        $(c).css("left", x + "px");
        $(c).css("top", y + "px");
        $(c).html("<iframe id='frazoom' style='border:solid 1px gray;' width='" + (w-50) + "px' height='"+(h-40)+"px' src='"+url+"'></iframe>");
    }

    function zoom_close() {
        if ($("#zoomwin").css("display") == "block") {
            $("#zoomwin").css("display", "none");
        }

        $(".zoom_ctl_current").removeClass("zoom_ctl_current");
    }



    function handle_table_width() {
        var w = ($(".th_day").length * 45) + ($(".th_day_empty").length * 30);

        w = w + 80 + 120 + 180;
        w = w + 30;

        $("#timeline_table1").width(w);


        var offset_container = $("#timeline_tbody1").offset();
        var h = _device.innerHeight - offset_container.top;
        if (w > _device.innerWidth) {
            h = h - 50;
        } else {
            h = h - 30;
        }

        $("#timeline_tbody1").height(h);
    }


    function p31c(d, t1, t2,j02id) {        
        var url = "/p31/Record?j02id=" + j02id + "&d=" + d;
        if (t1 != undefined && t1 != null) {
            url = url + "&t1=" + t1 + "&t2=" + t2;
        }
        
        _window_open(url);
    }

</script>

