@model UI.Models.p31view.daylineZoomViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";

}

@addTagHelper *, UI

<div style="padding: 3px;background-color: #2D89EF;">
    <span style="color:white;">
        @if (Model.SelectedDate1 == Model.SelectedDate2)
        {
            @(BO.BAS.ObjectDate2String(Model.SelectedDate1) + ": " + Model.RecJ02.FullNameAsc)
        }
        else
        {
            @(BO.BAS.ObjectDate2String(Model.SelectedDate1) +" - "+ BO.BAS.ObjectDate2String(Model.SelectedDate2) + ": " + Model.RecJ02.FullNameAsc)
        }

    </span>
</div>

<div class="bg-light" style="padding-left: 10px;padding-top:2px;">
    @Html.Raw(BO.Symbol.p31())

    <button type="button" id="cmdClose" onclick="window.parent.zoom_close()" class="btn btn-light">@_f.tra("Zavřít")</button>



</div>

<form id="form1" asp-controller="p31view" asp-action="DaylineZoom" method="POST">


    <input type="hidden" asp-for="@Model.j02ID" />
    <input type="hidden" asp-for="@Model.SelectedDate1" />
    <input type="hidden" asp-for="@Model.SelectedDate2" />
</form>

<vc:the-grid input="@Model.gridinput"></vc:the-grid>


<script type="text/javascript">
    $(document).ready(function () {






    })



    function local_cm(e) {     //vyvolání kontextového menu k vybranému záznamu
        var link = e.target;
        var pid = link.parentNode.parentNode.id.replace("r", "");

        _cm(e, _tg_entity, pid, "daylinezoom", _tg_master_entity);
    }


</script>
