@model UI.Models.Record.c26Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Svátek");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.c26Name" />
        </div>

    </div>

    

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum"):</label>
        <div class="col-sm-3 col-md-2">
            <mydate asp-for="@Model.Rec.c26Date" include-time="false"></mydate>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Region"):</label>
        <div class="col-sm-7 col-md-6">
            <mycombo entity="j17Country" asp-for="Rec.j17ID" selectedtext="@Model.ComboJ17Name" view-flag="2"></mycombo>
        </div>

    </div>


</div>



