@model UI.Models.Record.o23Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Dokument") + ": " + Model.RecX18.x18Name;
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = BO.Symbol.o23();
}

@addTagHelper *, UI

@if (Model.IsHtmlEditor)
{
    @section header_content{

        <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet">
    }


    <script src="~/lib/summernote/summernote-lite.min.js"></script>
}

<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item onetab" role="presentation">
            <button class="nav-link" id="link_tab1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">@_f.tra("Vlastnosti")</button>
        </li>

        @if (Model.IsHtmlEditor)
        {
            <li class="nav-item onetab" role="presentation">
                <button class="nav-link" id="link_tabhtml" data-bs-toggle="tab" data-bs-target="#tabhtml" type="button" role="tab">@(Model.HtmlName)</button>
            </li>
        }

        <li class="nav-item onetab" role="presentation">
            <button class="nav-link" id="link_tab2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab">@_f.tra("Oprávnění")</button>
        </li>
    </ul>
</div>

<div class="modal_record_container">
    <input type="hidden" asp-for="@Model.UploadGuid" />

    <div class="tab-content">
        <div class="tab-pane show active" id="tab1" role="tabpanel">
            <!-- Tab1 -->
            <table>
                <tr valign="top">
                    <td>
                        <button class="btn btn-light dropdown-toggle" type="button" id="cmdCollapseX20" style="background-color: #f3f3d6;border:solid 1px silver;">
                            @_f.tra("Vazby dokumentu")
                        </button>
                    </td>
                    <td>
                        <mystitky entity="o23Doc" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml" buttontext="@_f.tra("Oštítkovat")"></mystitky>
                    </td>
                </tr>
            </table>

            <div id="divCollapseX20" style="display:none;border:solid 1px silver;background-color:#f3f3d6;border-radius:4px;">
                <div class="card-body">
                    <div>
                        <myradiolist asp-for="@Model.SelectedX20ID" repeat-horizontal="true" datasource="@Model.lisX20" textfield="BindName" valuefield="pid" event_after_changevalue="x20id_onchange"></myradiolist>
                    </div>
                    
                    <div style="background-color:white;">
                        @if (Model.SelectedX20ID > 0)
                        {

                            <mycombo entity="@Model.SelectedBindEntity" asp-for="@Model.SelectedBindPid" placeholder="@Model.SelectedBindName" selectedtext="@Model.SelectedBindText" filter-flag="1" event_after_changevalue="bindrec_onchange"></mycombo>
                        }
                    </div>
                    

                </div>
                <input type="hidden" asp-for="@Model.SelectedBindEntity" value="@Model.SelectedBindEntity" />
                <input type="hidden" asp-for="@Model.SelectedBindName" value="@Model.SelectedBindName" />
            </div>

            <table class="table table-hover" style="table-layout: fixed;">
                @for (int i = 0; i < Model.lisX19.Count; i++)
                {
                    <tr style="@(Model.lisX19[i].CssTempDisplay)">
                        <td style="width:150px;">
                            @(Model.lisX19[i].SelectedX20Name+":")
                        </td>
                        <td>
                            <strong>@Model.lisX19[i].SelectedBindText</strong>
                            <input type="hidden" asp-for="lisX19[i].IsTempDeleted" value="@Model.lisX19[i].IsTempDeleted" />
                            <input type="hidden" asp-for="lisX19[i].TempGuid" value="@Model.lisX19[i].TempGuid" />
                            <input type="hidden" asp-for="lisX19[i].pid" value="@Model.lisX19[i].pid" />
                            <input type="hidden" asp-for="lisX19[i].SelectedBindText" value="@Model.lisX19[i].SelectedBindText" />
                            <input type="hidden" asp-for="lisX19[i].x19RecordPID" value="@Model.lisX19[i].x19RecordPID" />
                            <input type="hidden" asp-for="lisX19[i].x20ID" value="@Model.lisX19[i].x20ID" />
                            <input type="hidden" asp-for="lisX19[i].SelectedX20Name" value="@Model.lisX19[i].SelectedX20Name" />

                        </td>

                        <td style="width:70px;">
                            <button type="button" class="btn btn-sm btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_x19('@(Model.lisX19[i].TempGuid)')">x</button>
                        </td>
                    </tr>
                }
            </table>

            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
                <div class="col-sm-8 col-md-7">
                    <input class="form-control" asp-for="Rec.o23Name" />
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Kód"):</label>
                <div class="col-sm-2 col-md-2">
                    <input class="form-control" asp-for="Rec.o23Code" />
                </div>
            </div>

            @for (int i = 0; i < Model.lisFields.Where(p => p.x16Field != "o23HtmlContent").Count(); i++)
            {
                <div class="row my-2">
                    @if (Model.lisFields[i].FieldType == BO.x24IdENUM.tBoolean)
                    {
                        <div class="col-sm-1 col-md-2"></div>
                        <div class="col-sm-7 col-md-7">
                            <input type="checkbox" asp-for="@Model.lisFields[i].CheckInput" />
                            <label class="col-sm-1 col-md-2 col-form-label" for="lisFields_@(i)__CheckInput">@(Model.lisFields[i].x16Name)</label>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-1 col-md-2 col-form-label recpagelabel">@(Model.lisFields[i].x16Name):</label>
                    }


                    @if (Model.lisFields[i].FieldType == BO.x24IdENUM.tDate)
                    {
                        <div class="col-sm-3 col-md-3">
                            <mydate asp-for="@Model.lisFields[i].DateInput"></mydate>
                        </div>

                    }
                    @if (Model.lisFields[i].FieldType == BO.x24IdENUM.tDateTime)
                    {
                        <div class="col-sm-3 col-md-3">
                            <mydate asp-for="@Model.lisFields[i].DateInput" include-time="true"></mydate>
                        </div>
                    }
                    @if (Model.lisFields[i].FieldType == BO.x24IdENUM.tDecimal)
                    {
                        <div class="col-sm-3 col-md-3">
                            <mynumber asp-for="@Model.lisFields[i].NumInput" decimal-digits="2"></mynumber>
                        </div>
                    }
                    @if (Model.lisFields[i].FieldType == BO.x24IdENUM.tString)
                    {
                        <div class="col-sm-11 col-md-10">
                            @if (Model.lisFields[i].x16DataSource == null)
                            {
                                if (Model.lisFields[i].x16TextboxHeight > 0 || Model.lisFields[i].x16Field == "o23BigText")
                                {
                                    <textarea class="form-control" asp-for="@Model.lisFields[i].StringInput"></textarea>

                                }
                                else
                                {
                                    <input class="form-control" asp-for="@Model.lisFields[i].StringInput" />
                                }

                            }
                            else
                            {
                                @if (Model.lisFields[i].x16IsFixedDataSource)
                                {
                                    <select class="form-select" asp-for="@Model.lisFields[i].StringInput">
                                        <option value=""></option>
                                        @foreach (string ss in BO.BAS.ConvertString2List(Model.lisFields[i].x16DataSource, ";"))
                                        {
                                            <option value="@ss">@ss</option>
                                        }

                                    </select>
                                }
                                else
                                {
                                    <input list="list@(i)" class="form-control" asp-for="@Model.lisFields[i].StringInput" />
                                    <datalist id="list@(i)">
                                        @foreach (string ss in BO.BAS.ConvertString2List(Model.lisFields[i].x16DataSource, ";"))
                                        {
                                            <option value="@ss">@ss</option>
                                        }
                                    </datalist>

                                }
                            }
                        </div>
                    }

                </div>
                <input type="hidden" asp-for="@Model.lisFields[i].x16Field" />
                <input type="hidden" asp-for="@Model.lisFields[i].x16Name" />
                <input type="hidden" asp-for="@Model.lisFields[i].x16DataSource" />
                <input type="hidden" asp-for="@Model.lisFields[i].x16IsFixedDataSource" />
                <input type="hidden" asp-for="@Model.lisFields[i].x16TextboxHeight" />


            }

            <table class="table table-sm table-hover" style="table-layout: fixed;">
                @for (int i = 0; i < Model.lisO27.Count; i++)
                {
                    <tr style="@(Model.lisO27[i].CssTempDisplay)">
                        <td style="width:40px;">
                            <span class="material-icons-outlined">file_download</span>
                        </td>
                        <td>
                            <input type="hidden" asp-for="lisO27[i].IsTempDeleted" value="@Model.lisO27[i].IsTempDeleted" />
                            <input type="hidden" asp-for="lisO27[i].TempGuid" value="@Model.lisO27[i].TempGuid" />
                            <input type="hidden" asp-for="lisO27[i].pid" value="@Model.lisO27[i].pid" />

                            <a target="_blank" href="/FileUpload/FileDownloadInline?downloadguid=@Model.lisO27[i].o27GUID">@Model.lisO27[i].o27OriginalFileName</a>
                            <input type="hidden" asp-for="lisO27[i].o27GUID" value="@Model.lisO27[i].o27GUID" />
                            <input type="hidden" asp-for="lisO27[i].o27OriginalFileName" value="@Model.lisO27[i].o27OriginalFileName" />
                        </td>
                        <td>
                            @BO.BAS.FormatFileSize(Model.lisO27[i].o27FileSize)
                            <input type="hidden" asp-for="lisO27[i].o27FileSize" value="@Model.lisO27[i].o27FileSize" />
                        </td>
                        <td>
                            <small>@(Model.lisO27[i].UserInsert+"/"+Model.lisO27[i].DateInsert.ToString())</small>
                            <input type="hidden" asp-for="lisO27[i].UserInsert" value="@Model.lisO27[i].UserInsert" />
                            <input type="hidden" asp-for="lisO27[i].DateInsert" value="@Model.lisO27[i].DateInsert" />
                        </td>
                        <td style="width:70px;">
                            <button type="button" class="btn btn-sm btn-danger" title="@_f.tra("Odstranit")" onclick="handle_delete_o27('@(Model.lisO27[i].TempGuid)')">x</button>
                        </td>
                    </tr>
                }
            </table>

            <iframe id="fraUpload" src="/FileUpload/DoUpload?recpid=@Model.rec_pid&x29id=940&guid=@Model.UploadGuid" frameborder="0" height="220" scrolling="yes"></iframe>


        </div>
        @if (Model.IsHtmlEditor)
        {
            <div class="tab-pane" id="tabhtml" role="tabpanel">
                <!-- Tab html editor -->
                <input type="hidden" id="hidHtmlContent" asp-for="@Model.HtmlContent" />
                <div id="editor1"></div>
            </div>
        }

        <div class="tab-pane" id="tab2" role="tabpanel">
            <!-- Tab2 -->

            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vlastník záznamu"):</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="@Model.SelectedComboOwner" view-flag="1" myqueryinline="isintranonvirtualperson|bool|1"></mycombo>
                </div>
            </div>



            @Html.EditorFor(m => m.roles, "~/Views/Shared/_RoleAssign.cshtml")
        </div>
    </div>


</div>




<input type="hidden" asp-for="@Model.x18ID" />
<input type="hidden" asp-for="@Model.IsHtmlEditor" />
<input type="hidden" asp-for="@Model.HtmlName" />

<script type="text/javascript">
    $(document).ready(function () {


        $("#cmdCollapseX20").click(function () {
            $("#divCollapseX20").toggle();
        });


        @if (Model.IsAutoCollapseX20)
        {
        @:$("#divCollapseX20").css("display", "block");
        }


    @if (Model.IsHtmlEditor)
        {
        <text>
        $("#editor1").summernote({
            tabsize: 2,
            height: 400
        });


        var firstdata = $("#hidHtmlContent").val();
        $("#editor1").summernote("code", firstdata);

        $("#editor1").on("summernote.change", function (e) {   // callback as jquery custom event
            var s = $("#editor1").summernote("code");
            $("#hidHtmlContent").val(s);
        });


        </text>
        }

    });


    function x20id_onchange(x20id) {
        form1.action = _ep("/o23/Record?oper=x20id");
        form1.submit();
    }
    function bindrec_onchange(pid) {
        form1.action = _ep("/o23/Record?oper=bindrec");
        form1.submit();
    }

    function handle_delete_x19(guid) {
        form1.action = _ep("/o23/Record?oper=delete_x19&guid=" + guid);
        form1.submit();
    }

    function postback() {

        form1.action = _ep("/o23/Record?oper=postback");
        form1.submit();
    }

    function handle_delete_o27(guid) {
        form1.action = _ep("/o23/Record?oper=delete_o27&guid=" + guid);
        form1.submit();
    }
</script>
