@model UI.Models.Recpage.o23RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;

    Model.PageTitle = Model.Rec.x18Name + ": " + Model.Rec.o23Name;

}

@addTagHelper *, UI


<div class="input-group bg-light m-0" style="padding-top:1px; padding-left:1px;">
    <div id="layout_sidebar_contextmenu">
        @if (Model.pid > 0)
        {
            <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" title="@Model.Rec.o23Name" onclick="_cm(event, 'o23',@Model.Rec.pid);">☰@(Model.Rec.o23Name) </a>
            <h4 id="layout_sidebar_contextmenu_onlytext">
            </h4>
        }
        
    </div>
    @if (Model.pid > 0)
    {
        <div class="nonmobile tabovergrid" style="margin-left:2px;">
            @_f.tra("Stránka dokumentu")
        </div>

        <div>
            <a class="btn btn-light" href="/o23/RecPage?pid=@Model.pid" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
            @if (_f.CurrentUser.j04IsMenu_Contact)
            {
                <a class="btn btn-light" href="@Model.Go2GridUrl" title="GRID"><span class="k-icon k-i-table-row-groups"></span></a>
            }

        </div>

    }

    <div class="p-2 nonmobile">        
        <span>@Html.Raw(Model.MenuCode)</span>

    </div>

    <div class="nonmobile" style="margin-left:auto;">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="cmdPageSetting" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="k-icon k-i-gears"></span>
                @_f.tra("Nastavení stránky")
            </button>
            <div id="divRecPageSetting" class="dropdown-menu" aria-labelledby="cmdPageSetting" style="width:350px;">
                Loading...
            </div>

        </div>
    </div>

</div>

<div id="layout_sidebar" class="cm_recpage">Loading...</div>



<div id="layout_main">
    @if (Model.PanelHeight != "none")
    {
        <div style="max-height:@(Model.PanelHeight);overflow-y:auto;overflow-x:hidden;">
            @Html.EditorFor(m => m, "~/Views/Shared/_o23RecPageContent.cshtml")
        </div>
    }


    <div class="tabs_container bgo23">
        <ul id="navtabs" class="nav nav-tabs">
            @foreach (var tab in Model.NavTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                        @tab.Name
                        @if (tab.Badge != null)
                        {
                            <span class="badge bg-primary">@tab.Badge</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="divTabContent">
        <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="0" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        var cmd = document.getElementById("cmdPageSetting");
        cmd.addEventListener("show.bs.dropdown", function () {

            $.post("/Menu/RecPageSetting", { prefix: "o23" }, function (data) {
                $("#divRecPageSetting").html(data);
            });

        });


        @if(Model.pid>0)
        {
            <text>
            $.post("/Menu/ContextMenu", {source: "recpage", entity: "o23Doc", pid: @Model.pid }, function(data) {

            $("#layout_sidebar").html(data);

            });
            </text>
        }
        else
        {
        <text>
        $("#layout_main").css("display", "none");
        $("#layout_sidebar").html("");
        </text>
        }

        var offset = $("#divTabContent").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical);

        if (_device.type === "Phone")
        {
            h_vertical = 400;
        }

        $("#divTabContent").css("height", h_vertical + "px");

        _mainmenu_highlight_current("recpageo23","cmdo23");




    });


    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
        $.post("/Common/SetUserParam", { key: "recpage-tab-o23", value: tab.id.replace("tab", "") }, function (data) {


        });
    }

    function reload() {
        location.replace(_ep("/o23/RecPage?pid=@Model.pid"));
    }

  

    function save_page_setting(key,val) {
        $.post("/Common/SetUserParam", { key: key, value: val }, function (data) {
            reload();
        });
    }

</script>


