@model UI.Models.Record.x31Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Tisková sestava");
}
@addTagHelper *, UI

<input type="hidden" asp-for="@Model.UploadGuid" />

<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.x31Name" />

        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.x31Ordinary" decimal-digits="0"></mynumber>
        </div>


    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Formát"):</label>
        <div class="col-sm-3 col-md-3">
            <select asp-for="Rec.x31FormatFlag" class="form-select" onchange="postback()">
                <option value="Telerik">@_f.tra("Tisková setava")</option>
                <option value="DOCX">DOCX</option>
                <option value="XLSX">XLSX</option>

            </select>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Kód sestavy"):</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control" asp-for="Rec.x31Code" />

        </div>
    </div>





    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kontext (Entita)"):</label>
        <div class="col-sm-5 col-md-4">

            <select class="form-select" asp-for="Rec.x29ID" onchange="postback()">
                <option value="_NotSpecified">@_f.tra("Sestava bez kontextu k záznamu")</option>
                <option value="p41Project">@_f.tra("Projekt")</option>
                <option value="p28Contact">@_f.tra("Klient")</option>
                <option value="j02Person">@_f.tra("Osoba")</option>
                <option value="p56Task">@_f.tra("Úkol")</option>
                <option value="p91Invoice">@_f.tra("Vyúčtování")</option>
                <option value="p90Proforma">@_f.tra("Záloha")</option>
                <option value="p82Proforma_Payment">@_f.tra("Úhrada zálohy")</option>
                <option value="p45Budget">@_f.tra("Rozpočet projektu")</option>
                <option value="p31Worksheet">@_f.tra("Úkon")</option>
                <option value="o23Doc">@_f.tra("Dokument")</option>
                <option value="Approving">@_f.tra("Schvalování")</option>

            </select>
        </div>
        <label class="col-sm-2 col-md-2 col-form-label">@_f.tra("Jazyková verze"):</label>
        <div class="col-sm-4 col-md-4">
            <select asp-for="Rec.x31LangIndex" class="form-select" onchange="postback()">
                <option value="0">@_f.tra("Česky")</option>
                <option value="1">Deutsch</option>
                <option value="4">Slovenčina</option>

            </select>
        </div>
    </div>


    @if (Model.RecO27 != null)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Soubor report šablony"):</label>
            <div class="col-sm-10 col-md-10">
                <a target="_blank" href="/FileUpload/FileDownloadInline?downloadguid=@Model.RecO27.o27GUID">@Model.RecO27.o27OriginalFileName</a>
            </div>
        </div>

    }
    <hr />

    <iframe id="fraUpload" src="/FileUpload/SingleUpload?guid=@Model.UploadGuid" height="350" scrolling="no"></iframe>


    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kategorie"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j25ReportCategory" asp-for="Rec.j25ID" selectedtext="@Model.ComboJ25Name" filter-flag="1"></mycombo>
        </div>

    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Export maska souboru"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x31ExportFileNameMask" />

        </div>

    </div>
    <div class="my-2">
        <input type="checkbox" asp-for="Rec.x31IsPeriodRequired" />
        <label class="col-form-label" for="Rec_x31IsPeriodRequired">@_f.tra("Sestava podporuje filtrování podle období")</label>
    </div>

    @if (Model.Rec.x31FormatFlag == BO.x31FormatFlagENUM.DOCX)
    {
        <div class="card">
            <div class="card-header">
                @_f.tra("Nastavení DOCX šablony")
            </div>
            <div class="card-body">
                <div>
                    <textarea asp-for="Rec.x31DocSqlSource" class="form-control" placeholder="@_f.tra("Na míru DOCX SQL zdroj sestavy")"></textarea>

                </div>
                <div>
                    <textarea asp-for="Rec.x31DocSqlSource" class="form-control" placeholder="@_f.tra("SQL vnořených tabulek (Název oblasti|SQL dotaz + ENTER)")"></textarea>

                </div>
            </div>
        </div>
    }




</div>





<script type="text/javascript">
    $(document).ready(function () {



    });


  
    function postback() {
        form1.action = "/x31/Record?oper=postback";
        form1.submit();
    }


</script>



