@model ReportNoContextFrameworkViewModel
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Tiskové sestavy");
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@addTagHelper *, UI

<style type="text/css">
    .sidebar {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #F8F9FA;
        overflow-x: hidden;
        padding-top: 45px;
    }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            text-decoration: none;
        }

        .sidebar .header {
            position: absolute;
            top: 0;
            right: 105px;
            margin-left: 10px;
            margin-top: 20px;
        }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    #main {
        padding: 0px;
    }
</style>

<div class="row pt-1 bg-light m-0">
    <div class="col-auto" style="width:300px;">
        <button class="btn btn-primary" onclick="openNav()">☰ MENU</button>
    </div>


    <div class="col-auto nonmobile tabovergrid">
        <span id="spanX31Name"></span>

    </div>
    @if (_f.CurrentUser.IsAdmin)
    {
        <div class="col-auto nonmobile" style="width:40px;">
            <button id="cmdRecord" type="button" onclick="settings()" class="btn btn-sm btn-outline-secondary" title="@_f.tra("Administrace sestavy")"><span class="k-icon k-i-cogs"></span></button>
        </div>
    }


</div>

<div id="mySidebar" class="sidebar">
    <h4 class="header">
        @Model.PageTitle
    </h4>

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>




    <div class="accordion bg-white" id="accordionReports">
        @foreach (var recJ25 in Model.lisJ25.OrderBy(p => p.j25Ordinary))
        {
            <div class="according-item">
                <div class="accordion-header" id="heading@(recJ25.pid)">
                    <button id="cmd@(recJ25.pid)" class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(recJ25.pid)" aria-expanded="false" aria-controls="collapse@(recJ25.pid)">
                        @recJ25.j25Name
                    </button>
                </div>
            </div>

            <div id="collapse@(recJ25.pid)" class="accordion-collapse collapse" aria-labelledby="heading@(recJ25.pid)" data-bs-parent="#accordionReports">
                <div class="accordion-body p-0">
                    <ul style="list-style:none;padding:0px;">
                        @foreach (var c in Model.lisX31.Where(p => p.j25ID == recJ25.pid))
                        {
                            <li>
                                <a class="nav-link" id="report@(c.pid)" href="javascript:showrep(@(c.pid),'@(c.x31Name)','@(c.x31Code)')">@(c.x31Name)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>


        }


    </div>

</div>



<div id="main">

    <iframe id="fra1" scrolling="no"></iframe>



</div>


<script type="text/javascript">

    $(document).ready(function () {

        if (_device.isMobile == false) {
            openNav();
        }

        @if(Model.SelectedReport != null)
        {
            @:$("#cmd@(Model.SelectedReport.j25ID)").attr("class", "accordion-button py-2");
            @:$("#collapse@(Model.SelectedReport.j25ID)").attr("class", "accordion-collapse collapse show");
            @:showrep("@Model.SelectedReport.pid", "@Model.SelectedReport.x31Name", "@Model.SelectedReport.x31Code");
        }
        _mainmenu_highlight_current("cmdReports");


        //var offset = $("#mySidebar").offset();
        //var h_vertical = _device.innerHeight - offset.top;
        //h_vertical = parseInt(h_vertical) + 10;
        //$("#mySidebar").css("height", h_vertical + "px");

        var h_vertical = _device.innerHeight - $("#fra1").offset().top - 10;
        $("#fra1").css("height", h_vertical + "px");


    });


    function showrep(x31id, x31name, x31code) {
        $("#spanX31Name").text(x31name);
        $("#spanX31Name").attr("title","Report code: "+x31code);
        $("#fra1").attr("src", "/x31/ReportNoContext?x31id=" + x31id);
        $(".nav-link").removeClass("selected");
        $("#report" + x31id).addClass("selected");
    }


    function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    function settings() {
        _window_open(_ep("/x31/Record?pid=@Model.SelectedReport.pid"),1);
    }

</script>





