@model ReportContextViewModel
@inject BL.Factory _f

@{
    Layout = null;
}
@addTagHelper *, UI


<!DOCTYPE html>

<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@_f.tra("Tisková sestava")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/css/@_f.CurrentUser.getFontSizeCss()" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.cs.min.js"></script>
    <script src="~/lib/qtip/jquery.qtip.min.js"></script>

    <script src="/js/reporting/resources.en.js"></script>
    <script src="/js/reporting/resources.cs.js"></script>


    <link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mycombo.js" asp-append-version="true"></script>

    <script src="~/js/contextmenu.js" asp-append-version="true"></script>
    <script src="~/js/mycontrols.js" asp-append-version="true"></script>

    <script src="/api/reports/resources/js/telerikReportViewer"></script>

    @if (Model.IsPeriodFilter)
    {
        <style>
            #reportViewer1 {
                position: absolute;
                left: 5px;
                right: 5px;
                top: 77px;
                bottom: 5px;
                overflow: hidden;
                font-family: Verdana, Arial;
            }
        </style>
    }
    else
    {
        <style>
            #reportViewer1 {
                position: absolute;
                left: 5px;
                right: 5px;
                top: 50px;
                bottom: 5px;
                overflow: hidden;
                font-family: Verdana, Arial;
            }
        </style>
    }

</head>

<body>
    @if (Model.RecX31 != null && Model.RecX31.x31FormatFlag == BO.x31FormatFlagENUM.Telerik)
    {
        <div id="reportViewer1">

            loading...

        </div>
    }


    <script type="text/javascript">
    var _relpath = "@(Url.Content("~/favicon.ico").Replace("favicon.ico",""))";   //relativní cesta: detekce kvůli případnému IIS virtuálnímu adresáři

        @if(Model.Javascript_CallOnLoad != null)
    {
        @Html.Raw(Model.Javascript_CallOnLoad);


    }
    </script>


    <form id="form1" asp-controller="x31" asp-action="ReportContext" method="POST">
        <input type="hidden" asp-for="@Model.rec_prefix" />
        <input type="hidden" asp-for="@Model.rec_pid" />
        <input type="hidden" asp-for="@Model.UserParamKey" />
        <input type="hidden" asp-for="@Model.UserParamKey" />


        <div class="modal_record_container">
            <div class="row">
                <label class="col-sm-2 col-md-2 col-form-label">@_f.tra("Tisková sestava"):</label>
                <div class="col-sm-6 col-md-5">
                    <mycombo entity="x31Report" asp-for="@Model.SelectedX31ID" selectedtext="@Model.SelectedReport" myqueryinline="MyRecordsDisponible|bool|1|x29id|int|@Model.x29ID" event_after_changevalue="x31id_change"></mycombo>



                </div>

                <div class="col-auto">
                    <button id="cmdMerge" type="button" class="btn btn-light dropdown-toggle">
                        <span class="k-icon k-i-file-pdf"></span>
                        PDF MERGE
                    </button>
                </div>
                <div class="col-auto">
                    <button id="cmdClose" type="button" onclick="sendbymail()" class="btn btn-light">
                        <span class="k-icon k-i-hyperlink-email"></span>
                        @_f.tra("Odeslat poštou")
                    </button>

                </div>
                @if (_f.CurrentUser.IsAdmin && Model.SelectedX31ID>0)
                {
                    <div class="col-auto nonmobile" style="width:40px;">
                        <button id="cmdAdmin" type="button" class="btn btn-light" title="@_f.tra("Administrace sestavy")"><span class="k-icon k-i-cogs"></span></button>
                    </div>
                }
                <div class="col-sm-1 col-md-1 btn-group">
                    <button id="cmdClose" type="button" onclick="window.parent._window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>

                </div>

            </div>

            @if (Model.IsPeriodFilter)
            {
                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Časové období"):</label>
                    <div class="col-sm-9 col-md-8">
                        @Html.EditorFor(m => m.PeriodFilter, "~/Views/Shared/_Period.cshtml")
                    </div>

                </div>
            }


            @if (Model.RecX31 != null && Model.RecX31.x31FormatFlag == BO.x31FormatFlagENUM.DOCX)
            {
                <button type="button" class="btn btn-primary" onclick="generate_docx()">@_f.tra("Vygenerovat dokument")</button>
            }
            @if (string.IsNullOrEmpty(Model.GeneratedTempFileName) == false)
            {
                <a type="button" class="btn btn-success" href="/FileUpload/FileDownloadTempFile?tempfilename=@Model.GeneratedTempFileName" target="_blank">@_f.tra("Stáhnout vygenerovaný dokument")</a>
                @if (Model.AllGeneratedTempFileNames != null && Model.AllGeneratedTempFileNames.Count() > 1)
                {
                    @for (int i = 1; i < Model.AllGeneratedTempFileNames.Count(); i++)
                    {
                        <a type="button" class="btn btn-success" href="/FileUpload/FileDownloadTempFile?tempfilename=@Model.AllGeneratedTempFileNames[i]" target="_blank">#@i</a>
                    }
                }
            }

        <div id="divMerge" style="display:none;">
            <div class="row my-2">
                <label class="col-sm-2 col-md-2 col-form-label">@_f.tra("Slučovaný report") #1:</label>
                <div class="col-sm-6 col-md-5">
                    <mycombo entity="x31Report" asp-for="@Model.MergedX31ID_1" selectedtext="@Model.MergedX31Name_1" myqueryinline="MyRecordsDisponible|bool|1|x29id|int|@Model.x29ID"></mycombo>
                </div>
            </div>
            <div class="row my-2">
                <label class="col-sm-2 col-md-2 col-form-label">@_f.tra("Slučovaný report") #3:</label>
                <div class="col-sm-6 col-md-5">
                    <mycombo entity="x31Report" asp-for="@Model.MergedX31ID_2" selectedtext="@Model.MergedX31Name_2" myqueryinline="MyRecordsDisponible|bool|1|x29id|int|@Model.x29ID"></mycombo>
                </div>
            </div>
            <div class="row my-2">
                <label class="col-sm-2 col-md-2 col-form-label">@_f.tra("Slučovaný report") #3:</label>
                <div class="col-sm-6 col-md-5">
                    <mycombo entity="x31Report" asp-for="@Model.MergedX31ID_3" selectedtext="@Model.MergedX31Name_3" myqueryinline="MyRecordsDisponible|bool|1|x29id|int|@Model.x29ID"></mycombo>
                </div>
            </div>

            <button type="button" class="btn btn-primary" onclick="generate_merge()">@_f.tra("Vygenerovat PDF dokument")</button>
            <button type="button" class="btn btn-primary" onclick="generate_merge_and_mail()">@_f.tra("Odeslat PDF dokument poštou")</button>
        </div>
        </div>

    </form>

    <script type="text/javascript">
        var _topx = $("#reportViewer1").offset().top;

    $(document).ready(function ()
    {
        $("#cmdMerge").click(function () {

            $("#divMerge").toggle();
            if ($("#divMerge").css("display") == "none") {
                $("#reportViewer1").css("top",_topx)
            } else {
                $("#reportViewer1").css("top", (_topx + 130));
            }

        });

        $("#cmdAdmin").on("click", function() {
            window.open(_ep("/x31/Record?pid=@Model.SelectedX31ID"));
        });

        var d1;
        var d2;

        @if (Model.IsPeriodFilter)
        {
            <text>
            d1 = new Date("@Model.PeriodFilter.d1_iso");
            d2 = new Date("@Model.PeriodFilter.d2_iso");
            </text>
        }




       @if(Model.RecX31 != null && Model.RecX31.x31FormatFlag==BO.x31FormatFlagENUM.Telerik)
       {
           <text>
        $("#reportViewer1")
            .telerik_ReportViewer(
                {
                serviceUrl: "/api/reports/",
                reportSource: {
                    report: "@(Model.ReportFileName+"###"+_f.CurrentUser.j03Login)",
                    parameters: { pid: @Model.rec_pid, datFrom: d1, datUntil: d2,langindex:"@Model.LangIndex"}
                },
                viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
                scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                scale: 1.0,
                    enableAccessibility: false,
                    parameters: {
                        editors: {
                            singleSelect: telerikReportViewer.ParameterEditorTypes.COMBO_BOX, //  defineds the editor type for the single select parameters
                            multiSelect: telerikReportViewer.ParameterEditorTypes.COMBO_BOX, //defineds the editor type for the multi select parameters
                        }
                    },
                sendEmail: { enabled: false }
                }
            );

            </text>
       }

        $("#PeriodValue").on("change", function () {
            $.post("/Common/SetUserParam", { key: "report-period-value", value: $(this).val() }, function (data) {
                form1.action = _ep("/x31/ReportContext?oper=change_period");
                form1.submit();

            });
        });
        $("#cmdRefreshPeriod").on("click", function () {
            var k = [];
            var v = [];
            k.push("report-period-value");
            v.push($("#PeriodValue").val());
            k.push("report-period-d1");
            v.push($("#d1helper").val());
            k.push("report-period-d2");
            v.push($("#d2helper").val());


            $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
                refresh();

            });

        });
    });


    function x31id_change(x31id) {
        form1.action = _ep("/x31/ReportContext?oper=change_x31id");
        form1.submit();
    }

    function generate_docx() {
        form1.action = _ep("/x31/ReportContext?oper=generate_docx");
        form1.submit();
    }
    function refresh() {
        form1.action = _ep("/x31/ReportContext?oper=postback");
        form1.submit();
        }

        function generate_merge() {
            form1.action = _ep("/x31/ReportContext?oper=merge");
            form1.submit();
        }
        function generate_merge_and_mail() {
            form1.action = _ep("/x31/ReportContext?oper=merge_and_mail");
            form1.submit();
        }


        function sendbymail() {
            location.replace("/Mail/SendMail?x31id=@(Model.SelectedX31ID)&x29id=@(Model.x29ID)&recpid=@(Model.rec_pid)");
        }





    </script>


</body>
</html>

