@model UI.Models.Record.p90Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Záloha");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = BO.Symbol.p90();
}

@addTagHelper *, UI

<div class="tabs_container_record">
    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab1" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab1">@_f.tra("Karta zálohy")</a>
        </li>

        <li class="nav-item onetab" role="presentation">
            <a id="link_tab2" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab2">@_f.tra("Uživatelská pole") (@Model.ff1.VisibleInputsCount)</a>
        </li>


    </ul>
</div>

<div class="modal_record_container">
    <div class="tab-content">
        <div class="tab-pane" id="tab1" role="tabpanel">
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Typ zálohy"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="p89ProformaType" asp-for="Rec.p89ID" selectedtext="@Model.ComboP89Name"></mycombo>
                </div>
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Měna"):</label>
                <div class="col-sm-3 col-md-2">
                    <mycombo entity="j27Currency" asp-for="Rec.j27ID" selectedtext="@Model.ComboJ27Code"></mycombo>
                </div>
            </div>

            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Klient"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="p28Contact" asp-for="Rec.p28ID" selectedtext="@Model.ComboP28Name" filter-flag="1" search-result-width="600"></mycombo>
                </div>
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka celkem"):<a style="float:right;" href="javascript:recalc2();">@_f.tra("Dopočítat")</a></label>
                <div class="col-sm-3 col-md-2">
                    <mynumber asp-for="@Model.Rec.p90Amount" decimal-digits="2"></mynumber>
                </div>
            </div>


            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum vystavení"):</label>
                <div class="col-sm-3 col-md-2">
                    <mydate asp-for="Rec.p90Date"></mydate>
                </div>
                <div class="col-sm-4 col-md-4">

                </div>
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka bez DPH"):<a style="float:right;" href="javascript:recalc1();">@_f.tra("Dopočítat")</a></label>
                <div class="col-sm-3 col-md-2">
                    <mynumber asp-for="@Model.Rec.p90Amount_WithoutVat" decimal-digits="2"></mynumber>
                </div>
            </div>

            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum splatnosti"):</label>
                <div class="col-sm-3 col-md-2">
                    <mydate asp-for="Rec.p90DateMaturity"></mydate>
                </div>
                <div class="col-sm-4 col-md-4">

                </div>
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Sazba DPH"):</label>
                <div class="col-sm-2 col-md-1">
                    <mynumber asp-for="@Model.Rec.p90VatRate" decimal-digits="2"></mynumber>
                </div>
            </div>

            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód dokladu"):</label>
                <div class="col-sm-3 col-md-2">
                    @if (Model.CanEditRecordCode)
                    {
                        <myval value="@Model.Rec.p90Code" hoversymol="@_f.tra("Upravit kód")" hoverurl="javascript:_edit_code('p90',@Model.rec_pid)"></myval>
                    }
                    else
                    {
                        <myval value="@Model.Rec.p90Code"></myval>
                    }
                </div>
                <div class="col-sm-4 col-md-4">

                </div>
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka DPH"):</label>
                <div class="col-sm-3 col-md-2">
                    <mynumber asp-for="@Model.Rec.p90Amount_Vat" decimal-digits="2"></mynumber>
                </div>
            </div>



            <div class="form-floating my-2">
                <textarea class="form-control" asp-for="Rec.p90Text1"></textarea>
                <label for="Rec_p90Text1">@_f.tra("Text zálohy")</label>
            </div>
            <div class="form-floating my-2">
                <textarea class="form-control" asp-for="Rec.p90Text2"></textarea>
                <label for="Rec_p90Text2">@_f.tra("Technický text zálohy")</label>
            </div>

            <mystitky entity="p28Contact" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml" buttontext="@_f.tra("Oštítkovat")"></mystitky>

            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vlastník záznamu"):</label>
                <div class="col-sm-7 col-md-6">
                    <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="@Model.ComboOwner" view-flag="1" myqueryinline="isintranonvirtualperson|bool|1"></mycombo>
                </div>

            </div>
        </div>




        <div class="tab-pane" id="tab2" role="tabpanel">
            <!-- Tab2 -->
            @Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFields.cshtml")

        </div>

    </div>
</div>




<div class="tab-content">
    <div class="tab-pane" id="tab1" role="tabpanel">
        <!-- Tab1 -->
    </div>
</div>

<input type="hidden" asp-for="@Model.Rec.p90Code" value="@Model.Rec.p90Code" />
<input type="hidden" asp-for="@Model.CanEditRecordCode" />

<script type="text/javascript">
    $(document).ready(function () {




    });




    function postback() {
        form1.action = _ep("p90/Record?oper=postback");
        form1.submit();
    }

    function recalc1() {
        form1.action = _ep("p90/Record?oper=recalc1");
        form1.submit();
    }
    function recalc2() {
        form1.action = _ep("p90/Record?oper=recalc2");
        form1.submit();
    }
    function hardrefresh(pid, flag) {
        if (flag != undefined) {
            if (flag.includes("recordcode")) {
                $("#Rec_p90Code").val(flag.split("|")[1]);
            }
            
        }


        postback("postback");
    }

</script>
