@model UI.Models.Tab1.p90Tab1
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;


}

@addTagHelper *, UI

@Html.EditorFor(m => m, "~/Views/Shared/_p90Tab1Buttons.cshtml")

@Html.Raw("<div class='info_record_container'>")

<div class="card recpagebox400">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp90">
            @_f.tra("Záloha")
        </h6>
        <div class="row">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Číslo")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p90Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Typ zálohy")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p89Name"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Klient")):</label>
            <div class="col-sm-10 col-md-9">
                <myval value="@Model.Rec.p28Name" hoverprefix="p28" hoverpid="@Model.Rec.p28ID"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Datum")):</label>
            <div class="col-sm-10 col-md-9">
                <myval datatype="date" value="@Model.Rec.p90Date"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-2 col-md-3 col-form-label recpagelabel">@(_f.tra("Splatnost")):</label>
            <div class="col-sm-10 col-md-9">
                <myval datatype="date" value="@Model.Rec.p90DateMaturity"></myval>

            </div>
        </div>

        @Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFieldsRO.cshtml")

        <div>
            <small class="text-secondary" title="@_f.tra("Založení záznamu")">
                @(Model.Rec.UserInsert+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateInsert,"dd.MM.yyyy HH:mm ddd"))
            </small>
            @if (Model.Rec.DateUpdate > Model.Rec.DateInsert)
            {
                <small class="text-success float-end" title="@_f.tra("Poslední aktualizace záznamu")">
                    @(Model.Rec.UserUpdate+"/"+BO.BAS.ObjectDateTime2String(Model.Rec.DateUpdate,"dd.MM.yyyy HH:mm ddd"))

                </small>

            }
        </div>
    </div>


</div>


<div class="card recpageboxauto" style="width:290px;">
    <div class="card-body">
        <h6 class="card-title recpagetitle bgp90">
            @_f.tra("Částka")
        </h6>

        <div class="row">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Celkem")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p90Amount" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        @if (Model.Rec.p90VatRate > 0)
        {
            <div class="row my-1">
                <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Sazba DPH")):</label>
                <div class="col-sm-7 col-md-7">
                    <myval datatype="num" value="@Model.Rec.p90VatRate" valueafter="%"></myval>

                </div>
            </div>
            <div class="row my-1">
                <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Bez DPH")):</label>
                <div class="col-sm-7 col-md-7">
                    <myval datatype="num" value="@Model.Rec.p90Amount_WithoutVat" valueafter="@Model.Rec.j27Code"></myval>

                </div>
            </div>
            <div class="row my-1">
                <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Částka DPH")):</label>
                <div class="col-sm-7 col-md-7">
                    <myval datatype="num" value="@Model.Rec.p90Amount_Vat" valueafter="@Model.Rec.j27Code"></myval>

                </div>
            </div>
        }

        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Zbývá uhradit")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="num" value="@Model.Rec.p90Amount_Debt" valueafter="@Model.Rec.j27Code"></myval>

            </div>
        </div>
        <div class="row my-1">
            <label class="col-sm-5 col-md-5 col-form-label recpagelabel">@(_f.tra("Poslední úhrada")):</label>
            <div class="col-sm-7 col-md-7">
                <myval datatype="date" value="@Model.Rec.p90DateBilled"></myval>

            </div>
        </div>

    </div>


</div>

@if (Model.lisP82.Count() > 0)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp90">
                @_f.tra("Úhrady zálohy")
            </div>
            <table class="table table-sm table-hover">
                @foreach (var c in Model.lisP82)
                {
                    <tr style="border-bottom-color:white;">
                        <td>
                            <a href="javascript:_edit('p82',@c.pid)">@_f.tra("Upravit/Odstranit")</a>
                        </td>
                        <td>
                            @c.p82Code
                        </td>
                        <td>
                            @BO.BAS.ObjectDate2String(c.p82Date)

                        </td>
                        <td style="text-align:right;width:120px;">
                            @BO.BAS.Number2String(c.p82Amount)

                            <span style="margin-left:2px;">@Model.Rec.j27Code</span>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" href="javascript:_window_open('/x31/ReportContext?x31id=@(Model.Rec.x31ID_Payment)&prefix=p82&pid=@(c.pid)')"><span class="material-icons-outlined-btn" style="color:gold;">print</span></a>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="5">
                            <i>@(c.p82Text)</i>
                        </td>
                    </tr>

                }
            </table>

        </div>
    </div>
}

@if (Model.lisP99 != null && Model.lisP99.Count() > 0)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp90">
                @_f.tra("Spárované úhrady s daňovou fakturou")
            </div>
            <table class="table table-sm table-hover">
                @foreach (var c in Model.lisP99)
                {
                    <tr style="border-bottom-color:white;">
                        <td>
                            @c.p91Code
                        </td>
                        <td>
                            @c.p82Code
                        </td>

                        <td class="tdnum">
                            @BO.BAS.Number2String(c.p99Amount)
                        </td>
                        <td class="tdnum">
                            @BO.BAS.Number2String(c.p99Amount_WithoutVat)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" href="javascript:_window_open('/x31/ReportContext?x31id=@(c.x31ID_Invoice)&prefix=p91&pid=@(c.p91ID)')"><span class="k-icon k-i-print"></span></a>
                        </td>
                    </tr>

                }
            </table>

        </div>
    </div>
}

@if (Model.Rec.p90Text1 != null || Model.Rec.p90Text2 != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <i>
                @Html.Raw(BO.BAS.Text2Html(Model.Rec.p90Text1))
            </i>

            @if (Model.Rec.p90Text2 != null)
            {
                <hr />
                <i>
                    @Html.Raw(BO.BAS.Text2Html(Model.Rec.p90Text2))
                </i>
            }
        </div>
    </div>
}

@if (Model.TagHtml != null)
{
    <div class="card recpageboxauto">
        <div class="card-body">
            <div class="card-title recpagetitle bgp90">
                @_f.tra("Štítky")
            </div>
            @Html.Raw(Model.TagHtml)

        </div>
    </div>
}

@Html.Raw("</div>")