@model UI.Models.p31approve.GatewayViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Schvalování");

}

@addTagHelper *, UI

<form id="form1" asp-controller="p31approve" asp-action="Grid" method="POST">
    <div class="bg-light input-group m-0" style="padding:10px;">
        <button type="button" id="cmdSaveOnly" class="btn btn-success m-1">@_f.tra("Pouze uložit schvalování")</button>
        <button type="button" id="cmdSaveAndBilling" class="btn btn-primary m-1">@_f.tra("Uložit schvalování a pokračovat vyúčtováním")</button>


        <div class="dropdown m-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="TheGridIcon" class="k-icon k-i-table"></span>
                <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
            </button>
            <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
                Loading...
            </div>
        </div>

        <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>


    </div>



    <input type="hidden" asp-for="@Model.guid" />
    <input type="hidden" asp-for="@Model.j72ID" />
    <input type="hidden" asp-for="@Model.Rec_Pid" />
</form>
@if (_f.CurrentUser.j03Ping_InnerWidth > 1200)
{
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr style="vertical-align:top;">
            <td>
                <vc:the-grid input="@Model.gridinput"></vc:the-grid>
            </td>
            <td style="width:300px;">
                <h5>@_f.tra("Vybraný úkon")</h5>
                <table>

                    <tr>
                        <td style="width:120px;">
                            @_f.tra("Datum"):
                        </td>
                        <td>
                            <span class="val-readonly-wrap" id="Rec_Datum"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Jméno"):
                        </td>
                        <td>
                            <span class="val-readonly" id="Rec_Jmeno"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblProjekt">@_f.tra("Projekt"):</span>
                        </td>
                        <td>
                            <span class="val-readonly-wrap" id="Rec_Projekt"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Aktivita"):
                        </td>
                        <td>
                            <span class="val-readonly" id="Rec_Aktivita"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Hodiny k fakturaci"):
                        </td>
                        <td>
                            <myhours asp-for="@Model.Rec_HodinyKFakturaci" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Hodiny v paušálu"):
                        </td>
                        <td>
                            <myhours asp-for="@Model.Rec_HodinyVPausaulu" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Sazba"):
                        </td>
                        <td>
                            <mynumber asp-for="@Model.Rec_SazbaKFakturaci"></mynumber>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Cena k fakturaci"):
                        </td>
                        <td>
                            <mynumber asp-for="@Model.Rec_BezDph"></mynumber>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea class="form-control" id="Rec_Popis"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @_f.tra("Úroveň schvalování"):
                        </td>
                        <td>
                            <select asp-for="@Model.Rec_UrovenSchvalovani">
                                <option value="0">#0</option>
                                <option value="1">#1</option>
                                <option value="2">#2</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
else
{
    <vc:the-grid input="@Model.gridinput"></vc:the-grid>
}







<script type="text/javascript">
    var _guid = "@Model.guid";

    $(document).ready(function () {

        document.addEventListener("thegrid_rowselect", function (e) {       //změna řádku gridu: automaticky vyvolávaná událost z gridu
            thegrid_handle_rowselect(e.detail.pid);
        });


    });


    function thegrid_handle_rowselect(pid) {        
        $.post(_ep("/p31approve/LoadGridRecord"), { p31id: pid, guid: _guid }, function (data) {

            $("#Rec_Pid").val(pid);
            $("#Rec_Jmeno").text(data.jmeno);
            $("#Rec_Datum").text(data.datum);
            $("#Rec_Projekt").text(data.projekt);
            $("#Rec_Aktivita").text(data.aktivita);
            $("#Rec_Popis").text(data.popis);
            $("#Rec_UrovenSchvalovani").val(data.uroven);

            mynumber_changevalue("Rec_BezDph", data.bezdph, 2);
            mynumber_changevalue("Rec_SazbaKFakturaci", data.sazba, 2);
            $("#Rec_HodinyKFakturaci").val(data.hodiny);
            $("#Rec_HodinyVPausaulu").val(data.hodinypausal);
            
            
            $("#lblProjekt").html(data.pl+":");
            _resize_textareas();
        });
    }


    function postback(oper) {

        form1.action = _ep("/p31approve/Grid?oper=" + oper);
        form1.submit();
    }

    

    function hardrefresh(pid, flag) {
        postback("postback");
    }
</script>
