@model UI.Models.p31approve.GatewayViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Schvalování");
    Model.PageSymbol = "<span style='color:black;font-size:170%;' class='material-icons-outlined'>approval</span>";

}

@addTagHelper *, UI

<form id="form1" asp-controller="p31approve" asp-action="Index" method="POST">
    <div class="bg-light input-group m-0" style="padding-bottom:10px;">
        <button type="button" id="cmdSaveOnly" class="btn btn-success m-1">@_f.tra("Pouze uložit schvalování")</button>
        <button type="button" id="cmdSaveAndBilling" class="btn btn-primary m-1">@_f.tra("Uložit schvalování a pokračovat vyúčtováním")</button>


        <div class="dropdown m-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="TheGridIcon" class="material-icons-outlined-nosize">grid_on</span>
                <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
            </button>
            <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
                Loading...
            </div>
        </div>

        

        <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-sm btn-light"><span class="material-icons-outlined-btn">close</span>@_f.tra("Zavřít")</button>
        

    </div>
    <div class="input-group m-0">
        <div>
            <ul id="overgridtabs" class="nav nav-tabs">
                @foreach (var tab in Model.OverGridTabs)
                {
                    <li class="nav-item onetab">
                        <a class="@tab.CssClass" id="@tab.ClientID" href="@tab.Url" style="padding-bottom:2px;">
                            @{
                                @Html.Raw(tab.Name)
                                if (tab.Badge != null)
                                {
                                    @Html.Raw(tab.Badge)
                                }
                            }
                        </a>
                    </li>

                }
            </ul>
        </div>

        <div class="dropdown" style="margin-right:5px;">
            <button class="@(Model.P31StateQueryCssClass)" type="button" id="cmdP31StateQuery" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons-outlined-nosize">filter_alt</span>
                @(Model.P31StateQueryAlias)
            </button>
            <ul id="ulP31StateQuery" class="dropdown-menu" aria-labelledby="cmdP31StateQuery"></ul>
        </div>
        <div title="@_f.tra("Označeným úkonům nahodit cílový stav")">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="cmdBatch4" onclick="batch(1,4)"><span class="material-icons-outlined-btn" style="color:green;">approval</span>@_f.tra("Fakturovat")</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="cmdBatch6" onclick="batch(1,6)"><span class="material-icons-outlined-btn" style="color:pink;">approval</span>@_f.tra("Paušál")</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="cmdBatch2" onclick="batch(1,2)"><span class="material-icons-outlined-btn" style="color: red;">approval</span>@_f.tra("Viditelný odpis")</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="cmdBatch3" onclick="batch(1,3)"><span class="material-icons-outlined-btn" style="color: brown;">approval</span>@_f.tra("Skrytý odpis")</button>

            <button type="button" class="btn btn-sm btn-outline-secondary" id="cmdBatch0" onclick="batch(0,0)"><span class="material-icons-outlined-btn">backspace</span>@_f.tra("Rozpracováno")</button>

        </div>

        
    </div>



    <input type="hidden" asp-for="@Model.tempguid" />
    <input type="hidden" asp-for="@Model.j72ID" />
    <input type="hidden" asp-for="@Model.Rec_Pid" />
    <input type="hidden" asp-for="@Model.Rec_p33ID" />
    <input type="hidden" asp-for="@Model.SelectedTab" />
    
</form>
@if (_f.CurrentUser.j03Ping_InnerWidth > 1200)
{
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr style="vertical-align:top;">
            <td>
                <vc:the-grid input="@Model.gridinput"></vc:the-grid>
            </td>
            <td style="width:300px;">
                <h5 id="recNadpis">@_f.tra("Vyberte úkon")</h5>
                
                <table id="tabRecord" style="display:none;">
                    <tr>
                        <td colspan="2">
                            <button type="button" class="btn btn-success" onclick="save_temp_record()">@_f.tra("Uložit změny")</button>
                            <hr />


                            <input type="radio" id="chkp71ID_1" asp-for="Rec_p71ID" value="1" onchange="handle_rec_change()" />
                            <label for="chkp71ID_1">@_f.tra("Schváleno")</label>
                            <input type="radio" id="chkp71ID_2" asp-for="Rec_p71ID" value="2" onchange="handle_rec_change()" style="margin-left:5px;" />
                            <label for="chkp71ID_2">@_f.tra("Neschváleno")</label>
                            <input type="radio" id="chkp71ID_0" asp-for="Rec_p71ID" value="0" onchange="handle_rec_change()" style="margin-left:5px;" />
                            <label for="chkp71ID_0">@_f.tra("Rozpracováno")</label>
                        </td>
                    </tr>
                    <tr id="trP72ID">
                        <td colspan="2">
                            <input type="radio" id="chkp72ID_4" asp-for="Rec_p72ID" value="4" onchange="handle_rec_change()" />
                            <label for="chkp72ID_4" class="badge-a4">@_f.tra("Fakturovat")</label>
                            <br />
                            <input type="radio" id="chkp72ID_7" asp-for="Rec_p72ID" value="7" onchange="handle_rec_change()" />
                            <label for="chkp72ID_7" class="badge-a7">@_f.tra("Fakturovat později")</label>
                            <br />
                            <input type="radio" id="chkp72ID_6" asp-for="Rec_p72ID" value="6" onchange="handle_rec_change()" />
                            <label for="chkp72ID_6" class="badge-a6">@_f.tra("Zahrnout do paušálu")</label>
                            <br />
                            <input type="radio" id="chkp72ID_2" asp-for="Rec_p72ID" value="2" onchange="handle_rec_change()" />
                            <label for="chkp72ID_2" class="badge-a2">@_f.tra("Viditelný odpis")</label>
                            <br />
                            <input type="radio" id="chkp72ID_3" asp-for="Rec_p72ID" value="3" onchange="handle_rec_change()" />
                            <label for="chkp72ID_3" class="badge-a3">@_f.tra("Skrytý odpis")</label>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="val-readonly-wrap" id="Rec_Datum"></span>
                        </td>
                        
                    </tr>
                   
                    <tr>
                        <td colspan="2" id="tdProjekt">
                            <span class="val-readonly-wrap" id="Rec_Projekt"></span>
                            
                        </td>
                       
                    </tr>
                    <tr>
                        
                        <td colspan="2" title="@_f.tra("Aktivita")">
                            <span class="val-readonly" id="Rec_Aktivita"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px;">
                            @_f.tra("Vykázáno"):
                        </td>
                        <td>
                            <span class="val-readonly" id="Rec_Vykazano"></span>
                        </td>
                    </tr>
                    <tr id="trSazba" data-p33id="13">
                        <td>
                            @_f.tra("Výchozí fakturační sazba"):
                        </td>
                        <td>
                            <span class="val-readonly" id="Rec_Sazba"></span>
                        </td>
                    </tr>

                    <tr id="trHodinyKFakturaci" data-p33id="1">
                        <td>
                            @_f.tra("Hodiny k fakturaci"):
                        </td>
                        <td>
                            <myhours asp-for="@Model.Rec_HodinyKFakturaci" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
                        </td>
                    </tr>
                    <tr id="trSazbaKFakturaci" data-p33id="13">
                        <td>
                            @_f.tra("Fakturační sazba")
                            <span id="j27code_sazba">:</span>
                        </td>
                        <td>
                            <mynumber asp-for="@Model.Rec_SazbaKFakturaci"></mynumber>
                        </td>
                    </tr>
                    <tr id="trHodinyVPausalu" data-p33id="1" style="vertical-align:top;">
                        <td>
                            @_f.tra("Hodiny v paušálu"):
                        </td>
                        <td>
                            <myhours asp-for="@Model.Rec_HodinyVPausaulu" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
                            <i>
                                0 = @_f.tra("Vykázané hodiny")
                            </i>
                        </td>
                    </tr>

                    <tr id="trBezDph" data-p33id="25">
                        <td>
                            @_f.tra("Bez DPH")
                            <span id="j27code_bezdph">:</span>
                        </td>
                        <td>
                            <mynumber asp-for="@Model.Rec_BezDph"></mynumber>
                        </td>
                    </tr>
                    <tr id="trDphSazba" data-p33id="25">
                        <td>
                            @_f.tra("DPH sazba %"):
                        </td>
                        <td>
                            <mynumber asp-for="@Model.Rec_DphSazba"></mynumber>
                        </td>
                    </tr>
                    <tr id="trPopis">
                        <td colspan="2">
                            <textarea class="form-control" id="Rec_Popis" style="max-height:300px !important;overflow:auto !important;"></textarea>
                        </td>
                    </tr>
                    <tr id="trHodinyInterni" data-p33id="1">
                        <td>
                            @_f.tra("Interně schválené hodiny"):
                        </td>
                        <td>
                            <myhours asp-for="@Model.Rec_InterniHodiny" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
                        </td>
                    </tr>
                    <tr id="trUrovenSchvalovani">
                        <td>
                            @_f.tra("Úroveň schvalování"):
                        </td>
                        <td>
                            <select asp-for="@Model.Rec_UrovenSchvalovani">
                                <option value="0">#0</option>
                                <option value="1">#1</option>
                                <option value="2">#2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:edit_source_rec()">@_f.tra("Upravit zdrojový úkon")</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
else
{
    <vc:the-grid input="@Model.gridinput"></vc:the-grid>
}







<script type="text/javascript">
    var _guid = "@Model.tempguid";

    $(document).ready(function () {

        document.addEventListener("thegrid_rowselect", function (e) {       //změna řádku gridu: automaticky vyvolávaná událost z gridu
            thegrid_handle_rowselect(e.detail.pid);
        });


        document.addEventListener("thegrid_rebound", event => {
            LocalAfterGridRefresh();
        });

        
        _resize_textareas();        
        if ($("#Rec_Pid").val() == "0" || $("#Rec_Pid").val() == "") {            
            //automaticky označit první záznam v gridu
            var rows = $('#tabgrid1 tr');
            if (rows.length > 0) {
                var pid = rows[0].id.replace("r", "");
                $("#Rec_Pid").val(pid);
                LocalAfterGridRefresh();
            }
        }


        $("#cmdSaveOnly").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            postback("saveonly")
        });
        $("#cmdSaveAndBilling").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            postback("saveandbilling")
        });
        
    });


    function thegrid_handle_rowselect(pid) {
        $("#tabRecord").css("display", "block");
        $("#recNadpis").css("display", "none");
        
        $.post(_ep("/p31approve/LoadGridRecord"), { p31id: pid, guid: _guid }, function (data) {
            if (data.errormessage != null) {
                _notify_message(data.errormessage);
                return;
            }
            $("#Rec_Pid").val(pid);
            $("#Rec_p33ID").val(data.p33id);

            $("#chkp71ID_" + data.p71id).prop("checked", true);
            if (data.p72id > 0)
            {
                $("#chkp72ID_" + data.p72id).prop("checked", true);
            }

            //$("#Rec_Jmeno").text(data.jmeno);
            var datjme = data.datum;                        
            switch (data.p71id) {
                case 2:
                    datjme += "😡"; break;
                case 0:
                    datjme += "😶"; break;
                default:
                    switch (data.p72id) {
                        case 4:
                            datjme += "😀"; break;
                        case 6:
                            datjme += "😏"; break;
                        case 2:
                            datjme += "😒"; break;
                        case 3:
                            datjme += "😖"; break;
                        case 7:
                            datjme += "😉"; break;
                    }
            }           
            $("#Rec_Datum").text(datjme + " " + data.jmeno);

            $("#Rec_Projekt").text(data.projekt);
            $("#Rec_Aktivita").text(data.aktivita);
            $("#Rec_Vykazano").text(data.vykazano)
            $("#Rec_Popis").val(data.popis);
            $("#Rec_UrovenSchvalovani").val(data.uroven);
            $("#j27code_bezdph").text("("+data.j27code+"):");
            $("#j27code_sazba").text("("+data.j27code+"):");
            

            if (data.p33id == 1) {
                $("#Rec_HodinyKFakturaci").val(data.hodiny);
                $("#Rec_HodinyVPausaulu").val(data.hodinypausal);
                $("#Rec_InterniHodiny").val(data.hodinyinterni);
            }
            if (data.p33id == 1 || data.p33id==3) {
                mynumber_changevalue("Rec_SazbaKFakturaci", data.sazba, 2);                
                $("#Rec_Sazba").text(data.vykazano_sazba);
            } else {

                mynumber_changevalue("Rec_DphSazba", data.dphsazba, 0);
                mynumber_changevalue("Rec_BezDph", data.bezdph, 2);
            }



            handle_rec_change();


            $("#tdProjekt").attr("title", data.pl);
            _resize_textareas();
        });
    }

    function handle_rec_change() {
        var p71id = $('input[name=Rec_p71ID]:checked').val();
        var p72id = $('input[name=Rec_p72ID]:checked').val();
        var p33id = $("#Rec_p33ID").val();

        $("#trP72ID").css("visibility", "visible");
        $("#trUrovenSchvalovani").css("visibility", "visible");
        $("[data-p33id=1]").css("visibility", "visible");
        $("[data-p33id=13]").css("visibility", "visible");
        $("[data-p33id=25]").css("visibility", "visible");

        if (p71id == "0" || p71id == "2") {
            $("#trP72ID").css("visibility", "hidden");
            $("[data-p33id=1]").css("visibility", "hidden");
            $("[data-p33id=13]").css("visibility", "hidden");
            $("[data-p33id=25]").css("visibility", "hidden");
            $("#trSazba").css("visibility", "visible");
        }

        if (p71id == "0") {
            $("#trUrovenSchvalovani").css("visibility", "hidden");
        }

        //následně už pouze skrývat (hidden) nepotřebné, protože aktuálně je vše viditelné!

        if (p33id == 1 || p33id==3 || p72id==6 || p72id==3 || p72id==2) {
            $("#trDphSazba").css("visibility", "hidden");
            $("#trBezDph").css("visibility", "hidden");

        }
        if (p33id != 1) {
            $("#trHodinyKFakturaci").css("visibility", "hidden");
            $("#trHodinyInterni").css("visibility", "hidden");
        }
        if (p33id != 1 && p33id != 3) {
            $("#trSazbaKFakturaci").css("visibility", "hidden");
            $("#trSazba").css("visibility", "hidden");
        }
        if ((p33id == 1 && p72id != 6) || p33id>1) {
            $("#trHodinyVPausalu").css("visibility", "hidden");
        }
        if ((p33id == 1 || p33id == 3) && (p72id==6 || p72id==3 || p72id==2)) {
            $("#trSazbaKFakturaci").css("visibility", "hidden");
            $("#trHodinyKFakturaci").css("visibility", "hidden");
        }

    }


    function postback(oper) {
        form1.action = _ep("/p31approve/Index?oper=" + oper);
        form1.submit();
    }

    function changetab(tab) {
        $("#SelectedTab").val(tab);
        postback("postback");        
    }

    function hardrefresh(pid, flag) {        
        if (flag.toLowerCase().indexOf("p31/record")>0)
        {
            LocalAfterGridRefresh();
            return;
        }
        
               
        postback("postback");
    }


    function save_temp_record() {
        var pid = $("#Rec_Pid").val();
        var p71id = $('input[name=Rec_p71ID]:checked').val();
        var p72id = $('input[name=Rec_p72ID]:checked').val();
        var p33id = $("#Rec_p33ID").val();

        var c = {
            p31id: pid,
            p71id: p71id,
            p72id: p72id,
            p33id: p33id,
            uroven: $("#Rec_UrovenSchvalovani").val(),
            hodiny: $("#Rec_HodinyKFakturaci").val(),
            hodinyinterni: $("#Rec_InterniHodiny").val(),
            sazba: $("#numRec_SazbaKFakturaci").val(),
            hodinypausal: $("#Rec_HodinyVPausaulu").val(),
            popis: $("#Rec_Popis").val(),
            bezdph: $("#numRec_BezDph").val(),
            dphsazba: $("#numRec_DphSazba").val()
            
        };
        

        $.post(_ep("/p31approve/SaveTempRecord"), {rec: c, p31id: pid, guid: _guid }, function (data) {
            
            if (data.message != null) {
                _notify_message(data.message);
                return;
            }

            
            tg_post_handler("refresh");
            
        });
    }


    function LocalAfterGridRefresh() {
        
        var pid = $("#Rec_Pid").val();
        tg_go2pid(pid);
        thegrid_handle_rowselect(pid);
        
    }

    function edit_source_rec() {
        var pid = $("#Rec_Pid").val();
        _window_open("/p31/Record?pid=" + pid + "&approve_guid=" + _guid);
    }

    function batch(p71id, p72id) {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message(_tg_musite_vybrat_zaznam);
            return;
        }


        $.post(_ep("/p31approve/SaveTempBatch"), { pids: pids, p71id: p71id, p72id: p72id, guid: _guid }, function (data) {
            if (data.message != null) {
                _notify_message(data.message);
            }

            tg_post_handler("refresh");
            //LocalAfterGridRefresh();

        });
    }
        
    function p31text_temp(txt, p31id) {
        var s = $(txt).val();
        
        $.post(_ep("/p31approve/UpdateTempText"), { p31id: p31id, s: s, guid: _guid }, function (data) {
            if (data.flag == 0) {
                _notify_message(data.flag + ", message: " + data.message);
            } else {
                _notify_message("Úpravy uloženy.", "info");
            }                        

        });
    }
</script>
