@model UI.Models.Record.p61Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Klastr aktivit");
}
@addTagHelper *, UI

<input type="hidden" id="hidP32IDs" asp-for="@Model.p32IDs" value="@Model.p32IDs" />

<div class="modal_record_container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p61Name" />
        </div>
    </div>






    <div class="card">
        <div class="card-header">
            @_f.tra("Přidat aktivity")
        </div>
        <div class="card-body">
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat aktivitu"):</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="p32Activity" asp-for="@Model.SelectedP32ID" selectedtext="@Model.SelectedP32Name" placeholder="@_f.tra("Vybrat aktivitu")..." event_after_changevalue="handle_p32id_append"></mycombo>
                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Přidat aktivity ze sešitu"):</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="p34ActivityGroup" asp-for="@Model.SelectedP34ID" selectedtext="@Model.SelectedP34Name" placeholder="@_f.tra("Vybrat sešit")..." event_after_changevalue="handle_p34id_append"></mycombo>
                </div>

            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-danger" onclick="handle_remove_selected()">@_f.tra("Odstranit vybrané")</button>
    </div>

    


</div>
<vc:the-grid input="@Model.gridinput"></vc:the-grid>

<div id="divP32" style="margin-top:20px;margin-bottom:20px;"></div>
<button type="button" id="cmdClear" class="btn btn-warning btn-sm" style="display:none;" onclick="clear_all()">@_f.tra("Vyčistit vše")</button>

<script type="text/javascript">
    $(document).ready(function () {



    });

    function handle_p32id_append(p32id) {
        if (p32id == "") {
            _notify_message("Musíte vybrat aktivitu.");
            return;
        }

        form1.action = _ep("/p61/Record?prefix=p32&oper=add&pids=" + p32id);
        form1.submit();

    }


    function handle_p34id_append(p34id) {
        if (p34id == "") {
            _notify_message("Musíte vybrat sešit.");
            return;
        }

        form1.action = _ep("/p61/Record?prefix=p34&oper=add&pids=" + p34id);
        form1.submit();
    }



    function handle_remove_selected() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message("@_f.tra("Musíte zaškrtnout minimálně jeden záznam.")");
            return;
        }
        _toolbar_warn2save_changes();

        form1.action = "/p61/Record?prefix=p32&oper=remove&pids=" + pids;
        form1.submit();


    }

</script>

