@model FsmViewModel
@inject BL.Factory _f

@{

    if (Model.entity == null)
    {
        return;
    }

    Model.PageTitle = Model.entityTitle;



}

@addTagHelper *,UI

<div class="input-group m-0" style="padding-top:1px;">    
    <div>
        <ul id="overgridtabs" class="nav nav-tabs">            
            @foreach (var tab in Model.OverGridTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="@tab.ClientID" href="@tab.Url" onclick="tab_overgrid_click(this)" style="padding-bottom:2px;">
                        @{
                            @Html.Raw(tab.Name)
                            if (tab.Badge != null)
                            {
                                @Html.Raw(tab.Badge)
                            }
                        }
                    </a>
                </li>

            }
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="TheGridIcon" class="k-icon k-i-table"></span>
            <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
        </button>
        <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
            Loading...
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridSelMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="k-icon k-i-checkbox-checked"></span>
            @_f.tra("Zaškrtlé záznamy")
        </button>
        <ul id="ulGridSelMenu" class="dropdown-menu dynamicmenu_container" aria-labelledby="cmdGridSelMenu"></ul>
    </div>

    @if (Model.period != null)
    {
        <div>
            @Html.EditorFor(m => m.period, "~/Views/Shared/_Period.cshtml")
        </div>

    }

    @if (Model.IsP31StateQuery)
    {
        <div class="dropdown">
            <button class="@(Model.P31StateQueryCssClass)" type="button" id="cmdP31StateQuery" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="k-icon k-i-filter-sm" style="color:silver;"></span>
                @(Model.P31StateQueryAlias)
            </button>
            <ul id="ulP31StateQuery" class="dropdown-menu" aria-labelledby="cmdP31StateQuery"></ul>
        </div>
    }

    @if (Model.IsCanbeMasterView)
    {
        <div style="margin-left:auto;margin-right:2px;" class="nonmobile btn-group">
            <button type="button" class="btn btn-light" onclick="switch_to_masterview()"><span class="k-icon k-i-table-row-insert-below"></span> @_f.tra("Zapnou spodní panel")</button>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridDblclickSetting" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="k-icon k-i-gears"></span>
                    @_f.tra("Dvojklik")
                </button>
                <ul id="ulGridDblclickSetting" class="dropdown-menu" aria-labelledby="cmdGridDblclickSetting">
                    Loading...
                </ul>

            </div>
        </div>
    }

</div>



<vc:the-grid input="@Model.gridinput"></vc:the-grid>




<script type="text/javascript">
    var _pageprefix = "@Model.prefix";

    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {





        _mainmenu_highlight_current("cmd" + _pageprefix);


    });

        function reload() {
            //_showloading();
            _redirect("/TheGrid/FlatView?prefix=" + _pageprefix);

        }



        function change_grid(j72id) {
            $.post(_ep("/Common/SetUserParam"), { key: "flatview-j72id-" + _pageprefix,value:j72id  }, function (data) {
                reload();

            });
        }

        function report_nocontext(x31id) {
            _window_open("/x31/ReportNoContext?x31id=" + x31id, 2);
        }


        function reload() {
            //_showloading();
            _redirect("/TheGrid/FlatView?prefix=" + _pageprefix);
        }

        function switch_to_masterview() {    //zapnout spodní panel
            $.post(_ep("/Common/SetUserParam"), { key: "grid-" + _pageprefix + "-show11", value: "1" }, function (data) {
                _redirect("/TheGrid/MasterView?prefix=" + _pageprefix);

            });

    }




    function grid_dblclick(row) {
        var pid = row.id.replace("r", "");
        var s = "@Model.dblClickSetting";

        if (s == "recpage") {
            _redirect("/" + _pageprefix + "/RecPage?pid=" + pid);
        } else {
            _edit(_pageprefix, pid);
        }
    }

    function tab_overgrid_click(tab) {    //uložit aktuální záložku do profilu uživatele
        if (_pageprefix != "p31" && _pageprefix != "j02") {
            return;
        }
        _load_ajax_async("/Common/SetUserParam", { key: "overgrid-tab-" + _pageprefix, value: tab.id.replace("tab", "") })

    }

    function p31text_edi(p31id) {
        alert(p31id);
    }

</script>

