@model FsmViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.entity == null)
    {
        return;
    }
    Model.PageTitle = Model.entityTitle;
    if (Model.NavTabs == null) return;
}

@addTagHelper *,UI


<div class="input-group m-0" style="padding-top:1px;">
    <div class="tabovergrid nonmobile" style="margin-left:1px;">
        KLIENTI
        <span id="TheGridRows" class="badge bg-primary"></span>
    </div>

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="TheGridIcon" class="k-icon k-i-table"></span>
            <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
        </button>
        <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
            Loading...
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridSelMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="k-icon k-i-checkbox-checked"></span>
            @_f.tra("Zaškrtlé záznamy")
        </button>
        <ul id="ulGridSelMenu" class="dropdown-menu dynamicmenu_container" aria-labelledby="cmdGridSelMenu"></ul>
    </div>

    @if (Model.period !=null)
    {
        <div>
            @Html.EditorFor(m => m.period, "~/Views/Shared/_Period.cshtml")
        </div>

    }


    @if (Model.IsCanbeMasterView)
    {
        <div style="margin-left:auto;margin-right:2px;" class="nonmobile btn-group">
            <button type="button" class="btn btn-light" onclick="switch_to_flatview()" style="max-height:30px;"><span class="k-icon k-i-full-screen"></span> @_f.tra("Vypnout spodní panel")</button>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridDblclickSetting" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="k-icon k-i-gears"></span>
                    @_f.tra("Dvojklik")
                </button>
                <ul id="ulGridDblclickSetting" class="dropdown-menu" aria-labelledby="cmdGridDblclickSetting">
                    Loading...
                </ul>

            </div>
        </div>
    }
</div>

<div id="splitter_container" class="splitter-container-top2bottom">

    <div id="splitter_panel1" class="splitter-panel-top">

        <vc:the-grid input="@Model.gridinput"></vc:the-grid>

    </div>
    <div class="tabs_container bg@(Model.prefix)">
        <ul id="navtabs" class="nav nav-tabs">
            <li style="padding-top:6px;">
                <a id="cmdRCM" class="cm" onclick="rcm_from_tabs(event)" title="MENU"><span class="k-icon k-i-menu"></span></a>
            </li>
            @foreach (var tab in Model.NavTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">@tab.Name</a>
                </li>

            }
        </ul>
    </div>

    <div id="splitter_resizer" class="splitter-resizer-top2bottom"></div>

    <div id="splitter_panel2" class="splitter-panel-bottom">

        <iframe id="fra_subgrid" name="fra_subgrid" frameborder="0" src="@Model.go2pid_url_in_iframe" scrolling="yes" style="width:100%;" onload="$('#splitter_panel2').css('background','none');"></iframe>
    </div>
</div>



<input type="hidden" id="cur_pid" asp-for="@Model.gridinput.go2pid" />


<script type="text/javascript">
    var _pageprefix = "@Model.prefix";

    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {


        _splitter_init("1",_pageprefix);
        var key = _pageprefix + "_panel1_size";
        var defHeight = localStorage.getItem(key);
        if (defHeight == null) {
            defHeight = Math.floor(_device.innerHeight/2);
            localStorage.setItem(key, defHeight);
        }

        _splitter_resize_after_init("1", defHeight);

        tg_adjust_for_screen("splitter_panel1");

        _mainmenu_highlight_current("cmd" + _pageprefix);

        if (_tg_go2pid !== null && _tg_go2pid !== 0) {  //masterview potřebuje odscrollovat vybraný záznam. FlatView to nepotřebuje
            tg_go2pid(_tg_go2pid);
        }

        if ($("#FilterMyInvolvement").val() != "") {
            $("#FilterMyInvolvement").addClass("filtered");
        }

        document.addEventListener("thegrid_rowselect", function (e) {       //změna řádku gridu: automaticky vyvolávaná událost z gridu
            thegrid_handle_rowselect(e.detail.pid);
        });



    });



        function thegrid_handle_rowselect(pid) {
            $("#cur_pid").val(pid);
            var tabUrl = "";

         @foreach (var tab in Model.NavTabs)
         {

             <text>
            tabUrl = $("#tab@(@tab.Entity)").attr("href");

            if (tabUrl.indexOf("master_pid=") > 0) {
                tabUrl = _removeUrlParam("master_pid", tabUrl);
                tabUrl = tabUrl + "&master_pid=" + pid;
            } else {
                if (tabUrl.indexOf("pid=") > 0) {
                    tabUrl = _removeUrlParam("pid", tabUrl);
                    if (tabUrl.indexOf("?") > 0) {
                        tabUrl = tabUrl + "&pid=" + pid;
                    } else {
                        tabUrl = tabUrl + "?pid=" + pid;
                    }
                }
            }

            $("#tab@(@tab.Entity)").attr("href", tabUrl);
            </text>
         }
            var selectedtab = $("#navtabs").find(".active");

            tabUrl = $(selectedtab).attr("href");
            document.getElementById("fra_subgrid").src = tabUrl;



     }


        function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
            $("#navtabs .nav-link").removeClass("active");
            $(tab).addClass("active");
            $.post("/Common/SetUserParam", { key: "masterview-tab-" + _pageprefix,value:tab.id.replace("tab","")  }, function (data) {


            });


        }

        function reload() {

            location.replace(_ep("/TheGrid/MasterView?prefix=" + _pageprefix));
        }


        function change_grid(j72id) {
            $.post("/Common/SetUserParam", { key: "masterview-j72id-" + _pageprefix,value:j72id  }, function (data) {
                reload();

            });
        }





    function switch_to_flatview() {    //vypnout spodní panel
            $.post("/Common/SetUserParam", { key: "grid-" + _pageprefix + "-show11", value: "0" }, function (data) {
                location.replace(_ep("/TheGrid/FlatView?prefix=" + _pageprefix));
            });

    }

    function grid_dblclick(row) {
        var pid = row.id.replace("r", "");
        var s = "@Model.dblClickSetting";

        if (s == "recpage") {
            location.replace(_ep("/" + _pageprefix + "/RecPage?pid=" + pid));
        } else {
            _edit(_pageprefix, pid);
        }
    }

    function rcm_from_tabs(e) {
        var pid = $("#cur_pid").val();
        
        if (pid == "" || pid=="0") {
            _notify_message("Musíte vybrat záznam z nadřízeného panelu.");
            return;
        }
        
        e.target.setAttribute("menu_je_inicializovano", null);  //vyčistit paměť o inicializaci menu v rámci tohoto tlačítka
        
        _cm(e, _pageprefix, pid, "grid");
    }
</script>


