@model FsmViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.entity == null)
    {
        return;
    }
    Model.PageTitle = Model.entityTitle;
    if (Model.NavTabs == null) return;
}

@addTagHelper *,UI


<div class="input-group m-0" style="padding-top:1px;">

    <div>
        <ul id="overgridtabs" class="nav nav-tabs">
            @foreach (var tab in Model.OverGridTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="@tab.ClientID" href="@(tab.Url)" onclick="tab_overgrid_click(this)" style="padding-bottom:2px;">
                        @{
                            @Html.Raw(tab.Name)
                            if (tab.Badge != null)
                            {
                                @Html.Raw(tab.Badge)
                            }
                        }
                    </a>
                </li>

            }
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="TheGridIcon" class="material-icons-outlined-nosize">grid_on</span>
            <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
        </button>
        <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
            Loading...
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridSelMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons-outlined-nosize">check_box</span>
            @_f.tra("Zaškrtlé záznamy")
        </button>
        <ul id="ulGridSelMenu" class="dropdown-menu dynamicmenu_container" aria-labelledby="cmdGridSelMenu"></ul>
    </div>

    @if (Model.period != null)
    {
        <div>
            @Html.EditorFor(m => m.period, "~/Views/Shared/_Period.cshtml")
        </div>

    }

    @if (Model.IsP31StateQuery)
    {
        <div class="dropdown">
            <button class="@(Model.P31StateQueryCssClass)" type="button" id="cmdP31StateQuery" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons-outlined-nosize">filter_alt</span>
                @(Model.P31StateQueryAlias)
            </button>
            <ul id="ulP31StateQuery" class="dropdown-menu" aria-labelledby="cmdP31StateQuery"></ul>
        </div>
    }


    @if (Model.IsCanbeMasterView)
    {
        <div style="margin-left:auto;margin-right:2px;" class="nonmobile btn-group">
            <button type="button" class="btn btn-light" onclick="switch_to_flatview()" style="max-height:30px;"><span class="material-icons-outlined-nosize">toggle_off</span> @_f.tra("Vypnout spodní panel")</button>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridDblclickSetting" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-icons-outlined-nosize">settings</span>
                    @_f.tra("Dvojklik")
                </button>
                <ul id="ulGridDblclickSetting" class="dropdown-menu" aria-labelledby="cmdGridDblclickSetting">
                    Loading...
                </ul>

            </div>
        </div>
    }
</div>

<div id="splitter_container" class="splitter-container-top2bottom">

    <div id="splitter_panel1" class="splitter-panel-top">

        <vc:the-grid input="@Model.gridinput"></vc:the-grid>

    </div>
    <div class="tabs_container bg@(Model.prefix)">
        <ul id="navtabs" class="nav nav-tabs">
            <li style="padding-top:6px;">
                <a id="cmdRCM" class="cm" onclick="rcm_from_tabs(event)" title="MENU"><span class="k-icon k-i-menu"></span></a>
            </li>
            @foreach (var tab in Model.NavTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="@tab.ClientID" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                        @{
                            @Html.Raw(tab.Name)
                            if (tab.Badge != null)
                            {
                                @Html.Raw(tab.Badge)
                            }
                        }
                    </a>
                </li>

            }
        </ul>
    </div>

    <div id="splitter_resizer" class="splitter-resizer-top2bottom"></div>

    <div id="splitter_panel2" class="splitter-panel-bottom">

        <iframe id="fra_subgrid" name="fra_subgrid" frameborder="0" src="@Model.go2pid_url_in_iframe" scrolling="yes" style="width:100%;" onload="$('#splitter_panel2').css('background','none');"></iframe>
    </div>
</div>



<input type="hidden" id="cur_pid" asp-for="@Model.gridinput.go2pid" />


<script type="text/javascript">
    var _pageprefix = "@Model.prefix";
    var _currentloadingtabs = false;

    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {


        _splitter_init("1",_pageprefix);
        var key = _pageprefix + "_panel1_size";
        var defHeight = localStorage.getItem(key);
        if (defHeight == null) {
            defHeight = Math.floor(_device.innerHeight/2);
            localStorage.setItem(key, defHeight);
        }

        _splitter_resize_after_init("1", defHeight);

        tg_adjust_for_screen("splitter_panel1");

        _mainmenu_highlight_current("cmd" + _pageprefix);

        if (_tg_go2pid !== null && _tg_go2pid !== 0) {  //masterview potřebuje odscrollovat vybraný záznam. FlatView to nepotřebuje
            tg_go2pid(_tg_go2pid);
            handle_render_tabs(_tg_go2pid);
        }

        if ($("#FilterMyInvolvement").val() != "") {
            $("#FilterMyInvolvement").addClass("filtered");
        }

        document.addEventListener("thegrid_rowselect", function (e) {       //změna řádku gridu: automaticky vyvolávaná událost z gridu
            thegrid_handle_rowselect(e.detail.pid);
        });



    });



        function thegrid_handle_rowselect(pid) {
            $("#cur_pid").val(pid);
            var tabUrl = "";

         @foreach (var tab in Model.NavTabs)
         {

             <text>
            tabUrl = $("#tab@(@tab.Entity)").attr("href");

            if (tabUrl.indexOf("master_pid=") > 0) {
                tabUrl = _removeUrlParam("master_pid", tabUrl);
                tabUrl = tabUrl + "&master_pid=" + pid;
            } else {
                if (tabUrl.indexOf("pid=") > 0) {
                    tabUrl = _removeUrlParam("pid", tabUrl);
                    if (tabUrl.indexOf("?") > 0) {
                        tabUrl = tabUrl + "&pid=" + pid;
                    } else {
                        tabUrl = tabUrl + "?pid=" + pid;
                    }
                }
            }



            $("#tab@(@tab.Entity)").attr("href", tabUrl);
            </text>
         }

            var selectedtab = $("#navtabs").find(".active");
            tabUrl = $(selectedtab).attr("href");

            document.getElementById("fra_subgrid").src = tabUrl;

            handle_render_tabs(pid);




    }

    function handle_render_tabs(pid) {
        //Aktualizovat záložky
        if (_currentloadingtabs) {
            $("#tabtab1").html("Wait");
        } else {
            _currentloadingtabs = true;
            $("#tabtab1").html("-----");
            _load_ajax_async("/TheGrid/getTabs", { prefix: _pageprefix, pid: pid }, callback_render_tabs);
        }
    }

    function callback_render_tabs(data) {
        //vykreslení obsahu záložek načtených přes load_ajax_async
        _currentloadingtabs = false;
        $("#tabtab1").html("Tab1");
        for (var i = 1; i < data.length; i++) {
            if (document.getElementById("tab" + data[i].entity)) {
                if (data[i].badge != null) {
                    $("#tab" + data[i].entity).html(data[i].name + data[i].badge);
                } else {
                    $("#tab" + data[i].entity).html(data[i].name);
                }
            }

        }
    }




    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
        _load_ajax_async("/Common/SetUserParam", { key: "masterview-tab-" + _pageprefix, value: tab.id.replace("tab", "") })

    }

    function tab_overgrid_click(tab) {    //uložit aktuální záložku do profilu uživatele
        if (_pageprefix != "j02") {
            return;
        }
        _load_ajax_async("/Common/SetUserParam", { key: "overgrid-tab-" + _pageprefix, value: tab.id.replace("tab", "") })

    }

    function reload()
    {
        _redirect("/TheGrid/MasterView?prefix=" + _pageprefix);
    }


    function change_grid(j72id) {
            $.post("/Common/SetUserParam", { key: "masterview-j72id-" + _pageprefix,value:j72id  }, function (data) {
                reload();

            });
    }





    function switch_to_flatview() {    //vypnout spodní panel
            $.post("/Common/SetUserParam", { key: "grid-" + _pageprefix + "-show11", value: "0" }, function (data) {
                _redirect("/TheGrid/FlatView?prefix=" + _pageprefix);
            });

    }

    function grid_dblclick(row) {
        var pid = row.id.replace("r", "");
        var s = "@Model.dblClickSetting";
       

        if (s == "recpage") {
            _redirect("/Record/RecPage?prefix="+_pageprefix+"&pid=" + pid);
        } else {
            _edit(_pageprefix, pid);
        }
    }

    function rcm_from_tabs(e) {
        var pid = $("#cur_pid").val();

        if (pid == "" || pid=="0") {
            _notify_message("Musíte vybrat záznam z nadřízeného panelu.");
            return;
        }

        e.target.setAttribute("menu_je_inicializovano", null);  //vyčistit paměť o inicializaci menu v rámci tohoto tlačítka

        _cm(e, _pageprefix, pid, "grid");
    }

    function p91oper_isdoc() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message(_tg_musite_vybrat_zaznam);
            return;
        }

        _window_open("/p91oper/isdoc?p91ids=" + pids);

    }
</script>


