@model FsmViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";

    if (Model.entity == null || Model.master_pid == 0)
    {
        return;
    }

}

@addTagHelper *,UI


<div class="input-group m-0" style="padding-top:1px;">
    <div class="tabovergrid nonmobile" style="margin-left:1px;">
        ÚKONY?
        <span id="TheGridRows" class="badge bg-primary"></span>
    </div>

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="TheGridIcon" class="k-icon k-i-table"></span>
            <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
        </button>
        <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
            Loading...
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridSelMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="k-icon k-i-checkbox-checked"></span>
            @_f.tra("Zaškrtlé záznamy")
        </button>
        <ul id="ulGridSelMenu" class="dropdown-menu dynamicmenu_container" aria-labelledby="cmdGridSelMenu"></ul>
    </div>

    @if (Model.prefix == "p31" || Model.prefix == "p41")
    {
        <div>
            @Html.EditorFor(m => m.period, "~/Views/Shared/_Period.cshtml")
        </div>

    }

    @if (Model.IsCanbeMasterView)
    {
        <div style="margin-left:auto;margin-right:2px;" class="nonmobile btn-group">
            <button type="button" class="btn btn-light" onclick="switch_to_masterview()"><span class="k-icon k-i-table-row-insert-below"></span> @_f.tra("Zapnou spodní panel")</button>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridDblclickSetting" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="k-icon k-i-gears"></span>
                    @_f.tra("Dvojklik")
                </button>
                <ul id="ulGridDblclickSetting" class="dropdown-menu" aria-labelledby="cmdGridDblclickSetting">
                    Loading...
                </ul>

            </div>
        </div>
    }

</div>


<vc:the-grid input="@Model.gridinput"></vc:the-grid>



@section Scripts{

    <script type="text/javascript">
        var _pageprefix = "@Model.prefix";
        var _pagemasterprefix = "@Model.gridinput.master_entity.Substring(0,3)";


    $(document).ready(function () {


        if ($("#FilterMyInvolvement").val() != "") {
            $("#FilterMyInvolvement").css("background-color", "red");
        }



        @if(Model.period != null)
        {
        <text>
        $("#PeriodValue").on("change", function () {
            $.post("/Common/SetUserParam", { key: "grid-period-value-@(Model.prefix+"-"+Model.gridinput.master_entity)",value:$(this).val()  }, function (data) {
                reload();

            });
        });

        if ($("#PeriodValue").val() != "0" && $("#PeriodValue").val() != "") {
            $("#PeriodValue").css("background-color", "red");
        }

        $("#cmdRefreshPeriod").on("click", function () {
            var k = [];
            var v = [];
            k.push("grid-period-value-@(Model.prefix+"-"+Model.gridinput.master_entity)");
            v.push($("#PeriodValue").val());
            k.push("grid-period-d1-@(Model.prefix+"-"+Model.gridinput.master_entity)");
            v.push($("#d1helper").val());
            k.push("grid-period-d2-@(Model.prefix+"-"+Model.gridinput.master_entity)");
            v.push($("#d2helper").val());

            $.post("/Common/SetUserParams", { keys: k, values:v  }, function (data) {
                reload();

            });

        });

        </text>
        }



    });




        function reload() {
            _showloading();
            var url = "/TheGrid/SlaveView?prefix=@Model.prefix&master_entity=@Model.gridinput.master_entity&master_pid=@Model.master_pid";
            url += "&myqueryinline=@Model.myqueryinline";

            location.replace(url);

        }



        function change_grid(j72id) {
            var strKey = "slaveview-j72id-@(Model.prefix)-@(Model.gridinput.master_entity)";

            $.post("/Common/SetUserParam", { key: strKey,value:j72id  }, function (data) {
                reload();

            });
        }

        function grid_dblclick(row) {
            var pid = row.id.replace("r", "");

            var strDblSetting = "@Model.dblClickSetting";
            if (strDblSetting == "recpage") {
                location.replace(_ep("/" + _pageprefix + "/RecPage?pid=" + pid));
                return;
            }
            switch (_pagemasterprefix) {
                case "p91":
                    _window_open(_ep("/p91oper/p31edit?p31id=" + pid));
                    break;
                default:
                    _edit(_pageprefix, pid);
                    break;
            }
        }


        function p91oper_p31operbatch(baseoper) {
            var pids = $("#tg_selected_pids").val();
            if (pids === "") {
                _notify_message(_tg_musite_vybrat_zaznam);
                return;
            }

            _window_open(_ep("/p91oper/p31operbatch?baseoper=" + baseoper + "&p31ids=" + pids + "&p91id=" + _tg_master_pid));

        }

    </script>

}

