@model UI.Models.p31view.daylineViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.PageTitle = "DAYLINE";

    string strClass = null;
    string strTitle = null;
    double dblHours = 0;
    string strHours = null;
    double dblFond = 0;
}

@addTagHelper *, UI

@section header_content{

    <link rel="stylesheet" href="~/css/dayline.css" />


}

<div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="input-group">
        <div>
            <button class="btn btn-outline-secondary dropdown-toggle" id="cmdMore">@_f.tra("Zobrazení")</button>
        </div>
        <div style="margin-left:1px;">
            <button title="@_f.tra("Předchozí")" type="button" class="btn btn-outline-secondary" onclick="month_prev()"><span class="k-icon k-i-arrow-end-left"></span></button>
        </div>
        <div style="width:130px;">
            <mydate asp-for="@Model.d0"></mydate>
        </div>
        <div>
            <button title="@_f.tra("Další")" type="button" class="btn btn-outline-secondary" onclick="month_next()"><span class="k-icon k-i-arrow-end-right"></span></button>
        </div>
        <div id="divQueryJ02" style="width: 200px;">
            <mycombochecklist asp-for="@Model.j02IDs" entity="j02Person" myqueryinline="j02isintraperson|bool|1" placeholder="@_f.tra("Osoby/jednotlivci")" selectedtext="@Model.SelectedPersons" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div id="divQueryJ07" style="width: 170px;">
            <mycombochecklist asp-for="@Model.j07IDs" entity="j07PersonPosition" placeholder="@_f.tra("Pozice")" selectedtext="@Model.SelectedPositions" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div id="divQueryJ11" style="width: 200px;">
            <mycombochecklist asp-for="@Model.j11IDs" entity="j11Team" placeholder="@_f.tra("Týmy osob")" myqueryinline="notall|bool|1" selectedtext="@Model.SelectedTeams" event_after_changevalue="handle_can_reload"></mycombochecklist>
        </div>
        <div style="width:110px;">
            <button type="button" id="cmdRefresh" class="btn btn-primary" style="display:none;margin-left:10px;" onclick="save_setting_and_reload()">@_f.tra("Obnovit")</button>
        </div>
    </div>

</div>

<div id="divMore" style="background-color:aliceblue;display:none;">
    <div class="card">
        <div class="card-header">
            @_f.tra("Zobrazení")
        </div>
        <div class="card-body">
            <input type="radio" asp-for="@Model.GroupBy" id="opg1" value="None" onchange="reload_setting(this)" />
            <label for="opg1">@_f.tra("Zobrazovat pouze denní součty hodin")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg2" value="NoneRecs" onchange="reload_setting(this)" />
            <label for="opg2">@_f.tra("Zobrazovat odkazy na časové úkony")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg3" value="p41" onchange="reload_setting(this)" />
            <label for="opg3">@_f.tra("Rozepisovat sumy hodin podle projektů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg4" value="p41Recs" onchange="reload_setting(this)" />
            <label for="opg4">@_f.tra("Rozepisovat odkazy na časové úkony podle projektů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg5" value="p28" onchange="reload_setting(this)" />
            <label for="opg5">@_f.tra("Rozepisovat sumy hodin podle klientů")</label>
            <br />
            <input type="radio" asp-for="@Model.GroupBy" id="opg6" value="p28Recs" onchange="reload_setting(this)" />
            <label for="opg6">@_f.tra("Rozepisovat odkazy na časové úkony podle klientů")</label>
            <br />
        </div>
    </div>
</div>

<table id="timeline_table1" class="timeline_table">
    <thead>
        <tr>
            <th class="th_position"></th>
            <th class="th_person">@(BO.BAS.ObjectDate2String(Model.d1, "MMMM - yyyy"))</th>
            <th class="th_sum"><span class="k-icon k-i-sum"></span></th>
            @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
            {
                strClass = "th_day";
                strTitle = BO.BAS.ObjectDate2String(d, "dd.MM.yyyy ddd");
                if (d == DateTime.Today)
                {
                    strClass += " th_today";
                }
                else
                {
                    if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
                    {
                        strClass += " th_weekend";
                    }
                }

                <th class="@strClass" title="@strTitle">
                    @BO.BAS.ObjectDate2String(d, "dd")
                    <br />
                    @BO.BAS.ObjectDate2String(d, "ddd")

                    @if (Model.lisC26.Any(p => p.c26Date == d))
                    {
                        <span title="@(Model.lisC26.First(p=>p.c26Date==d).c26Name)">🍷</span>
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody id="timeline_tbody1">
        @foreach (BO.j02Person recJ02 in Model.lisJ02)
        {
            dblHours = Model.lisSums.Where(p => p.j02ID == recJ02.pid).Sum(p => p.Hours);

            <tr>
                <td class="td_position">
                    @(BO.BAS.OM2(recJ02.j07Name,12))
                </td>
                <td class="td_person" title="@(recJ02.FullNameAsc)">
                    @(recJ02.FullNameDesc)
                </td>
                <td class="td_sum">
                    @if (dblHours != 0)
                    {
                        @if (dblFond > 0)
                        {

                        }
                        else
                        {
                            <strong style="color:navy;">@(BO.BAS.Number2String(dblHours))</strong>
                        }
                    }
                </td>
                @for (DateTime d = Model.d1; d <= Model.d2; d = d.AddDays(1))
                {
                    var qry = Model.lisSums.Where(p => p.j02ID == recJ02.pid && p.p31Date == d);
                    strClass = "td_day";
                    if (d.DayOfWeek == DayOfWeek.Saturday || d.DayOfWeek == DayOfWeek.Sunday)
                    {
                        strClass += " td_weekend";
                    }
                    

                    <td class="@strClass" data-j02id="@recJ02.pid" data-d="@(BO.BAS.ObjectDate2String(d,"dd.MM.yyyy"))">
                        @if (qry.Count() > 0)
                        {
                            var rec = qry.First();
                            <a class="hz" onclick="re(this,@(recJ02.pid),'@(rec.p31DateString)')" style="@rec.CssStyle">@(rec.HoursFormatted)</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">


    $(document).ready(function () {


        _mainmenu_highlight_current("cmdDayline");


        $("#d0helper").change(function () {
            reload();
        });

        $(".td_day").dblclick(function () {
            var j02id = $(this).attr("data-j02id");
            var d = $(this).attr("data-d");
            _window_open(_ep("/p31/Record?j02id="+j02id+"&d="+d));
        });


        $("#cmdMore").click(function () {
            $("#divMore").toggle();
        });

        
        var h = _device.innerHeight - $("#timeline_tbody1").offset().top;
        //h = h - 50;   
        h = h - 20;
        $("#timeline_tbody1").height(h);

    });



    function _save_param_and_reload(url, mykey, myval) {
        if (mykey == undefined || myval == undefined) {
            location.replace(url);
            return;
        }
        $.post("/Common/SetUserParam", { key: mykey, value: myval }, function (data) {
            location.replace(url);
        });

        alert("save_param_and_reload: ERROR");
    }
    function month_prev() {
        var d0 = datepicker_get_value("d0");
        if (d0 == null) {
            d0 = new Date();
        }
        var d1 = new Date(d0.getFullYear(), d0.getMonth() - 1, 1);
        datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change


    }
    function month_next() {
        var d0 = datepicker_get_value("d0");
        if (d0 == null) {
            d0 = new Date();
        }
        var d1 = new Date(d0.getFullYear(), d0.getMonth() + 1, 1);
        datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change



    }

    function reload() {
        var d = $("#d0helper").val();
        location.replace(_ep("/p31view/Dayline?d=" + d));
    }

    function reload_setting(opg) {
        $.post(_ep("/Common/SetUserParam"), { key: "dayline-groupby", value: opg.value }, function (data) {
            reload();

        });
    }

    function handle_can_reload(s) {
        $("#cmdRefresh").css("display", "block");
    }

    function save_setting_and_reload() {
        var k = [];
        var v = [];
        k.push("dayline-j02ids");
        v.push($("#j02IDs").val());
        k.push("dayline-j07ids");
        v.push($("#j07IDs").val());
        k.push("dayline-j11ids");
        v.push($("#j11IDs").val());

        $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
            reload();

        });



    }

    function re(ctl, j02id, d) {
        var url = _ep("/p31view/DaylineZoom?j02id=" + j02id + "&d=" + d);
        
        dayline_zoom(ctl,url);
    }




    function dayline_zoom(ctl,url) {
        
        if (!$(_modal).attr("okno_nastaveno")) {
            _make_element_draggable(document.getElementById("myModalContent"), document.getElementById("myModalFrame")); //předávání nefunguje přes jquery
            $(_modal).attr("okno_nastaveno", true);
        }
        $("#myModalContentHeader").text("Nadpis");
        _header_uschova = $("#myModalContentHeader").text();
        $("#myModalContentHeader").text("LOADING CONTENT....");


        var okno = $("#myModalContent");
        var fra = $("#fraModalContent");

        var w = _device.innerWidth-100;
        var h = 450;
        var x = 0;        
        var y = $(ctl).offset().top + 20;
        if (y + h+20 > _device.innerHeight) {
            y = $(ctl).offset().top - h - 2;
        }
        
        if (_device.innerWidth < w) w = _device.innerWidth;
        if (_device.innerHeight < h) h = _device.innerHeight;
        x = (_device.innerWidth - w) / 2;
        
        $("#spanToggle").attr("class", "k-icon k-i-window-maximize");

        $(okno).css("width", w);
        $(okno).css("height", h);
        $(okno).css("left", x);
        $(okno).css("top", y);
        $(fra).css("width", w - 15);
        $(fra).css("height", h - 30 - 10);    //10 padding dole, 30 div header

        if (url !== "") {
            $(fra).attr("src", url);
        }

        $(_modal).css("display", "block");
    }
</script>

