@model FileUploadViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
}


@addTagHelper *, UI




<div style="width:90%;">

    <div class="row">

        <div class="col-auto">
            <form method="post" id="frmUpload" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="DoUpload">
                <input type="hidden" asp-for="@Model.x29ID" />
                <input type="hidden" asp-for="@Model.Guid" />
                <input type="hidden" asp-for="@Model.RecPid" />

                <div class="row">
                    <input type="hidden" asp-for="@Model.o13ID" />
                    
                </div>
                
            

                
                <input id="upload1" type="file" name="files" multiple />




                <input type="submit" id="cmdUpload" class="btn btn-primary" value="@_f.tra("Nahrát přílohy na server")" style="display:none;" />


            </form>
        </div>
        <div class="col-auto">
            @if (Model.lisTempFiles.Count() > 0)
            {
                <div class="card">
                    <div class="card-header">@_f.tra("Nahrané přílohy: Čeká na uložení")</div>
                    <div class="card-body py-0 px-0">
                        <table class="table table-hover table-sm">
                            @foreach (var c in Model.lisTempFiles)
                            {
                                <tr>
                                    <td>
                                        <a target="_blank" asp-action="FileDownloadTempFile" asp-controller="FileUpload" asp-route-tempfilename="@(c.o27ArchiveFileName)">@(c.o27OriginalFileName)</a>
                                    </td>

                                    <td>
                                        @(c.o13Name+" ["+ BO.BAS.FormatFileSize(c.o27FileSize)+"]")
                                    </td>
                                    <td>
                                        <i>
                                            @if (string.IsNullOrEmpty(c.o27Name) == true)
                                            {
                                                <a href="javascript:changelabel('@(c.o27ArchiveFileName)','@(c.o27Name)')">@_f.tra("Popis/název")</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:changelabel('@(c.o27ArchiveFileName)','@(c.o27Name)')">@(c.o27Name)</a>
                                            }
                                        </i>
                                    </td>
                                  
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }

        </div>
    </div>




    @Html.EditorFor(m => m, "~/Views/Shared/_lisO27.cshtml")

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#upload1").change(function () {
            $("#cmdUpload").css("display", "inline");
            //$("#cmdUpload").click();
        });





    });


    function changelabel(filename, current_label) {
        var s = prompt("@_f.tra("Zadejte popis/název k příloze.")", current_label);
        if (s != null) {
            $.post("/FileUpload/ChangeTempFileLabel", { tempfilename: filename, newlabel: s }, function (data) {

                //frmUpload.submit();
                location.reload(location.href);

            });
        }
    }

    function handle_delete_row(fileguid) {
        $.post("/FileUpload/Delete2Temp", { fileguid: fileguid, guid: "@Model.Guid" }, function (data) {

            location.reload(location.href);

        });
    }

    function changelabel_saved(filename, current_label) {
        var s = prompt("@_f.tra("Zadejte popis/název k příloze.")", current_label);
        if (s != null) {
            $.post("/FileUpload/ChangeFileLabel", { fileguid: fileguid, newlabel: s }, function (data) {

                frmUpload.submit();


            });
        }
    }
</script>
