@model UI.Models.PeriodViewModel
@inject BL.ThePeriodProvider _pp
@inject BL.Factory _f
@{
    if (Model == null)
    {
        return;
    }
    var _lisPeriods = _pp.getPallete();
    if (_f.CurrentUser.j03LangIndex > 0)
    {
        foreach (BO.ThePeriod c in _lisPeriods)
        {
            c.PeriodName = _f.tra(c.PeriodName);

        }
    }

    var lisX21 = _f.FBL.GetListX21(_f.CurrentUser.pid);
    foreach (var rec in lisX21)
    {
        var c = new BO.ThePeriod() {IsUserPeriod=true,pid=rec.pid, PeriodName = "* "+rec.x21Name, d1 = rec.ValidFrom, d2 = rec.ValidUntil };
        _lisPeriods.Insert(2,c);

    }


    if (Model.PeriodValue > 60)
    {
        var rec = _f.FBL.LoadX21(Model.PeriodValue);
        if (rec != null)
        {
            Model.d1 = rec.x21ValidFrom;
            Model.d2 = rec.x21ValidUntil;
        }
    }


    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
}

@addTagHelper *, UI



<div class="input-group">

    <div>
        <mydropdown asp-for="@Model.PeriodValue" datasource="@_lisPeriods" valuefield="pid" textfield="Header" isfirstemptyrow="false"></mydropdown>

    </div>

    <div id="div_d1helper">
        <mydate asp-for="@Model.d1"></mydate>
    </div>
    <div id="div_d2helper">
        <mydate asp-for="@Model.d2"></mydate>
    </div>
    <div id="div_cmdRefreshPeriod" style="margin-left:2px;">
        <button type="button" id="cmdRefreshPeriod" class="btn btn-outline-secondary" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></button>
    </div>

</div>

<div id="div_periodfield" style="padding-top:10px;">
    <select id="PeriodField" asp-for="@Model.PeriodField" class="form-select form-select-sm" style="max-width:200px;">
        @switch (Model.prefix)
        {
            case "p31":
                <option value="p31Date">Datum úkonu</option>
                <option value="p91Date">Datum vyúčtování</option>
                <option value="p91DateSupply">DUZP vyúčtování</option>
                <option value="p31DateInsert">Čas založení úkonu</option>
                break;
            case "p90":
                <option value="p90Date">Datum vystavení</option>
                <option value="p90DateInsert">Čas založení záznamu</option>
                break;
            case "p91":
                <option value="p91Date">Datum vystavení</option>
                <option value="p91DateSupply">Datum zdanitelné plnění</option>
                <option value="p91DateInsert">Čas založení záznamu</option>
                break;
        }
    </select>

</div>
@if (Model.PeriodValue > 0)
{
    <div style="padding-top:10px;">
        <button type="button" id="cmdClear" class="btn btn-sm btn-outline-danger">@_f.tra("Zrušit časový filtr")</button>
    </div>
}

<div style="padding-top:10px;">
    <a href="javascript:customperiods()">@_f.tra("Přidat/Upravit vlastní časová období")</a>
</div>

<script type="text/javascript">
    var _periodprefix = "@(Model.prefix)";
    var _periodmasterentity = "@(Model.masterentity)";

    $(document).ready(function () {

        $("#d1helper").on("change", function () {
            $("#PeriodValue").val("1");
            $("#cmdRefreshPeriod").css("background-color", "red");

        })
        $("#d2helper").on("change", function () {
            $("#PeriodValue").val("1");
            $("#cmdRefreshPeriod").css("background-color", "red");
        })



        $("#PeriodValue").on("change", function () {
            if ($(this).val() == "1") {
                $("#cmdRefreshPeriod").css("background-color", "red");
                handle_showhide();
                return;
            }
            $.post("/Common/SetUserParam", { key: "grid-period-value-" + _periodprefix, value: $(this).val() }, function (data) {
                reload();
            });
        });
        $("#PeriodField").on("change", function () {

            $.post("/Common/SetUserParam", { key: "grid-period-field-" + _periodprefix, value: $(this).val() }, function (data) {
                reload();
            });
        });

        $("#cmdClear").on("click", function () {
            $.post("/Common/SetUserParam", { key: "grid-period-value-" + _periodprefix, value: "0" }, function (data) {
                reload();
            });
        });

        
        

        $("#cmdRefreshPeriod").on("click", function () {
            if ($("#d1helper").val() == "" || $("#d2helper").val()=="") {
                _notify_message("Chybí vyplnit datum.");
                return;
            }
            var k = [];
            var v = [];
            k.push("grid-period-value-" + _periodprefix);
            v.push($("#PeriodValue").val());
            k.push("grid-period-d1-" + _periodprefix);
            v.push($("#d1helper").val());
            k.push("grid-period-d2-" + _periodprefix);
            v.push($("#d2helper").val());

            $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
                reload();

            });

        });

        $("#PeriodValue").css("background-color", "#FFFFE0");

        handle_showhide();
    });




    function reload() {
        window.parent.reload();

    }



    function handle_showhide() {
        if ($("#PeriodValue").val() == "0") {
            $("#div_periodfield").css("display", "none");
            $("#div_d1helper").css("display", "none");
            $("#div_d2helper").css("display", "none");
            $("#div_cmdRefreshPeriod").css("display", "none");

        } else {
            $("#div_periodfield").css("display", "block");
            $("#div_d1helper").css("display", "block");
            $("#div_d2helper").css("display", "block");
            $("#div_cmdRefreshPeriod").css("display", "block");
        }
    }


    function customperiods() {
        _window_open(_ep("/Period/UserPeriods"));
    }

</script>
