@model UI.Models.p31invoice.Append2InvoiceViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Přidat do vybraného vyúčtování");
    Model.PageSymbol = BO.Symbol.p91();
}

@addTagHelper *, UI

<div class="bg-light" style="padding:10px;">
    <button type="button" id="cmdSave" class="btn btn-success"><span class="material-icons-outlined-btn">done</span>@_f.tra("Pokračovat")</button>

    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light"><span class="material-icons-outlined-btn">close</span>@_f.tra("Zavřít")</button>


</div>

<form id="form1" asp-controller="p31invoice" asp-action="Append2Invoice" method="POST">
    <div class="modal_record_container">

        <mycombo entity="p91Invoice" asp-for="@Model.SelectedInvoiceP91ID" selectedtext="@Model.SelectedInvoiceText" placeholder="@_f.tra("Vyberte cílové vyúčtování")" filter-flag="1"></mycombo>
    </div>


    <input type="hidden" asp-for="@Model.pids" />
    
</form>


<script type="text/javascript">
    
    $(document).ready(function () {


       

        $("#cmdSave").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);

            
            form1.submit();
        });

       



    });



    

    


</script>
