@model UI.Models.Info.p31Info
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;

    var _disp = _f.p31WorksheetBL.InhaleRecDisposition(Model.Rec);
}

@addTagHelper *, UI

@if (Model.IsRecord)
{
    <div class="bg-light" style="padding:10px;">

        <button type="button" id="cmdClose" onclick="window.parent._window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>

        <span class="badge rounded-pill bg-primary fs-5">
            @(_disp.LockedReasonMessage)
        </span>
    </div>
}


<div class="info_record_container">


    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum"):</label>
        <div class="col-sm-5 col-md-4">
            <myval datatype="date" value="@Model.Rec.p31Date"></myval>
        </div>
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Sešit"):</label>
        <div class="col-sm-5 col-md-4">
            <myval value="@Model.Rec.p34Name"></myval>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Jméno"):</label>
        <div class="col-sm-5 col-md-4">
            <myval datatype="link" linktarget="_top" linkurl="/Record/RecPage?prefix=j02&pid=@Model.Rec.j02ID" value="@Model.Rec.Person"></myval>

        </div>
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Aktivita"):</label>
        <div class="col-sm-5 col-md-4">
            <myval value="@Model.Rec.p32Name"></myval>
        </div>
    </div>
    <div class="row my-2">
        @if (Model.Rec.p28ID_Client > 0)
        {
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Klient"):</label>
            <div class="col-sm-5 col-md-4">
                <myval datatype="link" linktarget="_top" linkurl="/Record/RecPage?prefix=p28&pid=@Model.Rec.p28ID_Client" value="@Model.Rec.ClientName"></myval>
            </div>
        }

        <label class="col-sm-1 col-md-2 col-form-label recpagelabel">@(Model.Rec.p42Name):</label>
        <div class="col-sm-5 col-md-4">
            <myval datatype="link" linktarget="_top" linkurl="/Record/RecPage?prefix=p41&pid=@Model.Rec.p41ID" value="@Model.Rec.p41Name"></myval>

        </div>
    </div>
    @if (Model.Rec.p56ID > 0)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Úkol"):</label>
            <div class="col-sm-5 col-md-4">
                <myval datatype="link" linktarget="_top" linkurl="/Record/RecPage?prefix=p56&pid=@Model.Rec.p56ID" value="@Model.Rec.p56Name"></myval>

            </div>
        </div>

    }
    <div style="background-color:#FFFFCC;border-radius:6px;margin-bottom:6px;">
        <i>
            @Html.Raw(BO.BAS.Text2Html(Model.Rec.p31Text))
        </i>
    </div>

    <div class="card">

        <div class="card-body">
            <div class="card-title">
                <strong class="text-primary">@_f.tra("Vykázáno")</strong>
                <small class="float-end">
                    <code>@_f.tra("Autor"):</code>
                    @(Model.Rec.UserInsert+" / "+Model.Rec.DateInsert.ToString())
                </small>
            </div>
            @if (Model.Rec.p33ID == BO.p33IdENUM.Cas)
            {
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Hodiny"):</label>
                    <div class="col-sm-3 col-md-2">
                        <myval datatype="num" value="@Model.Rec.p31Hours_Orig"></myval>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <myval value="@Model.Rec.p31HHMM_Orig"></myval>
                    </div>
                </div>
            }
            @if (Model.Rec.p33ID == BO.p33IdENUM.Kusovnik)
            {
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Počet"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Value_Orig"></myval>
                    </div>

                </div>
            }
            @if (Model.Rec.p33ID == BO.p33IdENUM.Cas || Model.Rec.p33ID == BO.p33IdENUM.Kusovnik)
            {
                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Fakturační sazba"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Rate_Billing_Orig" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nákladová sazba"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Rate_Internal_Orig"></myval>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Honorář"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Amount_WithoutVat_Orig" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nákladový honorář"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Amount_Internal"></myval>
                    </div>
                </div>
            }
            @if (Model.Rec.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.Rec.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
            {
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Bez DPH"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Amount_WithoutVat_Orig" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Včetně DPH"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Amount_WithVat_Orig" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("DPH sazba"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31VatRate_Orig" valueafter="%"></myval>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka DPH"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="num" value="@Model.Rec.p31Amount_Vat_Orig" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                    </div>
                </div>
            }

        </div>
    </div>

    @if (Model.Rec.p71ID == BO.p71IdENUM.Neschvaleno)
    {
        <div class="card my-2">
            <div class="card-body">
                <div class="card-title">
                    <strong class="text-primary">@_f.tra("Neschváleno")</strong>
                    <span class="badge-a@((int)Model.Rec.p72ID_AfterApprove)">@Model.Rec.approve_p72Name</span>


                    <small class="float-end">
                        <code>@_f.tra("Schvalovatel"):</code>
                        @(_f.j02PersonBL.Load(Model.Rec.j02ID_ApprovedBy).FullNameAsc+" / "+Model.Rec.p31Approved_When.ToString())
                    </small>
                </div>
            </div>
        </div>
    }

    @if (Model.Rec.p71ID == BO.p71IdENUM.Schvaleno)
    {
        <div class="card my-2">

            <div class="card-body">
                <div class="card-title">
                    <strong class="text-primary">@_f.tra("Schváleno")</strong>
                    <span class="badge-a@((int)Model.Rec.p72ID_AfterApprove)">@Model.Rec.approve_p72Name</span>


                    <small class="float-end">
                        <code>@_f.tra("Schvalovatel"):</code>
                        @(_f.j02PersonBL.Load(Model.Rec.j02ID_ApprovedBy).FullNameAsc+" / "+Model.Rec.p31Approved_When.ToString())
                    </small>
                </div>
                @if (Model.Rec.p33ID == BO.p33IdENUM.Cas)
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("K fakturaci"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Hours_Approved_Billing"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Schváleno nákladově"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Hours_Approved_Internal"></myval>
                        </div>
                    </div>
                    <div class="row my-2">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Fakturační sazba"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Rate_Billing_Approved" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nákladová sazba"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Rate_Internal_Approved"></myval>
                        </div>
                    </div>
                    @if (Model.Rec.p72ID_AfterApprove == BO.p72IdENUM.Fakturovat)
                    {
                        <div class="row my-2">
                            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Honorář"):</label>
                            <div class="col-sm-5 col-md-4">
                                <myval datatype="num" value="@Model.Rec.p31Amount_WithoutVat_Approved" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                            </div>

                        </div>
                    }

                }
                @if (Model.Rec.p33ID == BO.p33IdENUM.Kusovnik)
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("K fakturaci"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Value_Approved_Billing"></myval>
                        </div>

                    </div>
                }
                @if (Model.Rec.p72ID_AfterApprove == BO.p72IdENUM.Fakturovat && (Model.Rec.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.Rec.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu))
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Bez DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_WithoutVat_Approved" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Včetně DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_WithVat_Approved" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("DPH sazba"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31VatRate_Approved" valueafter="%"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_Vat_Approved" valueafter="@Model.Rec.j27Code_Billing_Orig"></myval>
                        </div>
                    </div>
                }

            </div>
        </div>
    }


    @if (Model.Rec.p91ID > 0)
    {
        <div class="card my-2">

            <div class="card-body">
                <div class="card-title">
                    <strong class="text-primary">@_f.tra("Vyúčtováno")</strong>

                    <span class="badge-a@((int)Model.Rec.p70ID)">@Model.Rec.p70Name</span>
                    <small class="float-end">
                        <code>@_f.tra("Vygenerováno"):</code>
                        @(Model.RecP91.Owner+" / "+BO.BAS.ObjectDateTime2String(Model.RecP91.DateInsert))
                    </small>
                </div>
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vyúčtování/Faktura"):</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="link" linkurl="/Record/RecPage?prefix=p91&pid=@Model.RecP91.pid" linktarget="_top" value="@(Model.RecP91.p92Name+": "+Model.RecP91.p91Code)"></myval>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
                    <div class="col-sm-5 col-md-4">
                        <myval datatype="link" linktarget="_top" linkurl="/Record/RecPage?prefix=p28&pid=@Model.RecP91.p28ID" value="@Model.RecP91.p91Client"></myval>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum plnění/vystavení"):</label>
                    <div class="col-sm-2 col-md-2">
                        <myval datatype="date" value="@Model.RecP91.p91DateSupply"></myval>
                    </div>                    
                    <div class="col-sm-2 col-md-2">
                        <myval tooltip="@_f.tra("Vystaveno")" datatype="date" value="@Model.RecP91.p91Date"></myval>
                    </div>
                </div>
                @if (Model.Rec.p33ID == BO.p33IdENUM.Cas && Model.Rec.p70ID == BO.p70IdENUM.Vyfakturovano)
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vyúčtované hodiny"):</label>
                        <div class="col-sm-3 col-md-2">
                            <myval datatype="num" value="@Model.Rec.p31Hours_Invoiced"></myval>
                        </div>

                        <div class="col-sm-2 col-md-2">
                            <myval value="@Model.Rec.p31HHMM_Invoiced"></myval>
                        </div>
                    </div>
                }
                @if (Model.Rec.p33ID == BO.p33IdENUM.Kusovnik && Model.Rec.p70ID == BO.p70IdENUM.Vyfakturovano)
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vyúčtováno ks"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Value_Invoiced"></myval>
                        </div>

                    </div>
                }
                @if ((Model.Rec.p33ID == BO.p33IdENUM.Cas || Model.Rec.p33ID == BO.p33IdENUM.Kusovnik) && Model.Rec.p70ID == BO.p70IdENUM.Vyfakturovano)
                {
                    <div class="row my-2">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Fakturační sazba"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Rate_Billing_Invoiced" valueafter="@Model.RecP91.j27Code"></myval>
                        </div>

                    </div>

                }
                @if (Model.Rec.p70ID == BO.p70IdENUM.Vyfakturovano)
                {
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Bez DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_WithoutVat_Invoiced" valueafter="@Model.RecP91.j27Code"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Včetně DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_WithVat_Invoiced" valueafter="@Model.RecP91.j27Code"></myval>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("DPH sazba"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31VatRate_Invoiced" valueafter="%"></myval>
                        </div>
                        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Částka DPH"):</label>
                        <div class="col-sm-5 col-md-4">
                            <myval datatype="num" value="@Model.Rec.p31Amount_Vat_Invoiced" valueafter="@Model.RecP91.j27Code"></myval>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>