@model UI.Models.Record.p31Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Úkon");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";

    if (Model.RecP34 != null)
    {
        Model.PageTitle += ": " + Model.RecP34.p34Name;
    }
}

@addTagHelper *, UI

@Html.Raw("<div class='modal_record_container'>")



<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Jméno"):</label>
    <div class="col-sm-2 col-md-3">
        <mycombo entity="j02Person" search-result-width="800" asp-for="Rec.j02ID" selectedtext="@Model.SelectedComboPerson" view-flag="1" myqueryinline="allowed_for_p31_entry|bool|1" event_after_changevalue="j02id_change"></mycombo>
    </div>
    <div class="col-sm-7 col-md-5"></div>

    @if (Model.lisLevelIndex.Count > 1)
    {

        <div class="col-sm-2 col-md-3" title="@_f.tra("Vertikální úroveň projektu")">
            <mydropdown asp-for="@Model.SelectedLevelIndex" datasource="@Model.lisLevelIndex" textfield="Text" valuefield="Value" event_after_changevalue="levelindex_change"></mydropdown>

        </div>
    }

</div>


<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label recpagelabel">@(_f.CurrentUser.getP07Level(Model.SelectedLevelIndex,true)):</label>

    <div class="col-sm-11 col-md-11">
        <mycombo entity="@(Model.ProjectEntity)" asp-for="Rec.p41ID" selectedtext="@Model.SelectedComboProject" view-flag="1" myqueryinline="j02id_for_p31_entry|int|@(Model.Rec.j02ID)" event_after_changevalue="p41id_change"></mycombo>
    </div>
</div>
@if (Model.ShowTaskComboFlag == 1)
{
    <div class="row my-2">
        <label class="col-sm-1 col-md-1 col-form-label">@(_f.tra("Úkol")):</label>

        <div class="col-sm-11 col-md-11">
            <mycombo entity="p56Task" asp-for="Rec.p56ID" selectedtext="@Model.SelectedComboTask" myqueryinline="p41id|int|@(Model.Rec.p41ID)|j02id|int|@(Model.Rec.j02ID)"></mycombo>
        </div>
    </div>
}
<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Aktivita"):</label>
    <div class="col-sm-9 col-md-8">
        @if (Model.RecP34 != null)
        {
            @if (Model.RecP34.p34ActivityEntryFlag == BO.p34ActivityEntryFlagENUM.AktivitaSeNezadava)
            {
                <input type="hidden" asp-for="Rec.p32ID" />
                <span class="val-readonly">@(Model.SelectedComboP32Name)</span>

            }
            else
            {
                <mycombo entity="p32Activity" asp-for="Rec.p32ID" selectedtext="@Model.SelectedComboP32Name" myqueryinline="p34id|int|@(Model.RecP34.pid)" event_after_changevalue="p32id_change"></mycombo>
            }

        }
        else
        {
            <span class="val-readonly">@_f.tra("Pro vyplnění aktivity je třeba vybrat sešit.")</span>
        }

    </div>
    <div class="col-sm-2 col-md-3">
        <mycombo entity="p34ActivityGroup" asp-for="Rec.p34ID" selectedtext="@Model.SelectedComboP34Name" myqueryinline="j02id_for_p31_entry|int|@(Model.Rec.j02ID)" event_after_changevalue="p34id_change" placeholder="@_f.tra("Sešit")"></mycombo>
    </div>
</div>

<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Datum"):</label>
    <div class="col-sm-2 col-md-2">
        <mydate asp-for="@Model.p31Date"></mydate>
    </div>
</div>

@if (Model.RecP34 != null)
{
    if (Model.RecP34.p33ID == BO.p33IdENUM.Cas && !Model.Setting.TimesheetEntryByMinutes)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Hodiny"):</label>
            <div class="col-sm-2 col-md-2">
                <myhours asp-for="Rec.Value_Orig" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>

            </div>
            <div class="col-sm-1 col-md-1">
                <input type="text" class="form-control" placeholder="@_f.tra("Čas od")" asp-for="@Model.Rec.TimeFrom" onchange="handle_recalc_duration()" />
            </div>
            <div class="col-sm-1 col-md-1">
                <input type="text" class="form-control" placeholder="@_f.tra("Čas do")" asp-for="@Model.Rec.TimeUntil" onchange="handle_recalc_duration()" />
            </div>
        </div>
    }
    if (Model.RecP34.p33ID == BO.p33IdENUM.Cas && Model.Setting.TimesheetEntryByMinutes)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Minuty"):</label>
            <div class="col-sm-2 col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="@Model.Rec.Value_Orig" />
                    <button type="button" tabindex="-1" class="btn btn-sm btn-outline-secondary" style="padding-left: 3px; padding-right: 3px;" onclick="setting()" title="Nastavení hodin"><span class="k-icon k-i-clock"></span></button>
                </div>


            </div>

        </div>
    }
    if (Model.RecP34.p33ID == BO.p33IdENUM.Kusovnik)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Počet"):</label>
            <div class="col-sm-2 col-md-3">
                <mynumber asp-for="Rec.Value_Orig"></mynumber>
            </div>
        </div>
    }

    if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Bez DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_WithoutVat_Orig"></mynumber>
            </div>
            <div class="col-sm-1 col-md-1">
                <mycombo entity="j27Currency" asp-for="Rec.j27ID_Billing_Orig" selectedtext="@Model.SelectedComboJ27Code" placeholder="@_f.tra("Měna")"></mycombo>

            </div>
            @if (Model.RecP34.p34IncomeStatementFlag == BO.p34IncomeStatementFlagENUM.Vydaj)
            {
                <div class="col-sm-2 col-md-2">

                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" class="form-control" asp-for="Rec.p31Code" placeholder="@_f.tra("Kód dokladu")" />
                </div>
                <div class="col-sm-1 col-md-2">
                    <mycombo entity="j19PaymentType" asp-for="Rec.j19ID" selectedtext="@Model.SelectedComboJ19Name" placeholder="@_f.tra("Druh úhrady")"></mycombo>

                </div>
            }

        </div>
    }
    if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("DPH%"):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.VatRate_Orig" decimal-digits="0"></mynumber>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Vč.DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_WithVat_Orig"></mynumber>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Částka DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_Vat_Orig"></mynumber>
            </div>
        </div>
    }


}

<div class="form-floating my-2">
    <textarea class="form-control" asp-for="Rec.p31Text"></textarea>
    <label for="Rec_p31Text">@_f.tra("Podrobný popis úkonu")</label>
</div>

@Html.EditorFor(m => m.ff1, "~/Views/Shared/_FreeFields.cshtml")

@if (Model.Setting.OfferTrimming)
{
    <div class="card">
        <div class="card-header">
            <input type="checkbox" id="chkIsValueTrimming" asp-for="@Model.IsValueTrimming" onchange="postback('isvaluetrimming')" />
            <label for="chkIsValueTrimming">@_f.tra("Zapsat korekci úkonu")</label>
        </div>

        @if (Model.IsValueTrimming)
        {
    <div class="card-body">
        <input type="radio" id="chkp72ID_AfterTrimming4" asp-for="Rec.p72ID_AfterTrimming" value="Fakturovat" onchange="postback('isvaluetrimming')" />
        <label for="chkp72ID_AfterTrimming4" class="badge-a4" style="margin:1px;">@_f.tra("Fakturovat")</label>
        <br />
        <input type="radio" id="chkp72ID_AfterTrimming6" asp-for="Rec.p72ID_AfterTrimming" value="ZahrnoutDoPausalu" onchange="postback('isvaluetrimming')" />
        <label for="chkp72ID_AfterTrimming6" class="badge-a6" style="margin:1px;">@_f.tra("Zahrnout do paušálu")</label>
        <br />
        <input type="radio" id="chkp72ID_AfterTrimming3" asp-for="Rec.p72ID_AfterTrimming" value="SkrytyOdpis" onchange="postback('isvaluetrimming')" />
        <label for="chkp72ID_AfterTrimming3" class="badge-a3" style="margin:1px;">@_f.tra("Skrytý odpis")</label>
        <br />
        <input type="radio" id="chkp72ID_AfterTrimming2" asp-for="Rec.p72ID_AfterTrimming" value="ViditelnyOdpis" onchange="postback('isvaluetrimming')" />
        <label for="chkp72ID_AfterTrimming2" class="badge-a2" style="margin:1px;">@_f.tra("Viditelný odpis")</label>
        <br />
        <input type="radio" id="chkp72ID_AfterTrimming7" asp-for="Rec.p72ID_AfterTrimming" value="FakturovatPozdeji" onchange="postback('isvaluetrimming')" />
        <label for="chkp72ID_AfterTrimming7" class="badge-a7" style="margin:1px;">@_f.tra("Fakturovat později")</label>
        @if (Model.RecP34 != null)
        {
            @if (Model.RecP34.p33ID == BO.p33IdENUM.Cas)
            {
                <input type="text" class="form-control" placeholder="@_f.tra("Hodiny k fakturaci")" asp-for="Rec.Value_Trimmed" />
            }
            @if (Model.RecP34.p33ID == BO.p33IdENUM.Kusovnik)
            {
                <input type="text" class="form-control" placeholder="@_f.tra("Počet k fakturaci")" asp-for="Rec.Value_Trimmed" />
            }
            @if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
            {
                <input type="text" class="form-control" placeholder="@_f.tra("Částka k fakturaci")" asp-for="Rec.Value_Trimmed" />
            }

        }


    </div>
        }

    </div>
}

@if (Model.RecP34 != null)
{
    @if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
        <div class="row my-2">
            <label class="col-sm-2 col-md-2 col-form-label recpagelabel">@_f.tra("Spočítat jako kusy x počet"):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.p31Calc_Pieces" placeholder="@_f.tra("Počet")"></mynumber>
            </div>
            <div class="col-sm-1 col-md-1 p-0">
                <mynumber asp-for="Rec.p31Calc_PieceAmount" placeholder="@_f.tra("Cena 1 kus")"></mynumber>
            </div>
            <div class="col-sm-1 col-md-1 p-0">
                <mycombo entity="p35Unit" asp-for="Rec.p35ID" selectedtext="@Model.SelectedComboP35Code" placeholder="@_f.tra("Jednotka")"></mycombo>

            </div>
            <div class="col-sm-2 col-md-2">
                <select class="form-select" asp-for="@Model.PiecePriceFlag">
                    <option value="1">@_f.tra("Kusová cena bez DPH")</option>
                    <option value="2">@_f.tra("Kusová cena vč. DPH")</option>
                </select>
            </div>
        </div>
    }

    @if (Model.RecP32 != null && Model.RecP32.p32IsSupplier)
    {
        <div class="row my-2">
            <label class="col-sm-2 col-md-2 col-form-label">@(_f.tra("Dodavatel")):</label>
            <div class="col-sm-10 col-md-10">
                <mycombo entity="p28Contact" asp-for="Rec.p28ID_Supplier" selectedtext="@Model.SelectedComboSupplier" view-flag="1" myqueryinline="canbe_supplier|bool|1"></mycombo>
            </div>
        </div>
    }
    @if (Model.RecP32 != null && Model.RecP32.p32IsCP)
    {
        <hr />
        <div class="form-floating my-2">
            <textarea class="form-control" asp-for="Rec.p31PostRecipient"></textarea>
            <label for="Rec_p31Text">@_f.tra("Adresát zásilky (Česká pošta)")</label>
        </div>
        <div class="row my-2">
            <label class="col-sm-2 col-md-2 col-form-label">@(_f.tra("Podací číslo zásilky")):</label>
            <div class="col-sm-10 col-md-10">
                <input type="text" class="form-control" asp-for="@Model.Rec.p31PostCode" />
            </div>
        </div>
        <div class="row my-2">
            <label class="col-sm-2 col-md-2 col-form-label">@(_f.tra("Typ psaní")):</label>
            <div class="col-sm-10 col-md-10">
                <select asp-for="@Model.Rec.p31PostFlag" class="form-select">
                    <option value="0"></option>
                    <option value="1">@_f.tra("Doporučené psaní")</option>
                    <option value="2">@_f.tra("Doporučený balík")</option>
                </select>
            </div>
        </div>
    }

    @if (Model.RecP32 != null && (Model.RecP32.p32MarginHidden != 0 || Model.RecP32.p32MarginTransparent != 0))
    {
        <hr />
        <div class="row my-2">
            <label class="col-sm-2 col-md-2 col-form-label recpagelabel">@_f.tra("Skrytá marže") (%):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.p31MarginHidden"></mynumber>
            </div>
            <label class="col-sm-2 col-md-2 col-form-label recpagelabel">@_f.tra("Přiznaná marže") (%):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.p31MarginTransparent"></mynumber>
            </div>
        </div>
    }
}

<table>
    <tr style="vertical-align:top;">
        <td>
            <mystitky entity="p31Worksheet" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml" buttontext="@_f.tra("Oštítkovat")"></mystitky>
        </td>
        <td>
            <a id="cmdMore" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="collapse" role="button" aria-expanded="false">@_f.tra("Více")</a>
        </td>
    </tr>
</table>

<div id="divMore" style="display:none;background-color:aliceblue;">

    @if (Model.RecP34 != null && _f.CurrentUser.IsRatesAccess && (Model.RecP34.p33ID == BO.p33IdENUM.Cas || (Model.RecP34.p33ID == BO.p33IdENUM.Kusovnik)))
    {
        <button type="button" class="btn btn-outline-secondary" onclick="simulation()"><span class="k-icon k-i-dollar"></span>@_f.tra("Simulace sazby")</button>
    }


    <button type="button" class="btn btn-outline-secondary" onclick="setting()"><span class="k-icon k-i-cogs"></span>@_f.tra("Nastavení")</button>
</div>




@Html.Raw("</div>")

<input type="hidden" asp-for="@Model.ShowTaskComboFlag" value="@Model.ShowTaskComboFlag" />



<script type="text/javascript">
var _p41id = "@(Model.Rec.p41ID)";
var _j02id = "@(Model.Rec.j02ID)";
var _p32id = "@(Model.Rec.p32ID)";
var _p33id = "";
@if(Model.RecP34 != null)
{
        @:_p33id = "@((int) Model.RecP34.p33ID)";
    }


    $(document).ready(function () {

        @if(Model.rec_pid==0 && Model.RecP32 !=null && Model.RecP32.p32DefaultWorksheetText != null)
            {
            @:$("#Rec_p31Text").text("@(Model.RecP32.p32DefaultWorksheetText)");
            }


    @if(Model.RecP34 !=null && (Model.RecP34.p33ID==BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu))
    {
        <text>

        $("#numRec_p31Calc_Pieces").on("input", function () {  //změna počtu kusů
            handle_recalc_after_pieces();
        });
        $("#numRec_p31Calc_PieceAmount").on("input", function () {  //změna počtu kusů
            handle_recalc_after_pieces();
        });
        $("#PiecePriceFlag").on("change", function () {
            var pocet = _string2number($("#numRec_p31Calc_Pieces").val());
            var cenaks = _string2number($("#numRec_p31Calc_PieceAmount").val());
            if (pocet * cenaks != 0) {
                handle_recalc_after_pieces();
            }

            _load_ajax_async("/Common/SetUserParam", { key: "p31/record-PiecePriceFlag", value: $(this).val() });
        })

        </text>
    }

    @if (Model.RecP34 !=null && Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
    <text>


        $("#numRec_Amount_WithoutVat_Orig").on("input", function () {   //změna částky bez dph
            handle_recalc_after_bezdph();
        });



        $("#numRec_Amount_WithVat_Orig").on("input", function () {  //změna částky vč. dph
            handle_recalc_after_vcdph();
        });


        $("#numRec_VatRate_Orig").on("input", function () {     //změna dph sazby
            var bezdph = _string2number($("#Rec_Amount_WithoutVat_Orig").val());
            if (bezdph != 0) {
                handle_recalc_after_bezdph();
                return;
            }
            handle_recalc_after_vcdph();

        });

      </text>
      }


        $("#cmdMore").click(function () {
            $("#divMore").toggle();
        });


        $("#Rec_p31Text").on("paste", function (e) {
            handle_clipboard_textarea(document.getElementById("Rec_p31Text"), e);
        });

        @if (Model.RecP34 !=null && Model.RecP34.p33ID == BO.p33IdENUM.Cas && !Model.Setting.TimesheetEntryByMinutes)
        {
            <text>
        handle_setup_cas_intervals("Rec_TimeFrom", "@Model.CasOdDoIntervals");
        handle_setup_cas_intervals("Rec_TimeUntil", "@Model.CasOdDoIntervals");

        $("#Rec_TimeFrom").on("selected.xdsoft", function (e, data) {
            handle_recalc_duration();
        });
        $("#Rec_TimeFrom").on("focus", function (e, data) {
            $(this).select();
        });
        $("#Rec_TimeUntil").on("selected.xdsoft", function (e, data) {
            handle_recalc_duration();
        });
        $("#Rec_TimeUntil").on("focus", function (e, data) {
            $(this).select();
        });

            </text>


        }




    });

    function postback(oper) {

        form1.action = _ep("/p31/Record?oper=" + oper);
        form1.submit();
    }

    function hardrefresh(pid, flag) {

        postback("postback");
    }



    function levelindex_change(cbx) {
        postback("levelindex");
    }
    function j02id_change(j02id) {
        postback("j02id");
    }
    function p34id_change(p34id) {
        $("#Rec_p32ID").val("0");
        postback("p34id");
    }
    function p32id_change(p32id) {
        postback("p32id");
    }
    function p41id_change(p41id) {
        postback("p41id");
    }


    function handle_recalc_after_bezdph() {
        if (_p33id != "5") return;

        bezdph = _string2number($("#numRec_Amount_WithoutVat_Orig").val());
        var dphsazba = _string2number($("#numRec_VatRate_Orig").val());
        var vcdph = _roundnum(bezdph + (bezdph * dphsazba / 100), 2);

        var dphcastka = _roundnum(vcdph - bezdph, 2);

        mynumber_changevalue("Rec_Amount_WithVat_Orig", vcdph, 2);
        mynumber_changevalue("Rec_Amount_Vat_Orig", dphcastka, 2);

    }
    function handle_recalc_after_vcdph() {
        if (_p33id != "5") return;

        var vcdph = _string2number($("#numRec_Amount_WithVat_Orig").val());
        var dphsazba = _string2number($("#numRec_VatRate_Orig").val());
        var bezdph = _roundnum(vcdph / (1 + dphsazba / 100), 2);

        var dphcastka = _roundnum((vcdph - bezdph), 2);

        mynumber_changevalue("Rec_Amount_WithoutVat_Orig", bezdph, 2);
        mynumber_changevalue("Rec_Amount_Vat_Orig", dphcastka, 2);

    }

    function handle_recalc_after_pieces() {
        var pocet = _string2number($("#numRec_p31Calc_Pieces").val());
        var cenaks = _string2number($("#numRec_p31Calc_PieceAmount").val());
        var celkem = _roundnum(pocet * cenaks, 2);

        if ($("#PiecePriceFlag").val() == "1") {
            //kusová cena bez DPH
            mynumber_changevalue("Rec_Amount_WithoutVat_Orig", celkem, 2);
            handle_recalc_after_bezdph();
        }
        if ($("#PiecePriceFlag").val() == "2" && _p33id=="5") {
            //kusová cena vč DPH
            mynumber_changevalue("Rec_Amount_WithVat_Orig", celkem, 2);
            handle_recalc_after_vcdph();
        }

    }

    function simulation() {
        var d = $("#p31Datehelper").val();

        _window_open("/p31oper/RateSimulation?d=" + d + "&p41id=" + _p41id + "&p32id=" + _p32id + "&j02id=" + _j02id);


    }

    function setting() {
        _window_open("/p31oper/hes?pagesource=timesheet");
    }



        function handle_setup_cas_intervals(controlid,intervals) {
            var arr = intervals.split("|");
            $("#" + controlid).autocomplete({
                source: [arr],
                visibleLimit: 20,
                openOnFocus: true,
                highlight: false,
                autoselect: true
            });

            $("#" + controlid).prop("filled", true);

            $("#" + controlid).on("focus", function (e, data) {
                $(this).select();
            });
        }

        function handle_recalc_duration() {
            var t1 = $("#Rec_TimeFrom").val();
            var t2 = $("#Rec_TimeUntil").val();
            $.post(_ep("/p31/Record_RecalcDuration"), { timefrom: t1, timeuntil: t2 }, function (data) {
                //spočítat hodiny z t1 - t2
                if (data.error != null) {
                    _notify_message(data.error);
                    return;
                }
                $("#Rec_TimeFrom").val(data.t1);
                $("#Rec_TimeUntil").val(data.t2);
                $("#Rec_Value_Orig").val(data.duration);
            });
        }

</script>
