@model UI.Models.Record.p31Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Úkon");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";

    if (Model.RecP34 != null)
    {
        Model.PageTitle += ": " + Model.RecP34.p34Name;
    }
}

@addTagHelper *, UI

@Html.Raw("<div class='modal_record_container'>")



<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Jméno"):</label>
    <div class="col-sm-2 col-md-3">
        <mycombo entity="j02Person" search-result-width="800" asp-for="Rec.j02ID" selectedtext="@Model.SelectedComboPerson" view-flag="1" myqueryinline="allowed_for_p31_entry|bool|1" event_after_changevalue="j02id_change"></mycombo>
    </div>
    @if (Model.lisLevelIndex.Count > 1)
    {

        <div class="col-sm-2 col-md-3" title="@_f.tra("Vertikální úroveň projektu")">
            <mydropdown asp-for="@Model.SelectedLevelIndex" datasource="@Model.lisLevelIndex" textfield="Text" valuefield="Value" event_after_changevalue="levelindex_change"></mydropdown>

        </div>
    }

</div>


<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label recpagelabel">@(_f.CurrentUser.getP07Level(Model.SelectedLevelIndex,true)):</label>

    <div class="col-sm-11 col-md-11">
        <mycombo entity="@(Model.ProjectEntity)" asp-for="Rec.p41ID" selectedtext="@Model.SelectedComboProject" view-flag="1" myqueryinline="j02id_for_p31_entry|int|@(Model.Rec.j02ID)"></mycombo>
    </div>
</div>
<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Sešit+Aktivita"):</label>
    <div class="col-sm-2 col-md-3">
        <mycombo entity="p34ActivityGroup" asp-for="Rec.p34ID" selectedtext="@Model.SelectedComboP34Name" myqueryinline="j02id_for_p31_entry|int|@(Model.Rec.j02ID)" event_after_changevalue="p34id_change" placeholder="@_f.tra("Sešit")"></mycombo>
    </div>
    <div class="col-sm-9 col-md-8">
        @if (Model.RecP34 != null)
        {
            <mycombo entity="p32Activity" asp-for="Rec.p32ID" selectedtext="@Model.SelectedComboP32Name" myqueryinline="p34id|int|@(Model.RecP34.pid)" placeholder="@_f.tra("Aktivita")"></mycombo>
        }
        else
        {
            <i>@_f.tra("Pro vyplnění aktivity je třeba vybrat sešit.")</i>
        }

    </div>

</div>

<div class="row my-2">
    <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Datum"):</label>
    <div class="col-sm-2 col-md-3">
        <mydate asp-for="@Model.p31Date"></mydate>
    </div>
</div>

@if (Model.RecP34 != null)
{
    if (Model.RecP34.p33ID == BO.p33IdENUM.Cas)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Hodiny"):</label>
            <div class="col-sm-2 col-md-2">
                <myhours asp-for="Rec.Value_Orig" showsettingbutton="true" hoursentryformat="@(_f.CurrentUser.j03DefaultHoursFormat)" hoursentryflag="@(_f.CurrentUser.j03HoursEntryFlagV7)"></myhours>
            </div>
        </div>
    }
    if (Model.RecP34.p33ID == BO.p33IdENUM.Kusovnik)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Počet"):</label>
            <div class="col-sm-2 col-md-3">
                <mynumber asp-for="Rec.Value_Orig"></mynumber>
            </div>
        </div>
    }

    if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Bez DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_WithoutVat_Orig"></mynumber>
            </div>
            <div class="col-sm-1 col-md-1">
                <mycombo entity="j27Currency" asp-for="Rec.j27ID_Billing_Orig" selectedtext="@Model.SelectedComboJ27Code" placeholder="@_f.tra("Měna")"></mycombo>

            </div>
            @if (Model.RecP34.p34IncomeStatementFlag == BO.p34IncomeStatementFlagENUM.Vydaj)
            {
                <div class="col-sm-2 col-md-2">

                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" class="form-control" asp-for="Rec.p31Code" placeholder="@_f.tra("Kód dokladu")" />
                </div>
                <div class="col-sm-1 col-md-2">
                    <mycombo entity="j19PaymentType" asp-for="Rec.j19ID" selectedtext="@Model.SelectedComboJ19Name" placeholder="@_f.tra("Druh úhrady")"></mycombo>

                </div>
            }

        </div>
    }
    if (Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
        <div class="row my-2">
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("DPH%"):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.VatRate_Orig" decimal-digits="0"></mynumber>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Vč.DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_WithVat_Orig"></mynumber>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Částka DPH"):</label>
            <div class="col-sm-2 col-md-2">
                <mynumber asp-for="Rec.Amount_Vat_Orig"></mynumber>
            </div>
        </div>
    }


}

<div class="form-floating my-2">
    <textarea class="form-control" asp-for="Rec.p31Text"></textarea>
    <label for="Rec_p31Text">@_f.tra("Podrobný popis úkonu")</label>
</div>


@if (Model.RecP34 != null && (Model.RecP34.p33ID == BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu))
{
    <div class="row my-2">
        <label class="col-sm-2 col-md-2 col-form-label recpagelabel">@_f.tra("Spočítat jako kusy x počet"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.p31Calc_Pieces" placeholder="@_f.tra("Počet")"></mynumber>
        </div>
        <div class="col-sm-1 col-md-1 p-0">
            <mynumber asp-for="Rec.p31Calc_PieceAmount" placeholder="@_f.tra("Cena 1 kus")"></mynumber>
        </div>
        <div class="col-sm-1 col-md-1 p-0">
            <mycombo entity="p35Unit" asp-for="Rec.p35ID" selectedtext="@Model.SelectedComboP35Code" placeholder="@_f.tra("Jednotka")"></mycombo>

        </div>
        <div class="col-sm-2 col-md-2">
            <select class="form-select" asp-for="@Model.PiecePriceFlag">
                <option value="1">@_f.tra("Kusová cena bez DPH")</option>
                <option value="2">@_f.tra("Kusová cena vč. DPH")</option>
            </select>
        </div>
    </div>
}



@Html.Raw("</div>")


<script type="text/javascript">
    var _p33id = "";
    @if(Model.RecP34 != null)
    {
        @:_p33id = "@((int) Model.RecP34.p33ID)";
    }
    $(document).ready(function () {


    @if(Model.RecP34 !=null && (Model.RecP34.p33ID==BO.p33IdENUM.PenizeBezDPH || Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu))
    {
        <text>

        $("#numRec_p31Calc_Pieces").on("input", function () {  //změna počtu kusů
            handle_recalc_after_pieces();
        });
        $("#numRec_p31Calc_PieceAmount").on("input", function () {  //změna počtu kusů
            handle_recalc_after_pieces();
        });
        $("#PiecePriceFlag").on("change", function () {
            var pocet = _string2number($("#numRec_p31Calc_Pieces").val());
            var cenaks = _string2number($("#numRec_p31Calc_PieceAmount").val());
            if (pocet * cenaks != 0) {
                handle_recalc_after_pieces();
            }

            _load_ajax_async("/Common/SetUserParam", { key: "p31/record-PiecePriceFlag", value: $(this).val() });
        })

        </text>
    }

    @if (Model.RecP34 !=null && Model.RecP34.p33ID == BO.p33IdENUM.PenizeVcDPHRozpisu)
    {
    <text>


        $("#numRec_Amount_WithoutVat_Orig").on("input", function () {   //změna částky bez dph
            handle_recalc_after_bezdph();
        });



        $("#numRec_Amount_WithVat_Orig").on("input", function () {  //změna částky vč. dph
            handle_recalc_after_vcdph();
        });


        $("#numRec_VatRate_Orig").on("input", function () {     //změna dph sazby
            var bezdph = _string2number($("#Rec_Amount_WithoutVat_Orig").val());
            if (bezdph != 0) {
                handle_recalc_after_bezdph();
                return;
            }
            handle_recalc_after_vcdph();

        });

      </text>
      }



    });

    function postback(oper) {

        form1.action = _ep("/p31/Record?oper=" + oper);
        form1.submit();
    }

    function hardrefresh(pid, flag) {

        postback("postback");
    }



    function levelindex_change(cbx) {
        postback("levelindex");
    }
    function j02id_change(j02id) {
        postback("j02id");
    }
    function p34id_change(p34id) {
        postback("p34id");
    }


    function handle_recalc_after_bezdph() {
        if (_p33id == "1" || _p33id == "3") return;

        bezdph = _string2number($("#numRec_Amount_WithoutVat_Orig").val());
        var dphsazba = _string2number($("#numRec_VatRate_Orig").val());
        var vcdph = _roundnum(bezdph + (bezdph * dphsazba / 100), 2);

        var dphcastka = _roundnum(vcdph - bezdph, 2);

        $("#numRec_Amount_WithVat_Orig").val(vcdph);
        $("#numRec_Amount_Vat_Orig").val(dphcastka);
    }
    function handle_recalc_after_vcdph() {
        if (_p33id == "1" || _p33id == "3") return;

        var vcdph = _string2number($("#numRec_Amount_WithVat_Orig").val());
        var dphsazba = _string2number($("#numRec_VatRate_Orig").val());
        var bezdph = _roundnum(vcdph / (1 + dphsazba / 100), 2);

        var dphcastka = _roundnum((vcdph - bezdph), 2);
        $("#numRec_Amount_WithoutVat_Orig").val(bezdph);
        $("#numRec_Amount_Vat_Orig").val(dphcastka);
    }

    function handle_recalc_after_pieces() {
        var pocet = _string2number($("#numRec_p31Calc_Pieces").val());
        var cenaks = _string2number($("#numRec_p31Calc_PieceAmount").val());
        var celkem = _roundnum(pocet * cenaks, 2);

        if ($("#PiecePriceFlag").val() == "1") {
            //kusová cena bez DPH
            $("#numRec_Amount_WithoutVat_Orig").val(celkem);
            handle_recalc_after_bezdph();
        }
        if ($("#PiecePriceFlag").val() == "2" && (_p33id=="2" || _p33id=="5")) {
            //kusová cena vč DPH
            $("#numRec_Amount_WithVat_Orig").val(celkem);
            handle_recalc_after_vcdph();
        }

    }
</script>