@model UI.Models.p31view.calendarViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.PageTitle = _f.tra("Kalendář");


}

@addTagHelper *, UI

@section header_content{

    <link rel="stylesheet" href="~/css/calendar.css" />


}


<div class="tabs_container_record">

    <!-- Tab panes -->
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <button class="btn btn-outline-secondary dropdown-toggle" id="cmdMore" title="@_f.tra("Nastavení")">
                <span class="k-icon k-i-gear"></span>
            </button>
        </li>
        <li style="width:170px;">
            <mycombo entity="j02Person" asp-for="@Model.j02ID" search-result-width="600" placeholder="@_f.tra("Osoba")" selectedtext="@Model.RecJ02.FullNameDesc" view-flag="1" myqueryinline="allowed_for_p31_entry|bool|1|j02isintraperson|bool|1" event_after_changevalue="j02id_change"></mycombo>
        </li>
        <li style="margin-left:1px;">
            <button title="@_f.tra("Předchozí")" type="button" class="btn btn-outline-secondary" onclick="month_prev()"><span class="k-icon k-i-arrow-end-left"></span></button>
        </li>
        <li style="width:110px;">
            <mydate asp-for="@Model.d0"></mydate>
        </li>
        <li>
            <button title="@_f.tra("Další")" type="button" class="btn btn-outline-secondary" onclick="month_next()"><span class="k-icon k-i-arrow-end-right"></span></button>
        </li>

        <li class="nav-item onetab" role="presentation">
            <a id="link_tab1" class="nav-link" href="javascript:reload(1)">@_f.tra("Měsíc")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab2" class="nav-link" href="javascript:reload(2)">@_f.tra("Měsíční agenda")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab3" class="nav-link" href="javascript:reload(3)">@_f.tra("Týden")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab4" class="nav-link" href="javascript:reload(4)">@_f.tra("Týdenní agenda")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab5" class="nav-link" href="javascript:reload(5)">@_f.tra("N-denní agenda")</a>
        </li>
        <li class="nav-item onetab" role="presentation">
            <a id="link_tab6" class="nav-link" href="javascript:reload(6)">@_f.tra("Přesný den")</a>
        </li>
    </ul>
</div>


<div id="divMore" style="background-color:aliceblue;display:none;">
    <div class="card">
        <div class="card-header">
            @_f.tra("Nastavení")
            <button type="button" id="cmdSaveSetting" class="btn btn-sm btn-success">@_f.tra("Uložit nastavení")</button>
        </div>
        <div class="card-body">
            <div>
                <input type="checkbox" id="chkShowLeftPanel" asp-for="@Model.ShowLeftPanel" />
                <label for="chkShowLeftPanel">@_f.tra("Zobrazovat levý panel")</label>
            </div>
            <div>
                <input type="checkbox" id="chkShowWeekend" asp-for="@Model.ShowWeekend" />
                <label for="chkShowWeekend">@_f.tra("Zobrazovat víkendy (So+Ne)")</label>
            </div>
            <div>
                <input type="checkbox" id="chkShowP31Recs" asp-for="@Model.ShowP31Recs" />
                <label for="chkShowP31Recs">@_f.tra("V buňkách kalendáře podrobný rozpis úkonů")</label>
            </div>
            <div>
                <input type="checkbox" id="chkShowP31RecsNoTime" asp-for="@Model.ShowP31RecsNoTime" />
                <label for="chkShowP31RecsNoTime">@_f.tra("V podrobném rozpisu úkonů uvádět i ne-časové úkony")</label>
            </div>
        </div>
    </div>
</div>


@if (Model.ShowLeftPanel)
{

    <div style="position:relative;">
        <div id="divLeftPanel">

            @Html.EditorFor(m => m, "~/Views/Shared/_CalendarPanel.cshtml")
        </div>

        <div id="divRightPanel">
            @{
                switch (Model.CurrentView)
                {
                    case UI.Models.p31view.CalendarViewEnum.Month:
                    case UI.Models.p31view.CalendarViewEnum.Week:
                        @Html.EditorFor(m => m, "~/Views/Shared/_CalendarMesic.cshtml");
                        break;
                    case UI.Models.p31view.CalendarViewEnum.MonthAgenda:
                    case UI.Models.p31view.CalendarViewEnum.WeekAgenda:
                    case UI.Models.p31view.CalendarViewEnum.NAgenda:
                        @Html.EditorFor(m => m, "~/Views/Shared/_CalendarAgenda.cshtml");
                        break;
                    case UI.Models.p31view.CalendarViewEnum.ExactDay:
                        @Html.EditorFor(m => m, "~/Views/Shared/_CalendarDay.cshtml");
                        break;

                }

            }

        </div>
    </div>
}
else
{
    <div id="divOnlyOnePanel">
        @{
            switch (Model.CurrentView)
            {
                case UI.Models.p31view.CalendarViewEnum.Month:
                case UI.Models.p31view.CalendarViewEnum.Week:
                    @Html.EditorFor(m => m, "~/Views/Shared/_CalendarMesic.cshtml");
                    break;
                case UI.Models.p31view.CalendarViewEnum.MonthAgenda:
                case UI.Models.p31view.CalendarViewEnum.WeekAgenda:
                case UI.Models.p31view.CalendarViewEnum.NAgenda:
                    @Html.EditorFor(m => m, "~/Views/Shared/_CalendarAgenda.cshtml");
                    break;
                case UI.Models.p31view.CalendarViewEnum.ExactDay:
                    @Html.EditorFor(m => m, "~/Views/Shared/_CalendarDay.cshtml");
                    break;
            }

        }
    </div>
}


<div id="zoomwin" style="position:absolute;top:0px;left:0px;z-index:8000;display:none;"></div>

<script type="text/javascript">
    var _cv = "@((int)Model.CurrentView)";
    var _cvs = "@(Model.CurrentView.ToString().ToLower())";
    var _ndays = parseInt("@((int)Model.AgendaNdays)");
    var _zoomwin = document.getElementById("zoomwin");
    var _lasturl = "";
    var _lastctl = null;

    $(document.body).css("overflow", "hidden");

        $(document).ready(function () {


            _mainmenu_highlight_current("cmdCalendar");
            $("#link_tab" + _cv).addClass("active");

            @if (Model.ShowLeftPanel)
            {
            <text>
            var lpH = _device.innerHeight - $("#divLeftPanel").offset().top - 2;
            $("#divLeftPanel").css("height", lpH);
            $("#divRightPanel").css("height", lpH);
            </text>
            }
            else
                    {
            <text>
            var lp = _device.innerHeight - $("#divOnlyOnePanel").offset().top - 2;
            $("#divOnlyOnePanel").css("height", lp);
            </text>
            }




            $("#d0helper").change(function () {
                        reload();
                    });

            $(".dc").dblclick(function () {
                var j02id = "@Model.j02ID";
                var d = $(this).attr("data-d");                
                _window_open("/p31/Record?j02id=" + j02id + "&d=" + d);
            });


            $("#cmdMore").click(function () {
                $("#divMore").toggle();
                    });


            $("#cmdSaveSetting").click(function () {
                        var k = [];
                        var v = [];
                        k.push("p31calendar-showweekend");
                        v.push($("#chkShowWeekend").prop("checked"));
                        k.push("p31calendar-showleftpanel");
                        v.push($("#chkShowLeftPanel").prop("checked"));
                        k.push("p31calendar-showp31recs");
                        v.push($("#chkShowP31Recs").prop("checked"));
                        k.push("p31calendar-showp31recsnotime");
                        v.push($("#chkShowP31RecsNoTime").prop("checked"));


                $.post("/Common/SetUserParams", { keys: k, values: v }, function (data) {
                            reload();

                        });


            });

            $(document).on("keydown", function (e) {
                if (e.keyCode == 27 && _zoomwin.style.display == "block") {   //klávese ESCAPE
                    zoom_close();
                }

            });

            $(document).on("click", function (e) {
                if ($(e.target).hasClass("mt_scheduler_valuelink") || $(e.target).hasClass("stat_link"))
                {
                    return;

                }

                zoom_close();



            });






        });

        function reload(cv) {
            var d = $("#d0helper").val();
            var url = "/p31calendar/Index?d=" + d;
            if (cv != undefined) {
                url = url + "&cv=" + cv;
                if (cv != _cv) {
                    $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-cv", value: cv }, function (data) {
                        //uložena změna druhu kalendáře
                    });
                }

            } else {
                url = url + "&cv=" + _cv;
            }
            _redirect(url);
        }

        function re(ctl, j02id, d) {
            var url = "/p31dayline/Zoom?j02id=" + j02id + "&d=" + d;
            zoom_open(ctl, url);

    }

    function zoom_allmonth(ctl) {
        var url = "/p31dayline/Zoom?j02id=@(Model.j02ID)&m=@(Model.m0)&y=@(Model.y0)";
        zoom_open(ctl, url);
    }
    function zoom_alldays(ctl) {
        if (_cvs == "month" || _cvs == "monthagenda") {
            zoom_allmonth(ctl);
            return;
        }
        var url = "/p31dayline/Zoom?j02id=@(Model.j02ID)&d1=@(BO.BAS.ObjectDate2String(Model.d1,"dd.MM.yyyy"))&d2=@(BO.BAS.ObjectDate2String(Model.d2,"dd.MM.yyyy"))";
        zoom_open(ctl, url);
    }
    function zoom_stat(ctl, p32isbillable, iswip, p70id, isapproved_and_wait4invoice,p28id,p41id,p32id) {
        var url = "/p31dayline/Zoom?j02id=@(Model.j02ID)";
        if (_cvs == "month" || _cvs == "monthagenda") {
            url = url + "&m=@(Model.m0)&y=@(Model.y0)";
        } else {
            url = url + "&d1=@(BO.BAS.ObjectDate2String(Model.d1,"dd.MM.yyyy"))&d2=@(BO.BAS.ObjectDate2String(Model.d2,"dd.MM.yyyy"))";
        }
        if (p32isbillable != undefined || p32isbillable != null) {
            url = url + "&p32isbillable=" + p32isbillable;
        }
        if (iswip != undefined || iswip != null) {
            url = url + "&iswip=" + iswip;
        }
        if (isapproved_and_wait4invoice != undefined || isapproved_and_wait4invoice != null) {
            url = url + "&isapproved_and_wait4invoice=" + isapproved_and_wait4invoice;
        }
        if (p70id != undefined || p70id != null) {
            url = url + "&p70id=" + p70id;
        }
        if (p28id != undefined || p28id != null) {
            url = url + "&p28id=" + p28id;
        }
        if (p41id != undefined || p41id != null) {
            url = url + "&p41id=" + p41id;
        }
        if (p32id != undefined || p32id != null) {
            url = url + "&p32id=" + p32id;
        }

        zoom_open(ctl, url);
    }

        function month_prev() {
            var d0 = datepicker_get_value("d0");
            if (d0 == null) {
                d0 = new Date();
            }
            var d1 = new Date(d0.getFullYear(), d0.getMonth() - 1, 1);
            if (_cvs == "week" || _cvs == "weekagenda") {
                d1 = new Date(d0.getTime() - 8 * 24 * 60 * 60 * 1000);
                d1 = get_next_monday(d1);
            }
            if (_cvs == "nagenda") {
                d1 = get_prev_days(d0, _ndays);
            }
            if (_cvs == "exactday") {
                d1 = get_prev_days(d0, 1);
            }

            datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change


        }
        function month_next() {
            var d0 = datepicker_get_value("d0");
            if (d0 == null) {
                d0 = new Date();
            }

            var d1 = new Date(d0.getFullYear(), d0.getMonth() + 1, 1);
            if (_cvs == "week" || _cvs == "weekagenda") {
                d1 = get_next_monday(d0);
            }
            if (_cvs == "nagenda") {
                d1 = get_next_days(d0, _ndays);
            }
            if (_cvs == "exactday") {
                d1 = get_next_days(d0, 1);
            }

            datepicker_set_value("d0", d1); //tímto se spustí se $("#d0helper").change

        }


    function zoom_open(ctl, url) {
        if (_lasturl == url && _lastctl == ctl && $("#zoomwin").css("display") == "block") {
            zoom_close();
            return;
        }
        url = _ep(url);
        _lasturl = url;
        _lastctl = ctl;

        $(".zoom_ctl_current").removeClass("zoom_ctl_current");
        $(ctl).addClass("zoom_ctl_current");

            var c = $("#zoomwin");

            var w = _device.innerWidth - 100;
            var h = 450;
            var y = $(ctl).offset().top + 20;
            if (y + h + 20 > _device.innerHeight) {
                y = $(ctl).offset().top - h - 2;
            }

            if (_device.innerWidth < w) w = _device.innerWidth;
            if (_device.innerHeight < h) h = _device.innerHeight;
            x = (_device.innerWidth - w) / 2;

            $(c).css("display", "block");
            $(c).css("width", w + "px");
            $(c).css("height", h + "px");
            $(c).css("left", x + "px");
            $(c).css("top", y + "px");
            $(c).html("<iframe id='frazoom' style='border:solid 1px gray;' width='" + (w - 50) + "px' height='" + (h - 40) + "px' src='" + url + "'></iframe>");

        }

        function zoom_close() {
            if ($("#zoomwin").css("display") == "block") {
                $("#zoomwin").css("display", "none");
            }

            $(".zoom_ctl_current").removeClass("zoom_ctl_current");
        }

        function j02id_change(j02id) {
            if (j02id=="" || j02id=="0")
            {
                j02id = "@(_f.CurrentUser.j02ID)";
            }

            $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-j02id", value: j02id }, function (data) {
                reload();

            });


    }


    function get_next_monday(d) {
        for (var i = 0; i < 7; i++) {
            d = new Date(d.getTime() + 1 * 24 * 60 * 60 * 1000);

            if (d.getDay() == 1) {
                return (d);
            }
        }

        alert("get_next_monday");
    }
    function get_next_days(d, days) {
        for (var i = 0; i < days; i++) {
            d = new Date(d.getTime() + 1 * 24 * 60 * 60 * 1000);
        }
        return (d);
    }
    function get_prev_days(d, days) {
        for (var i = 0; i < days; i++) {
            d = new Date(d.getTime() - 1 * 24 * 60 * 60 * 1000);
        }
        return (d);
    }

    function p31c(d,t1,t2) {
        var j02id = "@Model.j02ID";
        var url = "/p31/Record?j02id=" + j02id + "&d=" + d;
        if (t1 != null) {
            url = url + "&t1=" + t1 + "&t2=" + t2;
        }
        _window_open(url);
    }
    function p31_rec(pid) {
        _edit("p31", pid, "Úkon");
    }


    function change_agenda_descending(cbx) {
        $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-agendadescending", value: cbx.value }, function (data) {
            reload();
        });
    }
    function change_agenda_ndays(cbx) {
        $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-agendandays", value: cbx.value }, function (data) {
            reload();
        });
    }

    function change_minutesgap(cbx) {
        $.post(_ep("/Common/SetUserParam"), { key: "p31calendar-minutesgap", value: cbx.value }, function (data) {
            reload();
        });
    }

    function reccm(e,p31id) {
        _cm(e, "p31Worksheet", p31id, "calendar");
    }
</script>
