@model GridMultiSelect
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Vybrat záznamy");
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}



@addTagHelper *,UI

<div class="bg-light" style="padding:10px;">
    <button id="cmdOK" onclick="ok()" class="btn btn-success">@_f.tra("Vybrat")</button>
    <button id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
    <mark>@(Model.entityTitle)</mark>
    <i style="margin-left:20px;">@_f.tra("Vyberte jeden nebo více záznamů")...</i>

</div>

<vc:the-grid input="@Model.gridinput"></vc:the-grid>


<script type="text/javascript">

   

    function ok() {
        var pids = $("#tg_selected_pids").val();
        if (pids === "") {
            _notify_message("@_f.tra("Musíte vybrat minimálně jeden záznam.")");
            return;
        }

       

        
        window.parent.hardrefresh(0, "multiselect|"+pids);
        

        _window_close();
    }


    function change_grid(j72id) {
            $.post("/Common/SetUserParam", { key: "GridMultiSelect-j72id-@(Model.prefix)",value:j72id  }, function (data) {
                location.replace(location.href);

            });
        }

</script>


