@model UI.Models.RecPageViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    
    Model.PageTitle = Model.MenuCode;

}

@addTagHelper *, UI

<div class="input-group m-0" style="padding-top:1px;">
    <div class="tabovergrid" style="margin-left:1px;">
        @Model.TabName
    </div>

    @if (Model.ShowGridPanel && Model.pid > 0)
    {
        <div class="dropdown nonmobile">
            <button class="btn btn-light dropdown-toggle" type="button" id="cmdGridMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="TheGridIcon" class="k-icon k-i-table"></span>
                <span id="TheGridName">Grid<strong> & </strong>@_f.tra("Sloupce")</span>
            </button>
            <div id="divGridMenu" class="dropdown-menu" aria-labelledby="cmdGridMenu">
                Loading...
            </div>
        </div>
    }


    <div>
        <a class="btn btn-light" href="/Record/RecPage?prefix=@(Model.prefix)&pid=@(Model.pid)" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
        @if (_f.CurrentUser.j04IsMenu_Contact)
        {
            <a class="btn btn-light" href="@Model.Go2GridUrl" title="GRID"><span class="k-icon k-i-table-row-groups"></span></a>
        }

    </div>

    <div style="width:200px;">
        <mycombo entity="@Model.entity" asp-for="@Model.SearchedPid" search-result-width="800" selectedtext="@Model.SearchedText" filter-flag="1" placeholder="@_f.tra("Najít")..." event_after_changevalue="on_search"></mycombo>
    </div>
    <div class="p-2 nonmobile">
        <span>@Model.MenuCode</span>

    </div>

    <div class="nonmobile" style="margin-left:auto;">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="cmdPageSetting" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="k-icon k-i-gears"></span>
                @_f.tra("Nastavení stránky")
            </button>
            <div id="divRecPageSetting" class="dropdown-menu" aria-labelledby="cmdPageSetting" style="width:350px;">
                Loading...
            </div>

        </div>
    </div>

</div>

@if (Model.ShowGridPanel && Model.pid > 0)
{
    <div style="height:70px;">
        <vc:the-grid input="@Model.gridinput"></vc:the-grid>
    </div>
}


<div class="input-group bg-light m-0" style="padding-top:1px; padding-left:1px;">
    <div id="layout_sidebar_contextmenu">
        @if (Model.pid > 0)
        {
            <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" title="@Model.MenuCode" onclick="_cm(event, '@Model.prefix',@Model.pid);">☰@(Model.MenuCode) </a>
            <h4 id="layout_sidebar_contextmenu_onlytext"></h4>
        }

    </div>



</div>




@{ if (Model.ShowContextMenu)
    {
        @Html.Raw("<div id='layout_sidebar' class='cm_recpage'>Loading...</div>");
        @Html.Raw("<div id='layout_main'>");
    }
}


<div class="tabs_container bg@(Model.prefix)">
    <ul id="navtabs" class="nav nav-tabs">
        @foreach (var tab in Model.NavTabs)
        {
            <li class="nav-item onetab">
                <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                    @tab.Name
                    @if (tab.Badge != null)
                    {
                        <span class="badge bg-primary">@tab.Badge</span>
                    }
                </a>
            </li>
        }
    </ul>
</div>

<div id="divTabContent">
    <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="0" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
</div>

@{
    if (Model.ShowContextMenu)
    {
        @Html.Raw("</div>");
    }
}


<script type="text/javascript">
    var _prefix = "@Model.prefix";
    var _entity = "@Model.entity";

    $(document).ready(function () {

        var cmd = document.getElementById("cmdPageSetting");
        cmd.addEventListener("show.bs.dropdown", function () {

            $.post("/Menu/RecPageSetting", { prefix: _prefix }, function (data) {
                $("#divRecPageSetting").html(data);
            });

        });


        @if(Model.pid > 0 && Model.ShowContextMenu)
        {
            <text>
                $.post("/Menu/ContextMenu", {source: "recpage", entity: _entity, pid: @Model.pid }, function(data) {

                $("#layout_sidebar").html(data);

                });
            </text>

        }
        else
        {
        <text>
        $("#layout_main").css("display", "none");
        $("#layout_sidebar").html("");
        </text>
        }

        var offset = $("#divTabContent").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical);

        if (_device.type === "Phone")
        {
            h_vertical = 400;
        }

        $("#divTabContent").css("height", h_vertical + "px");

        _mainmenu_highlight_current("recpage"+_prefix,"cmd"+_prefix);

        @if(Model.pid > 0 && Model.ShowGridPanel)
        {
            <text>
        tg_select(1);
            </text>

        }
        

    });


    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
        $.post("/Common/SetUserParam", { key: "recpage-tab-"+_prefix, value: tab.id.replace("tab", "") }, function (data) {


        });
    }
    function change_grid(j72id) {
        $.post(_ep("/Common/SetUserParam"), { key: "masterview-j72id-"+_prefix, value: j72id }, function (data) {
            reload();

        });
    }

    function reload() {
        location.replace(_ep("/Record/RecPage?prefix="+_prefix+"&pid=@Model.pid"));
    }

    function on_search(pid) {
        location.replace(_ep("/Record/RecPage?prefix="+_prefix+"&pid=" + pid));
    }

    function save_page_setting(key,val) {
        $.post("/Common/SetUserParam", { key: key, value: val }, function (data) {
            reload();
        });
    }

    function grid_dblclick(row) {
        var pid = row.id.replace("r", "");
        _edit(_prefix, pid);
    }

</script>



