@model UI.Models.Recpage.j02RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;

    Model.PageTitle = Model.Rec.FullNameDesc;
}

@addTagHelper *, UI



<div class="row nowrap pt-1 bg-light m-0">
    <div id="layout_sidebar_contextmenu" class="col-auto">
        @if (Model.pid > 0)
        {
            <a id="layout_sidebar_contextmenu_link" class="cm h4 mx-0" title="@Model.Rec.FullNameDesc" onclick="_cm(event, 'j02',@Model.Rec.pid);">☰@(Model.Rec.FullNameAsc) </a>
            <h4 id="layout_sidebar_contextmenu_onlytext">
            </h4>
        }
        <mycombo entity="j02Person" asp-for="@Model.SearchedPid" search-result-width="600" selectedtext="@Model.SearchedText" filter-flag="1" placeholder="@_f.tra("Najít")..." event_after_changevalue="on_search"></mycombo>
    </div>
    @if (Model.pid > 0)
    {
        <div class="col-auto nonmobile tabovergrid">            
            @_f.tra("Stránka osoby")
        </div>

        <div class="col-auto">
            <a class="btn btn-light" href="/j02/RecPage?pid=@Model.pid" title="@_f.tra("Občerstvit")"><span class="k-icon k-i-reload"></span></a>
            <a class="btn btn-light" href="@Model.Go2GridUrl" title="GRID"><span class="k-icon k-i-table-row-groups"></span></a>
        </div>

    }

    <div class="col-auto p-2 nonmobile">
        <span>@Model.MenuCode</span>

    </div>

</div>

<div id="layout_sidebar" class="cm_recpage">Loading...</div>



<div id="layout_main">
    <div class="modal_record_container" style="max-height:230px;overflow-y:auto;overflow-x:hidden;">
        @Html.EditorFor(m => m, "~/Views/Shared/_j02RecPageContent.cshtml")
    </div>

    <div class="tabs_container">
        <ul id="navtabs" class="nav nav-tabs">
            @foreach (var tab in Model.NavTabs)
            {
                <li class="nav-item onetab">
                    <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)">
                        @tab.Name
                        @if (tab.Badge != null)
                        {
                            <span class="badge bg-primary">@tab.Badge</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="divTabContent">
        <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="0" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        @if(Model.pid>0)
        {
            <text>
            $.post("/Menu/ContextMenu", {source: "recpage", entity: "j02Person", pid: @Model.pid }, function(data) {

            $("#layout_sidebar").html(data);

            });
            </text>
        }
        else
        {
        <text>
        $("#layout_main").css("display", "none");
        $("#layout_sidebar").html("");
        </text>
        }

        var offset = $("#divTabContent").offset();
        var h_vertical = _device.innerHeight - offset.top;
        h_vertical = parseInt(h_vertical);

        if (_device.type === "Phone")
        {
            h_vertical = 400;
        }

        $("#divTabContent").css("height", h_vertical + "px");

        _mainmenu_highlight_current("recpagej02","cmdj02");




    });


    function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
        $("#navtabs .nav-link").removeClass("active");
        $(tab).addClass("active");
        $.post("/Common/SetUserParam", { key: "recpage-tab-j02", value: tab.id.replace("tab", "") }, function (data) {


        });
    }

    function on_search(pid) {
        location.replace(_ep("/j02/RecPage?pid=" + pid));
    }

</script>


