@model TheGridDesignerViewModel
@inject BL.TheEntitiesProvider _ep
@inject BL.Factory _f


@{
    
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    string _header = _ep.ByTable(Model.Rec.j72Entity).AliasPlural;
    if (_f.CurrentUser.j03LangIndex == 1)
    {
        _header = _ep.ByTable(Model.Rec.j72Entity).TranslateLang1;
    }
    if (_f.CurrentUser.j03LangIndex == 2)
    {
        _header = _ep.ByTable(Model.Rec.j72Entity).TranslateLang2;
    }

    if (Model.Rec == null || Model.Relations == null)
    {
        return;
    }



}

@addTagHelper *, UI

@section header_content{
    <link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
}

<style type="text/css">
    .button_field_append {
        visibility: hidden;
    }

    .tree_item:hover .button_field_append {
        visibility: visible;
    }

    .field_selected {
        background-color: khaki;
        border-radius: 3px;
    }

    .list1_item{
        cursor:pointer;
    }

    .timestamp {
        color: palevioletred;
    }

    .k-treeview .k-in.k-state-hover,
    .k-treeview .k-in.k-state-focused,
    .k-treeview .k-in.k-state-selected {
        border-color: transparent;
        background-color: transparent;
        color: black;
    }
</style>

<script src="/kendo/js/kendo.core.min.js"></script>

<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>



<h4>
    <span class="k-icon k-i-table-properties" style="font-size:170%;"></span>
    @_f.tra("GRID") [@_header]
    @_f.tra("Návrhář"):
    @if (Model.Rec.j72IsSystem == false)
    {
        <i>@Model.Rec.j72Name</i>
    }
    else
    {
        <i>@_f.tra("Výchozí GRID šablona")</i>
    }
</h4>


<div class="bg-light" style="padding:10px;">
    <button type="button" id="cmdSave" onclick="savechanges()" class="btn btn-success">@_f.tra("Uložit změny")</button>
    @if (Model.Rec.j72IsSystem == false && Model.HasOwnerPermissions == true)
    {
        <button type="button" id="cmdDelete" onclick="delete_record()" class="btn btn-danger">@_f.tra("Odstranit")</button>
    }
    <button type="button" id="cmdSaveAs" onclick="saveas()" class="btn btn-outline-success">@_f.tra("Uložit jako")...</button>
    @if (Model.Rec.j72IsSystem == false && Model.HasOwnerPermissions == true)
    {
        <button type="button" id="cmdRename" onclick="rename()" class="btn btn-outline-primary">@_f.tra("Přejmenovat")...</button>
    }

    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>


    <button type="button" id="cmdRestore2Factory" onclick="restore2factory()" class="btn btn-light" style="float:right;">@_f.tra("Nahodit Grid do továrního stavu")</button>

</div>
<form id="form1" asp-controller="TheGridDesigner" asp-action="Index" method="POST">


    <input type="hidden" asp-for="Rec.j72Columns" />
    <input type="hidden" asp-for="Rec.pid" />
    <input type="hidden" asp-for="Rec.j72Entity" />
    <input type="hidden" asp-for="Rec.j72MasterEntity" />
    <input type="hidden" asp-for="Rec.j72Name" />
    <input type="hidden" asp-for="@Model.HasOwnerPermissions" />
    <input type="hidden" asp-for="@Model.Rec.j72IsSystem" />



    <table>

        <tr style="vertical-align:top;">
            <td style="min-width:300px;">
                <h5>@_f.tra("Katalog sloupců")</h5>
                <kendotree kendo-datasource="@Model.treeNodes"></kendotree>


            </td>
            <td>
                <button type="button" id="cmdRemove" class="btn btn-outline-primary py-0" style="margin-top:100px;">
                    <span class="k-icon k-i-arrow-60-left"></span>
                </button>
            </td>
            <td>
                <h5>@_f.tra("Vybrané sloupce")</h5>

                <div class="list-group" id="list1" style="min-width:200px;min-height:100px;">
                    
                </div>





                <button type="button" id="cmdUp" class="btn btn-outline-primary py-0">
                    <span class="k-icon k-i-arrow-60-up"></span>
                </button>
                <button type="button" id="cmdDown" class="btn btn-outline-primary py-0">
                    <span class="k-icon k-i-arrow-60-down"></span>
                </button>
            </td>
        </tr>
    </table>
    @if (Model.lisQueryFields.Count() > 0)
    {
        <div class="card" style="min-width:1200px;">
            <div class="card-header">
                <span class="k-icon k-i-filter"></span> @_f.tra("Vnitřní filtrovací podmínka")
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onclick="handle_j73_append()">@_f.tra("Přidat řádek")</button>
                <button type="button" class="btn btn-outline-danger" onclick="handle_j73_clear()" style="margin-left:100px;">@_f.tra("Vyčistit")</button>
                <table class="table table-hover" style="table-layout: fixed;min-width:1200px;">
                    @for (var i = 0; i < Model.lisJ73.Count; i++)
                    {
                        <tr style="@(Model.lisJ73[i].CssTempDisplay)">
                            <td style="width:140px;">
                                <input type="hidden" asp-for="lisJ73[i].IsTempDeleted" value="@Model.lisJ73[i].IsTempDeleted" />
                                <input type="hidden" asp-for="lisJ73[i].j73ID" value="@Model.lisJ73[i].j73ID" />

                                <input type="hidden" asp-for="lisJ73[i].TempGuid" value="@Model.lisJ73[i].TempGuid" />

                                <select title="@_f.tra("Levá závorka")" asp-for="@Model.lisJ73[i].j73BracketLeft">
                                    <option value=""></option>
                                    <option value="(">(</option>
                                    <option value="((">((</option>
                                </select>
                                <select asp-for="@Model.lisJ73[i].j73Op">
                                    <option value="AND">@_f.tra("A zároveň")</option>
                                    <option value="OR">@_f.tra("Nebo")</option>
                                </select>

                            </td>
                            <td style="width:250px;">
                                <mydropdown asp-for="@Model.lisJ73[i].j73Column" datasource="@Model.lisQueryFields" valuefield="Field" textfield="Header" isfirstemptyrow="false" event_after_changevalue="handle_queryfield_change" datavalue="@Model.lisJ73[i].TempGuid"></mydropdown>

                            </td>
                            <td style="width:130px;">
                                <select asp-for="@Model.lisJ73[i].j73Operator" class="form-select" onchange="handle_queryoperator_change(this)">
                                    @if (Model.lisJ73[i].FieldType == "number")
                                    {
                                        <option value="INTERVAL">@_f.tra("Je interval")</option>
                                        <option value="GREATERZERO">@_f.tra("Je větší než nula")</option>
                                        <option value="ISNULLORZERO">@_f.tra("Je nula nebo prázdné")</option>
                                    }
                                    @if (Model.lisJ73[i].FieldType == "date")
                                    {
                                        <option value="INTERVAL">@_f.tra("Je interval")</option>
                                    }
                                    @if (Model.lisJ73[i].FieldType != "date" && Model.lisJ73[i].FieldType != "number")
                                    {
                                        <option value="EQUAL">@_f.tra("Je rovno")</option>
                                    }
                                    @if (Model.lisJ73[i].FieldType != "bool" && Model.lisJ73[i].FieldType != "number" && Model.lisJ73[i].FieldType != "date" && Model.lisJ73[i].FieldType != "bool1" && Model.lisJ73[i].FieldType != "bool1x")
                                    {
                                        <option value="NOT-EQUAL">@_f.tra("Není rovno")</option>
                                    }

                                    @if (Model.lisJ73[i].FieldType != "bool" && Model.lisJ73[i].FieldType != "bool1" && Model.lisJ73[i].FieldType != "bool1x")
                                    {
                                        <option value="ISNULL">@_f.tra("Je prázdné")</option>
                                        <option value="NOT-ISNULL">@_f.tra("Není prázdné")</option>
                                    }

                                    @if (Model.lisJ73[i].FieldType == "string")
                                    {
                                        <option value="CONTAINS">@_f.tra("Obsahuje")</option>
                                        <option value="STARTS">@_f.tra("Začíná na")</option>
                                    }

                                </select>
                            </td>
                            <td>
                                @if (Model.lisJ73[i].j73Operator != "ISNULL" && Model.lisJ73[i].j73Operator != "NOT-ISNULL" && Model.lisJ73[i].j73Operator != "GREATERZERO" && Model.lisJ73[i].j73Operator != "ISNULLORZERO")
                                {
                                    @if (Model.lisJ73[i].FieldType == "combo")
                                    {

                                        <mycombo asp-for="@Model.lisJ73[i].j73ComboValue" entity="@Model.lisJ73[i].FieldEntity" selectedtext="@Model.lisJ73[i].j73ValueAlias" filter-flag="1" masterprefix="@Model.lisJ73[i].MasterPrefix" masterpid="@Model.lisJ73[i].MasterPid"></mycombo>


                                    }
                                    @if (Model.lisJ73[i].FieldType == "multi")
                                    {

                                        <mycombochecklist asp-for="@Model.lisJ73[i].j73Value" selectedtext="@Model.lisJ73[i].j73ValueAlias" entity="@Model.lisJ73[i].FieldEntity" masterprefix="@Model.lisJ73[i].MasterPrefix" masterpid="@Model.lisJ73[i].MasterPid"></mycombochecklist>


                                    }
                                    @if (Model.lisJ73[i].FieldType == "string")
                                    {

                                        <input class="form-control" asp-for="@Model.lisJ73[i].j73Value" />

                                    }
                                    @if (Model.lisJ73[i].FieldType == "number")
                                    {
                                        <div class="row">
                                            <div class="col-auto">
                                                <mynumber asp-for="@Model.lisJ73[i].j73Num1"></mynumber>
                                            </div>
                                            <div class="col-auto" style="text-align:center;"> ⮄⮆ </div>
                                            <div class="col-auto btn-group">
                                                <mynumber asp-for="@Model.lisJ73[i].j73Num2"></mynumber>
                                            </div>
                                        </div>

                                    }
                                    @if (Model.lisJ73[i].FieldType == "date")
                                    {
                                        <div class="row">
                                            <div class="col-auto" title="@_f.tra("Pojmenované období")">
                                                <mydropdown asp-for="@Model.lisJ73[i].j73DatePeriodFlag" datasource="@Model.lisPeriods" valuefield="pid" textfield="Header" isfirstemptyrow="false"></mydropdown>

                                            </div>
                                            <div class="col-auto" title="@_f.tra("Začátek období ručně")">

                                                <mydate asp-for="@Model.lisJ73[i].j73Date1"></mydate>
                                            </div>
                                            <div class="col-auto" style="text-align:center;"> ⮄⮆ </div>
                                            <div class="col-auto" title="@_f.tra("Konec období ručně")">

                                                <mydate asp-for="@Model.lisJ73[i].j73Date2"></mydate>
                                            </div>
                                        </div>


                                    }
                                    @if (Model.lisJ73[i].FieldType == "bool")
                                    {
                                        <select asp-for="@Model.lisJ73[i].j73Value" class="form-select">
                                            <option value="1">@_f.tra("ANO")</option>
                                            <option value="0">@_f.tra("NE")</option>
                                        </select>

                                    }
                                   
                                    @if (Model.lisJ73[i].FieldType == "bool1" || Model.lisJ73[i].FieldType == "bool1x")
                                    {
                                        <select asp-for="@Model.lisJ73[i].j73Value" class="form-select">
                                            <option value="1">@_f.tra("ANO")</option>

                                        </select>

                                    }
                                }
                            </td>


                            <td style="width:60px;">
                                <select title="@_f.tra("Pravá závorka")" asp-for="@Model.lisJ73[i].j73BracketRight">
                                    <option value=""></option>
                                    <option value=")">)</option>
                                    <option value="))">))</option>
                                </select>


                            </td>
                            <td style="width:60px;">
                                <button type="button" class="btn btn-danger" title="@_f.tra("Odstranit řádek")" onclick="handle_delete_j73('@(Model.lisJ73[i].TempGuid)')">x</button>
                            </td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    }

    @if (Model.HasOwnerPermissions)
    {
        <div class="card">
            <div class="card-header">
                @_f.tra("Nasdílet GRID pro ostatní uživatele")
            </div>
            <div class="card-body">
                <div>
                    <input type="checkbox" asp-for="Rec.j72IsPublic" />
                    <label class="col-form-label" for="Rec_j72IsPublic">@_f.tra("Přístupné pro všechny uživatele")</label>
                </div>
                <mycombochecklist asp-for="@Model.j04IDs" entity="j04UserRole" selectedtext="@Model.j04Names" placeholder="@_f.tra("Vybrat aplikační role")..."></mycombochecklist>


            </div>
        </div>
    }
</form>








<script type="text/javascript">
    var _sels = [];

    $(document).ready(function () {

        $("#tree1").kendoTreeView(
            {
                dataSource: dstree1,
                template: "<div class='#: item.customvalue3 #'><img src='#:item.customvalue2#'/><span class='tree_item'> #: item.text # </span><button type='button' class='btn btn-sm btn-primary button_field_append' data-entity='#: item.customvalue1 #' data-field='#: item.id #' data-alias='#: item.text #'><span class='k-icon k-icon k-i-arrow-60-right'></span></button></div>"
            }
        );
        
        recovery_state();   //musí být spuštěno po naplnění stromu
        refresh_state();

        $("#list1 .list-group-item").removeClass("active");

        if ($("#list1 .list-group-item").length > 0) {
            $("#list1 .list-group-item").first().addClass("active");
        }
        

        $(".button_field_append").click(function (e) {
            handle_append_field(this, true);
        });

        $("#cmdUp").click(function () {
            $("#list1 .active").each(function () {
                var newPos = $("#list1 .list-group-item").index(this) - 1;

                if (newPos > -1) {
                    $("#list1 .list-group-item").eq(newPos).before("<a data-field='" + $(this).attr("data-field") +"' class='list1_item list-group-item list-group-item-action active'>" + $(this).text() + "</a>");
                    $(this).remove();

                    refresh_state();
                }


            });
            
        });

        $("#cmdDown").click(function () {
            var countOptions = $("#list1 .list-group-item").length;
            $("#list1 .active").each(function () {
                var newPos = $("#list1 .list-group-item").index(this) + 1;
                if (newPos < countOptions) {
                    $("#list1 .list-group-item").eq(newPos).after("<a data-field='" + $(this).attr("data-field") +"' class='list1_item list-group-item list-group-item-action active'>" + $(this).text() + "</a>");
                    $(this).remove();

                    refresh_state();
                }
            });
            
        });

        $("#list1").dblclick(function () {
            $("#cmdRemove").click();
        });

        $("#cmdRemove").click(function () {
            $("#list1 .active").each(function () {
                var field = $(this).attr("data-field");

                var cmd = $("button[data-field=" + field + "]");
                //$(cmd).css("visibility", "visible");
                $(cmd).parent().removeClass("field_selected");
                $(cmd).prop("disabled", false);
                $(this).remove();

            });

            $("#list1 .list-group-item").removeClass("active");

            if ($("#list1 .list-group-item").length > 0) {
                $("#list1 .list-group-item").first().addClass("active");
            }

            refresh_state();
        });

    });



    function handle_append_field(cmd, bolUpdateState) {
        var field = $(cmd).attr("data-field");       
        var alias = $(cmd).attr("data-alias");


        if (_sels.includes(field)) {
            _notify_message("Sloupec [" + field + "] již je ve výběru.", "info");
            return;
        }

       
        $(cmd).parent().addClass("field_selected");
        $(cmd).prop("disabled", true);

        $("#list1 .list-group-item").removeClass("active");

        $("#list1").append("<a class='list1_item list-group-item list-group-item-action active' data-field='" + field + "'>" + alias + "</a>");
        
        if (bolUpdateState == true) {
            refresh_state();
        }

    }



    function refresh_state() {
        _sels = [];
        $("#list1 .list-group-item").each(function () {
            if (typeof $(this).attr("data-field") != "undefined") {
                _sels.push($(this).attr("data-field"));
            } else {
                alert("Error: " + $(this).html());
            }
            
        });
        $("#Rec_j72Columns").val(_sels.join(","));

        if ($("#list1 .list-group-item").length>0) {
            $("#cmdRemove").prop("disabled", false);
            $("#cmdUp").prop("disabled", false);
            $("#cmdDown").prop("disabled", false);
        } else {
            $("#cmdRemove").prop("disabled", true);
            $("#cmdUp").prop("disabled", true);
            $("#cmdDown").prop("disabled", true);
        }

        $("#list1 .list-group-item").click(function () {
            $("#list1 .list-group-item").removeClass("active");
            $(this).addClass("active");
        });


    }

    function recovery_state() {
        var fields = $("#Rec_j72Columns").val();
        if (fields == "") return;
        var arr = fields.split(",");
        for (i = 0; i < arr.length; i++) {
            var field = arr[i];

            var cmd = $("button[data-field=" + field + "]").first();
            
            handle_append_field(cmd, false);
        }

        

        

    }



    function saveas() {
        var s = prompt("@_f.tra("Zadejte název nové GRID šablony")");
        if (s.length > 0) {
            form1.action = "/TheGridDesigner/Index?oper=saveas&j72name="+s;
            form1.submit();
        }
    }
    function rename() {
        var s = prompt("@_f.tra("Zadejte nový název GRID šablony")","@Model.Rec.j72Name");
        if (s.length > 0) {
            form1.action = "/TheGridDesigner/Index?oper=rename&j72name=" + s;
            form1.submit();
        }
    }

    function delete_record() {
        if (confirm("@_f.tra("Opravdu chcete nenávratně odstranit tuto GRID šablonu?")")) {
            form1.action = "/TheGridDesigner/Index?oper=delete";
            form1.submit();
        }

    }

    function restore2factory() {
        if (confirm("@_f.tra("Tovární stav = Výchozí sada sloupců, vyčištění sloupců, filtru a souhrnů. Mám pokračovat?")")) {

            var url = "@Url.Action("Index","TheGridDesigner", new { restore2factory = true})";
            form1.action = url;
            form1.submit();

        }
    }

    function savechanges() {
        var fields = $("#Rec_j72Columns").val();
        if (fields == "") {
            _notify_message("@_f.tra("Grid musí obsahovat minimálně jeden sloupec.")");
            return;
        }
        form1.submit();
    }



    function handle_j73_append() {
        form1.action = "/TheGridDesigner/Index?oper=add_j73";
        form1.submit();
    }
    function handle_delete_j73(guid) {
        form1.action = "/TheGridDesigner/Index?oper=delete_j73&guid=" + guid;
        form1.submit();

    }
    function handle_queryfield_change(cbx) {
        var guid = $(cbx).attr("data-value");
        
        form1.action = "/TheGridDesigner/Index?oper=changefield&guid=" + guid;
        form1.submit();
    }
    function handle_queryoperator_change(cbx) {
        form1.action = "/TheGridDesigner/Index?oper=postback";
        form1.submit();
    }
    function handle_j73_clear() {
        form1.action = "/TheGridDesigner/Index?oper=clear_j73";
        form1.submit();
    }
</script>



